{% extends 'master.html' %}
{% load i18n static %}

{% block mount_modules %} data-mount-modules='["sidenav"]'{% endblock %}

{% block react_modules %}
{# Including this script will allow the page to use the react component #}
<script
  type="module"
  src="{% static 'bundles/open_inwoner-react.js' %}"
></script>
{% endblock %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    <h1 class="utrecht-heading-1">
        {% trans "Veelgestelde vragen" %}
    </h1>

    {% include "components/Faq/Faq.html" with questions=faqs hide_title=True only %}
{% endblock %}
