{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags questionnaire_tags grid_tags product_tags utils string_tags %}

{% block header_image %}
<aside class="banner" aria-hidden="true">
    <img class="main-image" src="{{ hero_image_login }}" alt="Header image">
</aside>
{% endblock header_image %}

{% block content %}
    <div class="home">
    {% block user_content %}
        <div class="grid__welcome">
            <h1 class="h1">{{configurable_text.home_page.home_welcome_title}}</h1>
            <p class="p">{{configurable_text.home_page.home_welcome_intro|linebreaksbr}}</p>
        </div>
    {% endblock %}


    <h2 class="h2">
        {{configurable_text.home_page.home_theme_title}}
        {% trans "Alle onderwerpen" as button_text %}
        {% button href='products:category_list' text=button_text icon="arrow_forward" icon_position="after" %}
    </h2>
    <p class="p">{{configurable_text.home_page.home_theme_intro|linebreaksbr}}</p>

    {% if request.user.is_authenticated %}
        {% card_container categories=categories columns=4 image_object_fit="cover" %}
    {% else %}
        {% card_container categories=categories image_object_fit="cover" %}
    {% endif %}

    {% if questionnaire_roots.exists %}
        <h2 class="h2">{{configurable_text.home_page.home_questionnaire_title}}</h2>
        {% optional_paragraph configurable_text.home_page.home_questionnaire_intro %}
        {% questionnaire root_nodes=questionnaire_roots %}
    {% endif %}

    {% if condition %}
        {% product_finder condition=condition form=condition_form form_action="products:product_finder" primary_text=_("Start") %}
    {% endif %}

    <h2 class="h2">{{configurable_text.home_page.home_map_title}}</h2>
    <p class="p">{{configurable_text.home_page.home_map_intro|linebreaksbr}}</p>

    {% with centroid=product_locations.get_centroid %}
        {% map centroid.lat centroid.lng geojson_feature_collection=product_locations.get_geojson_feature_collection %}
    {% endwith %}
    </div>
{% endblock %}
