{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags questionnaire_tags utils %}


{% block header_image %}
    <img class="main-image" src="{{ hero_image_login }}" alt="Header image">
{% endblock header_image %}

{% block content %}
    <div class="grid__welcome">
        <h1 class="h1">{{configurable_text.home_page.home_welcome_title}}</h1>
        <p class="p">{{configurable_text.home_page.home_welcome_intro|linebreaksbr}}</p>
    </div>


    <h1 class="h1">
        {{configurable_text.home_page.home_theme_title}}
        {% trans "Alle thema's" as button_text %}
        {% button href='pdc:category_list' text=button_text icon="arrow_forward" icon_position="after" %}
    </h1>
    <p class="p">{{configurable_text.home_page.home_theme_intro|linebreaksbr}}</p>

    {% card_container categories=categories %}

    {% questionnaire root_nodes=questionnaire_roots %}

    <h1 class="h1">{{configurable_text.home_page.home_map_title}}</h1>
    <p class="p">{{configurable_text.home_page.home_map_intro|linebreaksbr}}</p>

    {% with centroid=product_locations.get_centroid %}
        {% map centroid.lat centroid.lng geojson_feature_collection=product_locations.get_geojson_feature_collection %}
    {% endwith %}
{% endblock %}
