.approval-container {
  &--solo {
    display: flex;

    .avatar {
      padding: 15px 15px 10px;
      margin-top: var(--gutter-width);
      border: var(--border-width) solid var(--color-success-lighter);
      border-radius: var(--border-radius);
    }
  }
}

.approval {
  flex-direction: column;
  background-color: var(--color-success-lighter);
  margin-top: var(--gutter-width);
  border-radius: var(--border-radius);

  &__header {
    padding: var(--spacing-medium);
  }

  &__single {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);
    margin: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);
    margin: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    border-bottom: var(--border-width) solid var(--color-mute);

    p,
    form {
      flex: 1;
    }
  }

  p {
    margin: 0;
  }

  @media (min-width: 768px) {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 var(--spacing-giant);
    }

    &--solo {
      width: 50%;
    }
  }
}

/// filters

.contacts {
  font-family: var(--font-family-body);

  .contacts__filters {
    &--open {
      .contacts__filter-container {
        display: grid;
        max-width: 300px;
      }
    }
  }

  .contacts__filter-button {
    border-bottom: 1px solid var(--color-gray-light);
    padding: 8px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .contacts__filter-container {
    align-items: center;
    border-bottom: 1px solid var(--color-white);
    display: none;
    gap: var(--spacing-medium);
    grid-template-columns: 1fr;
    margin-bottom: var(--spacing-medium);
    padding: 8px;

    .form__control > .label {
      flex-direction: column;
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: var(--spacing-giant);
    }

    .input {
      min-width: 300px;
    }
  }
}
