.approval {
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent-lighter);
  margin-top: var(--gutter-width);
  border-radius: var(--border-radius);

  &__header {
    padding: var(--spacing-medium);
  }

  &__single {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);
    margin: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);
    margin: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    border-bottom: var(--border-width) solid var(--color-mute);

    p,
    form {
      flex: 1;
    }

    button[name='contact_reject'] {
      color: var(--color-danger-lighter);
    }
  }

  p {
    margin: 0;
  }

  @media (min-width: 768px) {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 var(--spacing-giant);
    }

    &--single {
      width: 50%;
    }
  }
}
