.feedback {
  margin: var(--row-height-giant) 0 0 0;
  &__remark {
    display: none;

    &--show {
      display: block;
    }
  }

  &__options {
    border-radius: var(--border-radius);
  }

  .button-radio {
  }
}
