.feedback {
  margin: var(--spacing-giant) 0 0 0;

  &__translations {
    display: contents;
  }

  .form {
    gap: var(--row-height-small);
    padding: 0;
  }

  &__remark {
    display: none;

    &--show {
      display: block;
    }
  }

  &__options {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
  }

  .textarea {
    box-sizing: border-box;
    width: 100%;
  }

  &__submit {
    .form__actions {
      display: flex;
    }
  }
}
