{% extends 'base_pdf.html' %}
{% load i18n link_tags file_tags %}

{% block content %}

    <h1 class="h1">{{ object.get_full_name }}</h1>

    <table class="table">
        <tr>
            <th class="table__header">{% trans "Email" %}</th>
            <td class="table__item">{{ object.email }}</td>
        </tr>
        <tr>
            <th class="table__header">{% trans "Birthday" %}</th>
            <td class="table__item">{{ object.birthday|default:"-" }}</td>
        </tr>
        <tr>
            <th class="table__header">{% trans "Address" %}</th>
            <td class="table__item">{{ object.get_address|default:"-" }}</td>
        </tr>
        <tr>
            <th class="table__header">{% trans "Actief sinds" %}</th>
            <td class="table__item">{{ object.date_joined}}</td>
        </tr>

        {% if object.bsn %}
        <tr>
            <th class="table__header">{% trans "BSN" %}</th>
            <td class="table__item">{{ object.bsn}}</td>
        </tr>
        {% endif %}

        <tr>
            <th class="table__header">{% trans "Interessegebieden" %}</th>
            <td class="table__item">{{ object.get_interests }}</td>
        </tr>
        <tr>
            <th class="table__header">{% trans "Communicatievoorkeuren" %}</th>
            <td class="table__item">{{ request.user.get_active_notifications }}</td>
        </tr>
    </table>


    <h2 class="h2 h2--extra">{% trans "Netwerkcontacten" %}</h2>
    {% include "export/include/contacts.html" %}


    <h2 class="h2 h2--extra">{% trans "Acties" %}</h2>
    {% include "export/include/actions.html" with actions=object.actions.visible %}


    <h2 class="h2 h2--extra">{% trans "Bestanden" %}</h2>
    {% if object.get_all_files %}
        {% file_table files=object.get_all_files download_view="accounts:documents_download" %}
    {% endif %}

{% endblock %}
