{% load table_tags %}
{% spaceless %}
    {% if table.body %}
    <table class="table">
    <tbody class="table__body">
        {% for row in table.body %}
            <tr class="table__row">
                {% for header in row.headers %}
                    <th class="table__header table__header--status">{{ header.text }}</th>
                {% endfor %}
                {% for cell in row.cells %}
                    <td class="table__item table__item--status">
                        {% if cell.url %}
                        <span class="table__item--wrapper">
                            {{ cell.text|linebreaksbr }} <a href="{{ cell.url }}" class="{{ cell.class }}">{{ cell.hyperlink_text }}</a>
                        </span>{% else %}
                            {{ cell.text|linebreaksbr }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endspaceless %}
