.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  scroll-margin-top: 122px;

  @media (min-width: 768px) {
    scroll-margin-top: 16px;
  }
}

.anchor-menu {
  position: sticky;
  top: calc(2 * var(--row-height));
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1002;

  &--desktop {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    .button--pill {
      &:before {
        content: none;
      }
    }
  }

  &--mobile {
    box-sizing: border-box;
    padding: 0 (var(--spacing-large));
    margin: var(--spacing-medium) var(--spacing-tiny) 0 var(--spacing-tiny);
    position: initial;
    width: calc(100% - (var(--spacing-tiny)));

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;

    @media (min-width: 768px) {
      display: flex;
      overflow-x: visible;
      flex-direction: column;
    }
  }

  &__start-inquiry {
    margin-left: var(--spacing-large);
  }

  &__list-item {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &__list-item .link {
    padding: var(--spacing-medium) 0 var(--spacing-medium) var(--spacing-medium);

    @media (min-width: 768px) {
      border-left: var(--border-width) solid var(--color-gray-light);
    }
  }

  &__list-item--active > .link {
    font-weight: bold;

    @media (min-width: 768px) {
      border-left-color: var(--color-primary);
    }
  }

  // nested list
  &__sublist {
    list-style-type: none;
    padding: 0;
    line-height: var(--spacing-large);

    li .link {
      padding: var(--spacing-small) 0 var(--spacing-small)
        var(--spacing-extra-large);
      font-size: var(--font-size-body-small);
    }

    &--mobile {
      li > a {
        font-size: var(--font-size-heading-4) !important;
      }
    }
  }

  &--mobile__title {
    box-sizing: border-box;
    padding: var(--spacing-large) var(--spacing-large) var(--spacing-medium)
      var(--spacing-large);
  }

  .button {
    margin: 0;
    height: var(--row-height);

    @media (min-width: 768px) {
      margin: var(--spacing-medium) 0;
      height: var(--row-height-big);
      border-radius: var(--border-radius);
    }
  }

  /// toggle styles

  &--mobile {
    .anchor-menu--container {
      border-top: 1px solid var(--color-gray-light);
      border-bottom: 1px solid var(--color-gray-light);
      padding: var(--spacing-small) 0;

      .anchor-menu__toggle {
        font-size: var(--font-size-heading-3);
        color: var(--font-color-body);
        justify-content: space-between;
        padding: var(--spacing-extra-large) var(--spacing-medium);
        width: 100%;
      }
    }

    // Toggle closed
    .anchor-menu__list {
      display: none;
    }
  }
  // Toggle open
  &--mobile &__list--open {
    .anchor-menu__list {
      display: block;

      &-item .link {
        font-size: var(--font-size-heading-3);
      }
    }

    .anchor-menu__toggle {
      color: var(--color-primary);
      font-weight: bold;
    }

    .material-icons {
      display: inline-block;
      transition: all 0.3s;
      transform: rotate(180deg);
      top: 0;
      right: var(--spacing-large);
    }
  }
}

/// Scroll
.anchor {
  &__scroll {
    display: none;
    position: fixed;
    bottom: var(--spacing-large);
    right: var(--spacing-large);
    z-index: 1005;

    @media (min-width: 768px) {
      position: static;
      display: none;
    }

    &-link {
      position: static;

      @media (min-width: 768px) {
        position: static;
        display: none;
      }

      .link {
        border-color: transparent;
      }
    }
  }
}
