.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  scroll-margin-top: 122px;

  @media (min-width: 768px) {
    scroll-margin-top: 16px;
  }
}

.anchor-menu {
  position: sticky;
  top: calc(2 * var(--row-height));
  width: 100%;
  list-style: none;
  margin: 0;
  padding: var(--spacing-extra-large);
  z-index: 1002;

  &--desktop {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    .button--pill {
      &:before {
        content: none;
      }
    }
  }

  &--mobile {
    box-sizing: border-box;
    background-color: hsl(40, 18%, 97%);
    margin: var(--spacing-extra-large) var(--spacing-extra-large) 0
      var(--spacing-extra-large);
    position: initial;
    width: calc(100% - 2 * (var(--spacing-extra-large)));

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;

    @media (min-width: 768px) {
      display: flex;
      overflow-x: visible;
      flex-direction: column;
    }
  }

  &__start-inquiry {
    margin-left: var(--spacing-large);
  }

  .link {
    box-sizing: border-box;
    padding: var(--spacing-medium) var(--spacing-large) var(--spacing-medium)
      var(--spacing-large);

    @media (min-width: 768px) {
      border-left: var(--border-width) solid;
      border-color: var(--color-gray-light);
      padding: var(--spacing-large);
    }
  }

  &__list-item--active .link {
    font-weight: bold;

    @media (min-width: 768px) {
      border-color: var(--color-primary);
    }
  }

  &--mobile__title {
    box-sizing: border-box;
    padding: var(--spacing-large) var(--spacing-large) var(--spacing-medium)
      var(--spacing-large);

    &.h4 {
      color: var(--color-primary);
      font-weight: bold;
    }
  }

  .button {
    margin: 0;
    height: var(--row-height);

    @media (min-width: 768px) {
      margin: var(--spacing-medium) 0;
      height: var(--row-height-big);
      border-radius: var(--border-radius);
    }
  }
}

.anchor {
  &__scroll {
    display: none;
    position: fixed;
    bottom: var(--spacing-large);
    right: var(--spacing-large);
    z-index: 401;

    @media (min-width: 768px) {
      position: static;
      display: none;
    }

    &-link {
      position: static;

      @media (min-width: 768px) {
        position: static;
        display: none;
      }

      .link {
        border-color: transparent;
      }
    }
  }
}
