///
/// Header.
///
$hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
$vm: var(--spacing-large);

.header {
  z-index: 1003;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  border-bottom: var(--border-width) solid;
  border-image: var(--border-image);
  border-image-slice: 1;

  @media (min-width: 768px) {
    position: relative;
  }

  &__container {
    box-sizing: border-box;
    display: grid;
    grid-column-gap: var(--gutter-width);
    position: relative;
    grid-template-columns: 1fr calc(2 * var(--row-height));
    grid-template-rows: calc(2 * var(--row-height));

    > .header__actions {
      display: none;
    }

    > .primary-navigation {
      display: none;
    }

    @media (min-width: 768px) {
      padding: 0 $hm;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: calc(var(--header-height) - var(--row-height) * 2) var(
          --row-height
        );

      > .header__actions {
        display: block;
        grid-column: 9 / span 4;
      }

      > .primary-navigation {
        display: block;
        grid-column: 1 / span 12;
      }
    }
  }

  /// Layout.

  .logo {
    height: 100%;
    padding: 8px 8px 8px 0;
    box-sizing: border-box;
    width: fit-content;

    @media (min-width: 768px) {
      height: auto;
      grid-column: 1 / span 6;
      margin: var(--spacing-large) var(--spacing-large) var(--spacing-large) 0;
    }
    @media (max-width: 767px) {
      padding: 8px;
    }

    img {
      max-height: 75px;
    }
  }

  &__menu {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__menu &__button {
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--color-gray-light);
    border-bottom: none;
    height: calc(2 * var(--row-height));
    width: calc(2 * var(--row-height));
  }

  &__menu &__button &__menu-icon {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    *[class*='icon'],
    *[class*='Icon'] {
      font-size: 36px;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__submenu {
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    border-left: none;
    border-right: none;
    bottom: 0;
    background-color: var(--color-white);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: calc(100% - (2 * var(--row-height)));
    max-width: 100%;
    overflow-y: auto;
    padding: var(--spacing-extra-large);
    position: fixed;
    right: 0;
    top: calc(2 * var(--row-height));
    width: 100%;
    z-index: 2;

    @media (min-width: 768px) {
      display: none;
    }
  }
  &__submenu::backdrop {
    display: none;
  }

  .primary-navigation {
    grid-area: nv;
    width: 100%;

    @media (min-width: 768px) {
      grid-area: none;
      left: 0;
      bottom: 0;
      position: absolute;
      padding: 0 $hm;
    }
  }

  .breadcrumbs {
    grid-area: bc;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
  }

  &__text-actions {
    align-items: center;
    display: flex;
    order: 3;
    justify-content: space-between;
    height: var(--row-height);
    white-space: nowrap;
    width: 100%;

    @media (min-width: 768px) {
      justify-content: flex-end;
      order: 1;
    }
  }

  &__actions &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__actions &__list-item {
    display: inline;
    margin-left: var(--spacing-extra-large);
  }

  .form {
    @media (max-width: 767px) {
      width: 100%;
    }

    .form__actions {
      margin: 0;
    }

    .input {
      min-width: auto;
    }
  }
}

///
/// Mobile header.
///

@media (max-width: 767px) {
  .body--open .header .header__container .header__menu .header__button--open {
    //background-color: lavender !important;
  }

  .body .header__button .header__menu-icon .open {
    display: none;
  }
  .body--open .header__button--open .header__menu-icon .open {
    display: inline;
  }
  .body .header__button .header__menu-icon .closed {
    display: inline;
  }
  .body--open .header__button--open .header__menu-icon .closed {
    display: none;
  }

  .header {
    div > div > dialog > nav.primary-navigation > ul > li:nth-child(2) > span {
      position: absolute;
      display: inline-block;
      transition: all 1.3s;
      transform: rotate(0deg);
      top: 0;
      right: var(--spacing-large);
      z-index: 30000;
      background-color: lightyellow;
    }
  }

  .body--open {
    .header {
      border-bottom: var(--border-width) dotted var(--color-white);
      border-image-slice: unset;
      border-image: none;

      .header__actions {
        box-sizing: border-box;
        width: calc(100% - var(--spacing-extra-large));
        padding: 0 0 0 var(--spacing-medium);
        margin: var(--spacing-extra-large) 0 0 0;

        .form-inline {
          border-bottom: 1px solid var(--color-gray-light);
        }

        .header__text-actions,
        .form-inline {
          border-top: 1px solid var(--color-gray-light);
          border-bottom: 1px solid var(--color-gray-light);
          padding: var(--spacing-extra-large) 0 var(--spacing-extra-large)
            var(--spacing-extra-large);
          margin: var(--spacing-extra-large) 0 var(--spacing-extra-large) 0;
        }
      }

      .header__submenu {
        border-top: 1px solid var(--color-white);
      }

      &__menu {
        .header {
          &__button--open {
            border: 1px solid var(--color-white);
          }
        }
      }

      div > div > dialog > nav.primary-navigation > ul > li {
        position: relative;
      }

      div
        > div
        > dialog
        > nav.primary-navigation
        > ul
        > li:nth-child(2)
        > span {
        position: absolute;
        display: inline-block;
        transition: all 1.3s;
        transform: rotate(180deg);
        top: 0;
        right: var(--spacing-large);
        z-index: 30000;
        background-color: lightyellow;
      }
    }
  }
}
