///
/// Header.
///

.header {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  $vm: var(--spacing-large);
  box-sizing: border-box;
  display: grid;
  grid-column-gap: var(--gutter-width);
  padding: 0 $hm;
  position: relative;

  grid-template-areas:
    'lg    lg    lg    lg'
    'actns actns actns actns'
    'nv    nv    nv    nv'
    'bc    bc    bc    bc';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:
    calc(
      var(--header-height) - var(--row-height) * 3 + var(--spacing-large) * 2
    )
    auto
    var(--row-height)
    var(--row-height);

  @media (min-width: 768px) {
    grid-template-areas:
      'lg lg lg lg lg lg lg lg lg actns actns actns'
      'nv nv nv nv nv nv nv nv nv nv    nv    nv'
      'bc bc bc bc bc bc bc bc bc bc    bc    bc';
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:
      calc(var(--header-height) - var(--row-height) * 2) var(--row-height)
      var(--row-height);
  }

  /// Layout.

  .logo {
    grid-area: lg;
    margin: var(--spacing-large) 0;
  }

  &__actions {
    align-self: center;
    grid-area: actns;
  }

  .primary-navigation {
    grid-area: nv;
    width: 100%;

    @media (min-width: 768px) {
      grid-area: none;
      left: 0;
      bottom: var(--row-height);
      position: absolute;
      padding: 0 $hm;
    }
  }

  .breadcrumbs {
    grid-area: bc;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__text-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: var(--row-height);
    white-space: nowrap;
    width: 100%;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }

  &__actions &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__actions &__list-item {
    display: inline;
    margin-left: var(--spacing-extra-large);
  }

  .form {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
