///
/// Primary navigation.
///

.primary-navigation {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  box-sizing: border-box;
  position: relative;

  &__list-item .link.link--secondary {
    margin-left: var(--spacing-small);
  }

  /// Top list.

  & > &__list {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: var(--spacing-medium);
    list-style: none;
    font-size: var(--font-size-body-large);
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  & > &__list > &__list-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: var(--row-height);
    overflow: hidden;
    padding: 0;

    .link {
      font-size: var(--font-size-body-large);
      line-height: var(--font-line-height-body);
      @media (min-width: 768px) {
        font-size: var(--font-size-body);
        overflow: hidden;
        word-wrap: normal;
      }
    }

    > [class*='icons'] {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    /// Subpages desktop for categories-list and authenticated page-list

    .subpage-list {
      row-gap: var(--spacing-extra-large);
      padding: 0 var(--spacing-large);
      margin: 0 var(--spacing-large);

      .primary-navigation__list-item {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: var(--spacing-medium);

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      @media (min-width: 768px) {
        row-gap: 1px;
      }
    }

    @media (min-width: 768px) {
      align-items: center;
      flex-direction: row;
      height: var(--row-height);
      padding: 0 var(--spacing-large);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  /// Dropdown triangles

  &.primary-navigation__main .subpage-list {
    left: -11px;

    @media (min-width: 768px) {
      &::before {
        box-sizing: border-box;
        border-bottom: 6px solid var(--color-primary);
        border-left: 6px solid var(--color-white);
        border-right: 6px solid var(--color-white);
        content: '';
        display: block;
        height: 6px;
        left: 6.7em;
        position: absolute;
        top: -7px;
        width: 12px;
      }
      &::after {
        box-sizing: border-box;
        border-bottom: 6px solid var(--color-white);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: '';
        display: block;
        height: 6px;
        left: 6.7em;
        position: absolute;
        top: -6px;
        width: 11px;
      }
    }
  }

  &.primary-navigation__authenticated {
    .button.button--transparent.primary-navigation--toggle {
      display: inline-block;
      padding-right: var(--spacing-giant);
      width: 170px;

      & [class*='icon'] {
        position: absolute;
        top: 10px;
        right: 13px;
      }
    }
    .subpage-list {
      @media (min-width: 768px) {
        &::before {
          box-sizing: border-box;
          border-bottom: 6px solid var(--color-primary);
          border-left: 6px solid var(--color-white);
          border-right: 6px solid var(--color-white);
          content: '';
          display: block;
          height: 6px;
          right: var(--spacing-large);
          position: absolute;
          top: -7px;
          width: 12px;
        }
        &::after {
          box-sizing: border-box;
          border-bottom: 6px solid var(--color-white);
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          content: '';
          display: block;
          height: 6px;
          right: var(--spacing-large);
          position: absolute;
          top: -6px;
          width: 11px;
        }
      }
    }
  }

  /// Nested list.

  & > &__list &__list-item &__list,
  & > &__list &__list-item &dropdown-nav__toggle &__list {
    box-sizing: border-box;
    margin: 0;
    z-index: 100;
    padding-bottom: var(--spacing-medium);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-small);
    width: 100%;

    @media (min-width: 768px) {
      list-style: none;
      background-color: var(--color-white);
      transform: scaleY(0);
      right: 0;
      top: var(--row-height-big);
      position: absolute;
      padding: var(--spacing-large) var(--spacing-extra-large);
      border: 1px solid var(--color-primary);
      border-radius: 4px;
      min-width: 250px;
    }

    .link {
      font-size: var(--font-size-body-large);
      line-height: var(--row-height);

      @media (min-width: 768px) {
        font-size: var(--font-size-body);
        color: var(--font-color-body);
      }
    }
  }

  &--dismissed > &__list &__list-item &__list,
  &__main--dismissed > &__list &__list-item &__list {
    @media (min-width: 768px) {
      transform: scaleY(0);
    }
  }

  /// Categories and authenticated nested list

  &__authenticated > &__list > &__list-item &__list {
    @media (min-width: 768px) {
      right: 0;
    }
    [class*='icons'] {
      margin-right: var(--spacing-large);
    }
  }

  & > &__list > &__list-item > &__list > &__list-item {
    line-height: var(--row-height);
    overflow: hidden;
  }

  /// Interaction.

  &:not(#{&}--dismissed) &__list-item &__list:focus-within,
  &:not(#{&}--dismissed)[class*='--open'] &__list-item &__list {
    transform: scaleY(1);
  }

  &:not(#{&}--dismissed)[class*='--open'] &__list-item {
    // Open subpages
    .button.primary-navigation--toggle {
      color: var(--color-primary);
    }
  }

  .button.button--transparent.primary-navigation--toggle {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    color: var(--font-color-body);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      transform: translateY(0);
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
      border-radius: var(--border-radius-large);
      margin: 0;
      transform: translateY(0);
    }
  }

  &:not(#{&}--dismissed) &__list &__list-item:focus,
  &:not(#{&}--dismissed)[class*='--open'] &__list-item {
    // animate primary navigation dropdown icons

    .primary-navigation--toggle > [class*='icons'] {
      display: inline-block;
      transition: transform 0.3s;
      transform: rotate(180deg);
      top: 10px;
      right: 13px;
    }
  }

  /// Mobile nested list.

  @media (max-width: 767px) {
    & > &__list > &__list-item > &__list.subpage-list {
      margin-bottom: var(--spacing-medium);
      margin-left: 2em;
    }
  }
}
