///
/// Primary navigation.
///

.primary-navigation {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  box-sizing: border-box;
  //display: grid;
  //grid-template-areas: "ml-1 nav mr-1";
  //grid-template-columns: $hm 1fr $hm;
  //padding: 0 $hm;
  position: relative;

  &:before {
    border-bottom: var(--border-width) solid;
    border-image: var(--border-image);
    border-image-slice: 1;
    content: '';
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  /// Top list.

  & > &__list {
    grid-area: nav;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  & > &__list > &__list-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: var(--row-height);
    padding: 0 var(--spacing-large);
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  /// Nested list.

  & > &__list > &__list-item > &__list {
    background-color: var(--color-accent);
    box-sizing: border-box;
    padding: var(--spacing-large)
      max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
    position: absolute;
    left: 0;
    list-style: none;
    margin: 0;
    top: 100%;
    transform: scaleY(0);
    width: 100%;
    z-index: 100;

    @media (min-width: 768px) {
      column-count: 4;
    }

    .link {
      color: var(--color-font-accent);
    }
  }

  & > &__list > &__list-item > &__list > &__list-item {
    line-height: var(--row-height);
  }

  /// Interaction.

  & > &__list > &__list-item:focus &__list,
  & > &__list > &__list-item:focus-within &__list,
  & > &__list > &__list-item:hover &__list {
    transform: scaleY(1);
  }
}
