.input {
  --color-gray-light: darkgray;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-light);
  border-radius: 3px;
  color: var(--color-gray-light);
  font-family: "TheSans C5";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21px;
  padding: 10px 16px;
}
