.input {
  box-sizing: border-box;
  border: 1px solid #7A7A7A;
  border-radius: 3px;
  color: #7A7A7A;
  font-family: "TheSans C5";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21px;
  padding: 10px 16px;
}
