.contactmomenten {
  margin-top: var(--spacing-giant);

  &__scrolldown {
    padding-top: 3em;

    .form-container {
      width: 50%;
    }

    .button {
      margin-top: var(--spacing-giant);
    }
  }

  &__contact-form {
    text-align: center;

    .form-container {
      margin: auto;
      width: 50%;
    }

    .form-heading {
      padding-bottom: var(--spacing-giant);
      text-align: left;
    }

    form {
      textarea {
        width: 100%;
      }

      .form__control {
        label {
          padding-bottom: var(--spacing-extra-large);
        }

        .input {
          max-width: 100% !important;
        }
      }
    }
  }

  & .grid {
    grid-row-gap: var(--spacing-medium);
    grid-column-gap: var(--spacing-extra-large);

    // Tablets
    @media (min-width: 500px) and (max-width: 767px) {
      flex-direction: row;
      flex-wrap: wrap;

      .column {
        flex-basis: calc(50% - var(--spacing-large));
      }
    }

    .column--start-4 {
      @media (min-width: 768px) and (max-width: 900px) {
        grid-column-start: 1;
      }
    }
  }

  .contactmomenten__link {
    text-decoration: none;
  }

  &__title {
    padding-bottom: var(--spacing-large);
  }
}

.contactmoment {
  &__heading {
    margin: 0 0 var(--spacing-large) 0;
    line-height: var(--font-line-height-heading-3);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-heading-3);
  }

  &__text {
    margin: 0 0 var(--row-height) 0;
    line-height: var(--font-line-height-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: normal;
    color: var(--font-color-body);
  }

  &__actions {
    font-weight: bold;
  }

  .button--transparent {
    padding: var(--spacing-medium) 0 0 0;
  }
}

// overrides of elements outside of components
section {
  display: block;
  padding-bottom: 2em;
}

.pagination {
  display: table !important;
  margin: 0 auto !important;
  padding-top: 1em !important;
}
