.contactmomenten {
  margin-top: var(--spacing-giant);

  & .grid {
    grid-row-gap: var(--spacing-medium);
    grid-column-gap: var(--spacing-extra-large);

    // Tablets
    @media (min-width: 500px) and (max-width: 767px) {
      flex-direction: row;
      flex-wrap: wrap;

      .column {
        flex-basis: calc(50% - var(--spacing-large));
      }
    }

    .column--start-4 {
      @media (min-width: 768px) and (max-width: 900px) {
        grid-column-start: 1;
      }
    }
  }

  /// cards on cases page
  .card {
    .contactmomenten__link {
      text-decoration: none;
    }
  }
}

.contactmoment {
  &__details {
    // Set table width for word-break
    table {
      margin-top: 0;
      overflow-x: auto;
      table-layout: fixed;
      width: 100%;
      @media (min-width: 768px) {
        width: var(--mobile-ms-width);
      }
    }
    table th {
      width: 100px;
      white-space: nowrap;
    }
    table td {
      width: 300px;
      overflow: hidden;
      word-break: break-word;
      white-space: normal;

      &.table__item--status {
        .table__item--wrapper {
          display: flex;
          justify-content: space-between;
        }
      }

      .case-detail__link {
        color: var(--color-primary);
        text-decoration: none;

        &::after {
          font-family: 'Material Icons';
          content: 'arrow_forward';
          font-size: 1em;
          vertical-align: middle;
        }
      }
    }
  }
}
