.contactmomenten {
  margin-top: var(--spacing-giant);

  &__scrolldown {
    padding-top: 3em;

    .form-container {
      width: 50%;
    }

    .button {
      margin-top: var(--spacing-giant);
    }
  }

  &__contact-form {
    text-align: center;

    .form-container {
      margin: auto;
      width: 50%;
    }

    .form-heading {
      padding-bottom: var(--spacing-giant);
      text-align: left;
    }

    form {
      textarea {
        width: 100%;
      }

      .form__control {
        label {
          padding-bottom: var(--spacing-extra-large);
        }

        .input {
          max-width: 100% !important;
        }
      }
    }
  }

  & .grid {
    grid-row-gap: var(--spacing-medium);
    grid-column-gap: var(--spacing-extra-large);

    // Tablets
    @media (min-width: 500px) and (max-width: 767px) {
      flex-direction: row;
      flex-wrap: wrap;

      .column {
        flex-basis: calc(50% - var(--spacing-large));
      }
    }

    .column--start-4 {
      @media (min-width: 768px) and (max-width: 900px) {
        grid-column-start: 1;
      }
    }
  }

  .contactmomenten__link {
    text-decoration: none;
  }

  &__title {
    padding-bottom: var(--spacing-large);
  }
}

.contactmoment {
  &__details {
    // Set table width for word-break
    table {
      margin-top: 0;
      overflow-x: auto;
      table-layout: fixed;
      width: 100%;
      @media (min-width: 768px) {
        width: var(--mobile-ms-width);
      }
    }
    table th {
      width: 100px;
      white-space: nowrap;
    }
    table td {
      width: 300px;
      overflow: hidden;
      word-break: break-word;
      white-space: normal;

      &.table__item--status {
        .table__item--wrapper {
          display: flex;
          justify-content: space-between;
        }
      }

      .case-detail__link {
        color: var(--color-primary);
        text-decoration: none;

        &::after {
          font-family: 'Material Icons';
          content: 'arrow_forward';
          font-size: 1em;
          vertical-align: middle;
        }
      }
    }
  }
}

// overrides of elements outside of components
section {
  display: block;
  padding-bottom: 2em;
}

.pagination {
  display: table !important;
  margin: 0 auto !important;
  padding-top: 1em !important;
}
