.contactmomenten {
  margin-top: var(--spacing-giant);

  &__scrolldown {
    padding-top: 3em;

    .form-container {
      width: 50%;
    }

    .button {
      margin-top: var(--spacing-giant);
    }
  }

  &__contact-form {
    .form-container {
      margin: auto;

      @media (min-width: 768px) {
        width: 50%;
      }
    }

    .form-heading {
      padding-bottom: var(--spacing-giant);
      text-align: left;
    }

    form {
      textarea {
        width: 100%;
      }

      .form__control {
        label {
          padding-bottom: var(--spacing-extra-large);
        }

        .input {
          max-width: 100% !important;
        }
      }

      // Make required asterisk visible for this component
      .label__label--required {
        // asterisks is invisible by default, only make them visible if component has the caption
        display: inline;
      }
    }
  }

  & .grid {
    grid-gap: var(--spacing-extra-large);

    // Tablets
    @media (min-width: 500px) and (max-width: 767px) {
      flex-direction: row;
      flex-wrap: wrap;

      .column {
        flex-basis: calc(50% - var(--spacing-large));
      }
    }

    .column--start-4 {
      @media (min-width: 768px) and (max-width: 900px) {
        grid-column-start: 1;
      }
    }
  }

  .contactmomenten__link {
    text-decoration: none;
  }

  &__title {
    padding-bottom: var(--spacing-large);
  }
}

.contactmoment {
  --nl-paragraph-margin-block-start: var(--row-height);

  &__heading {
    margin: 0 0 var(--spacing-large) 0;
  }

  &__actions {
    font-weight: bold;
  }

  .button--transparent {
    padding: var(--spacing-medium) 0 0 0;
  }
}
