{% load i18n grid_tags icon_tags list_tags pagination_tags utils %}

{% if cases %}
  <h2 class="h2" id="cases">{{ page_title }} ({{ paginator.count }})</h2>
  <p class="cases__title_text">{{ title_text }}</p>
  {% render_grid %}
      
      {% for case in cases %}
          {% render_column start=forloop.counter_0|multiply:4 span=4 %}
          <div class="card card--compact card--stretch">
              <div class="card__body">
                  <!-- submission cases -->
                  {% if case.datum_laatste_wijziging %}
                      <a href="{{ case.url }}"  class="cases__link">
                      <p class="h4"><span class="link link__text">{{ case.naam }}</span></p>
                      {% render_list %}
                      <span class="case-list">
                          {% list_item text="Openstaand aanvraag" caption=_("Status") compact=True strong=False %}
                          {% list_item text=case.datum_laatste_wijziging caption=_("Laatste wijziging") compact=True strong=False %}
                          {% with end_date=case.eind_datum_geldigheid|default:"Geen" %}
                              {% list_item text=end_date caption=_("Einddatum geldigheid") compact=True strong=False%}
                          {% endwith %}
                      </span>
                      {% endrender_list %}

                      <span class="link link--icon link--secondary" aria-label="{% trans "Bekijk aanvraag" %}" title="{% trans "Bekijk aanvraag" %}">
                          <span class="link__text">{% trans "Bekijk aanvraag" %}</span>
                          {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                      </span>
                      </a>

                  <!-- other cases -->
                  {% else %}
                      <a href="{% url 'cases:case_detail' object_id=case.uuid %}" class="cases__link">
                      <p class="h4"><span class="link link__text">{{ case.omschrijving }}</span></p>
                      {% render_list %}
                          <span class="case-list">
                          {% if case.current_status %}
                              {% list_item case.current_status caption=_("Status") compact=True strong=False %}
                          {% else %}
                              {% list_item "No status" caption=_("Status") compact=True strong=False %}
                          {% endif%}
                          {% list_item case.start_date caption=_("Ontvangstdatum") compact=True strong=False %}
                          {% list_item case.identificatie caption=_("Zaaknummer") compact=True strong=False %}
                          </span>
                      {% endrender_list %}

                      <span class="link link--icon link--secondary" aria-label="{% trans "Bekijk aanvraag" %}" title="{% trans "Bekijk aanvraag" %}">
                          <span class="link__text">{% trans "Bekijk aanvraag" %}</span>
                          {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                      </span>
                      </a>
                  {% endif %}

              </div>
          </div>
          {% endrender_column %}
      {% endfor %}
  {% endrender_grid %}
{% endif %}
