$image-height: 261px;

.main-image {
  height: $image-height;
  object-fit: cover;
  width: 100%;

  @media (min-width: 768px) {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-height);
  }

  &.main-image--start-after ~ .container {
    @media (min-width: 768px) {
      margin-top: $image-height;
    }
  }
}
