{% load i18n file_tags %}

<nav class="file-list">
    {% if title %}
        {% if h1 %}
            <h1 class="h1 h1--bottom" id="files">{{ title }}</h1>
        {% else %}
            <h4 class="h4" id="files">{{ title }}</h4>
        {% endif %}
    {% endif %}
    <ul class="file-list__list">
        {% for file in files %}
            <li class="file-list__list-item">
                {% file file=file.file name=file.name uuid=file.uuid allow_delete=allow_delete %}
            </li>
        {% empty %}
            <li><p class="p">{% trans "Er zijn nog geen bestanden geupload" %}</p></li>
        {% endfor %}
    </ul>
</nav>
