{% load i18n l10n link_tags utils icon_tags form_tags dropdown_tags button_tags string_tags %}

<aside class="file" aria-label="{% trans "Bestand" %} {{ name }}">
    <div class="file__container {% if recently_added %}file__container--recent{% endif %}">
        <div class="file__file">
            <p class="file__symbol">
                {% if is_image %}
                    {% icon icon="image" outlined=True %}
                {% else %}
                    {% icon icon="insert_drive_file" outlined=True %}
                {% endif %}
            </p>

            <p class="p file__data">
                {% if recently_added %}
                    <span class="file__file--recent">{% icon icon="fiber_manual_record" outlined=False extra_classes="file__file--recent" %}{% trans "Nieuw" %}</span>
                {% endif %}
                <span class="file__name">
                    {{ name }}
                    {% if extension and size %}
                        ({{extension}}, {{size|readable_size}})
                    {% elif extension %}
                        ({{extension}})
                    {% elif size %}
                        ({{size|readable_size}})
                    {% endif %}
                </span>
                <span class="file__date">{{ created|date:'d.m.Y' }}</span>
            </p>
            {% if allow_delete %}
                {% dropdown icon="more_horiz" %}
                    <div class="dropdown__item">
                        {% url 'inbox:start' as inbox_url %}
                        {% with inbox_url|addstr:"?file="|addstr:uuid as share_url %}
                            {% button icon="send" text=_("Deel") href=share_url icon_outlined=True transparent=True %}
                        {% endwith %}
                    </div>
                    {% if show_download %}
                        <div class="dropdown__item">
                            {% button icon="file_download" text=_("Download") href=url icon_outlined=True transparent=True %}
                        </div>
                    {% endif %}
                    <div class="dropdown__item">
                        {% url 'profile:documents_delete' uuid=uuid as delete_url %}
                        {% render_form form=None form_action=delete_url method="POST" spaceless=True id="deactivate-form" extra_classes="confirm" data_confirm_title=_("Weet je het zeker dat je dit bestand wilt verwijderen?") data_confirm_cancel=_("Nee") data_confirm_default=_("Ja") %}
                            {% csrf_token %}
                            {% button icon="delete" text=_("Verwijderen") transparent=True %}
                        {% endrender_form %}
                    </div>
                {% enddropdown %}
            {% elif show_download %}
                {% trans "Download" as download %}
                {% link href=url text=download secondary=True download=True hide_text=True icon="file_download" icon_outlined=True icon_position="before" %}
            {% endif %}
            {% if description %}<p class="p p--small">{{ description }}</p>{% endif %}
        </div>
    </div>
</aside>

