{% load i18n file_tags %}

<div class="file-list">
    {% if title %}
        {% if h1 %}
            <h1 class="h1 h1--bottom" id="files">{{ title }}</h1>
        {% else %}
            <h3 class="h3" id="files">{{ title }}</h3>
        {% endif %}
    {% endif %}
    <ul class="file-list__list">
        {% for file in files %}
            {% url download_view uuid=file.uuid as download_url %}
            <li class="file-list__list-item">
                {% file file=file.file created=created name=file.name uuid=file.uuid allow_delete=allow_delete download_url=download_url show_download=show_download %}
            </li>
        {% empty %}
            <li><p class="p">{% trans "Er zijn nog geen bestanden geupload" %}</p></li>
        {% endfor %}
    </ul>
</div>
