{% load i18n link_tags utils icon_tags form_tags %}

<aside class="file">
    {% if is_image %}
        {% icon icon="image" outlined=True %}
    {% else %}
        {% icon icon="description" outlined=True %}
    {% endif %}
    <p class="p">
        {% firstof name %}
        ({{extension}}, {{size|readable_size}})
    </p>
    {% trans "Download" as download %}
    {% link href=url text=download secondary=True download=True icon="file_download" %}
    {% if allow_delete %}
        {% url 'accounts:documents_delete' uuid=uuid as delete_url %}
        {% render_form form=None form_action=delete_url method="POST" spaceless=True id="deactivate-form" %}
            {% csrf_token %}
            {% form_actions primary_icon="more_vert" transparent=True single=True %}
        {% endrender_form %}
    {% endif %}
</aside>
