.tab--container {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  width: 100%;
}

.tabs {
  background: #fff;
  overflow: initial;
  width: 100%;

  @media (min-width: 500px) {
    overflow: hidden;
  }
}

.list.tabs__headers {
  display: block;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &::before {
    left: 0;
    right: 0;
    bottom: 0px;
    height: 0;
    border-bottom: 2px solid var(--color-gray-light);
    content: '';
    top: auto;
    display: block;
    position: absolute;
  }

  &::after {
    clear: both;
    display: block;
    content: '';
  }
}

.list-item.tab__header--item {
  max-width: var(--mobile-xs-width);
  border: none;
  display: block;
  float: none;
  padding: 0;
  border: 0;
  margin-right: -1px;
  position: relative;

  @media (min-width: 360px) {
    max-width: 200px;
    float: left;
  }
}

.link.tab__header {
  box-sizing: border-box;
  color: var(--color-gray-lighter);
  display: inline-block;
  cursor: pointer;
  width: 100%;
  padding: var(--spacing-large);
  transition: 0.3s;

  &:target {
    scroll-margin-top: 150px;
  }
  &:target::before {
    scroll-margin-top: 150px;
  }

  &.active {
    border-bottom: 2px solid var(--color-primary);
    color: var(--font-color-body);
    font-weight: bold;
    margin: 0;
  }
}

.tabs__body {
  padding: 0;

  // Styling for Benefits reports/Mijn uitkeringen
  .form {
    max-width: var(--mobile-ms-width);

    .form__actions {
      margin-top: 0;
    }

    .form__control [class*='icon'] {
      transform: none;
    }
  }
}

.tab__content,
.tab__content.active {
  margin: 1em;
  scroll-margin-top: 150px;

  p {
    padding: 0;
  }
}

.active {
  display: block;
}

.hide {
  display: none;
}
