.tab--container {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  width: 100%;

  .tabs {
    background: #fff;
    overflow: initial;
    width: 100%;

    @media (min-width: 500px) {
      overflow: hidden;
    }
  }

  .list.tabs__headers {
    display: block;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    &::before {
      left: 0;
      right: 0;
      bottom: 0px;
      height: 0;
      border-bottom: 2px solid var(--color-gray-light);
      content: '';
      top: auto;
      display: block;
      position: absolute;
    }

    &::after {
      clear: both;
      display: block;
      content: '';
    }
  }

  .list-item.tab__header--item {
    max-width: var(--mobile-xs-width);
    border: none;
    display: block;
    float: none;
    padding: 0;
    border: 0;
    margin-right: -1px;
    position: relative;

    @media (min-width: 360px) {
      max-width: 200px;
      float: left;
    }
  }

  .link.tab__header {
    box-sizing: border-box;
    color: var(--color-gray-lighter);
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: var(--spacing-large);
    transition: 0.3s;

    &:target {
      scroll-margin-top: 150px;
    }
    &:target::before {
      scroll-margin-top: 150px;
    }

    &:active {
      background-color: var(--color-white);
    }

    &.active {
      border-bottom: 2px solid var(--color-primary);
      color: var(--font-color-body);
      font-weight: bold;
      margin: 0;
    }
  }

  .tab__content,
  .tab__content.active {
    margin: 1em;
    scroll-margin-top: 150px;

    p {
      padding: 0;
    }
  }

  .active {
    display: block;
  }

  .hide {
    display: none;
  }

  .tabs__body {
    padding: 0;

    // Styling for Benefits reports/Mijn uitkeringen
    .form {
      //max-width: var(--mobile-ms-width);

      .form__actions {
        margin-top: 0;
      }

      .form__control [class*='icon'] {
        transform: none;
      }
    }
  }

  .form {
    /// Make required asterisk visible for this component
    .label__label--required {
      color: var(--color-red);
      padding-left: var(--spacing-tiny);
      //make asterisks invisible by default, only make them visible if component has the caption
      display: inline;
    }
  }
}

/// Tabs on login page

.login-tab--container {
  .list-item.tab__header--item {
    min-width: 100px;

    @media (min-width: 500px) {
      min-width: 180px;
    }
  }

  .link.tab__header {
    font-weight: normal;
    padding: var(--spacing-large) var(--spacing-large) var(--spacing-large) 0;
    border-bottom: 2px solid var(--color-gray-light);

    // for inactive tabs
    @media (min-width: 500px) {
      border-bottom: none;
    }

    &:active {
      background-color: var(--color-white);
    }

    &.active {
      background-color: var(--color-white);
      border-bottom: 2px solid var(--color-accent);
      color: var(--color-accent);
      font-weight: bold;
      margin: 0;
    }
  }

  .tab__content {
    margin: var(--row-height) 0 0 0;
    scroll-margin-top: 150px;

    .tab__heading-4 {
      font-size: var(--font-size-heading-4);
      margin-bottom: var(--spacing-large);
    }

    .card {
      & .link--next [class*='icon'] {
        font-size: var(--font-size-body);
      }
    }
  }
}

/// Tabs voor login pages
.login-tab--container {
  .tab-column__paragraph {
    color: var(--color-gray-dark-900);
  }
}
