action-list {
  margin-block-start: 24px;
}

.denhaag-action {
  border-left: none !important;
  border-right: none !important;
  font-size: 14px;
  font-family: var(--oip-typography-sans-serif-font-family);

  // Use browser default focus-state until there is a design for it.
  &:focus {
    outline: revert !important;
  }

  // Make sure the first item has a border-top.
  &:first-of-type {
    border-top: var(--denhaag-action-border-width)
      var(--denhaag-action-border-style) var(--denhaag-action-border-color);
  }

  .denhaag-action__content span {
    color: var(--color-black);
  }
  .denhaag-action__actions .button {
    height: fit-content;
  }

  // Make sure the icon is 16px/16px (only the width has a design token).
  .denhaag-action__link-icon {
    height: var(--denhaag-action-link-icon-width);
  }

  /// Open Inwoner modifiers

  .denhaag-action__content--oip-message {
    font-weight: bold;
    color: var(--oip-color-fg-heading);
  }

  .denhaag-action__content--oip-title {
    color: var(--utrecht-document-color);
  }
}
