{% load helpers icon_tags %}

{% if href %}
    <a
        class="{{ classes }}"
        href="{{href}}"
        title="{% firstof title text %}"
        {% if text %}aria-describedby="{{ text }}"{% endif %}
        {% if href|startswith:"http" %}target="_blank"{% endif %}
        {% if hide_text %}aria-hidden="true"{% endif %}
    >
        {% if icon %}{% icon icon=icon outlined=icon_outlined %}{% endif %}
        {% if not hide_text %}{{text}}{% endif %}
    </a>
{% else %}
    <button
        class="{{ classes }}"
        type="{{type}}"
        name="{{ name }}"
        title="{% firstof title text %}"
        {% if text %}aria-describedby="{{ text }}"{% endif %}
    >
        {% if icon %}{% icon icon=icon outlined=icon_outlined %}{% endif %}
        {% if not hide_text %}{{text}}{% endif %}
    </button>
{% endif %}
