{% load i18n link_tags render_tags %}

{% trans "Veelgestelde vragen" as default_title %}
<aside class="faq" aria-label="{{ default_title }}">
    {% if not hide_title %}
        <h2 id="faq" class="utrecht-heading-2">{{ title|default:default_title }}</h2>
    {% endif %}

    <ul class="faq__list">
        {% for question in questions %}
            <li class="faq__list-item">
                <h3 class="utrecht-heading-3">
                    {% firstof question.pk|slugify as id %}
                    {% firstof 'question-'|add:id|add:'-answer' as answer_id %}
                    {% link bold=True href='#'|add:answer_id icon='keyboard_arrow_down' secondary=True text=question.question toggle="open"  %}
                </h3>
                <div id="{{ answer_id }}" class="p faq__answer">{{ question.answer|ckeditor_content|safe }}</div>
            </li>
        {% endfor %}
    </ul>
</aside>
