{% load i18n link_tags render_tags %}

<aside class="faq" aria-label="{% trans "Veelgestelde vragen" %}">
    {% if title %}<h2 id="faq" class="h2">{{ title }}</h2>{% endif %}

    <ul class="faq__list">
        {% for question in questions %}
            <li class="faq__list-item">
                <h3 class="h3">
                    {% firstof question.pk|slugify as id %}
                    {% firstof 'question-'|add:id|add:'-answer' as answer_id %}
                    {% link bold=True href='#'|add:answer_id icon='keyboard_arrow_down' secondary=True text=question.question toggle="open"  %}
                </h3>
                <div id="{{ answer_id }}" class="p faq__answer">{{ question.answer|ckeditor_content|safe }}</div>
            </li>
        {% endfor %}
    </ul>
</aside>
