.dropdown {
  position: relative;

  &.dropdown--open .dropdown__content {
    display: flex;
  }

  .dropdown__content {
    display: none;
    flex-direction: column;
    gap: var(--spacing-medium);
    position: absolute;
    right: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    border: 1px solid var(--color-mute);
    z-index: 1;
  }

  .dropdown__item {
    padding: 0 var(--spacing-medium);
  }
}
