.dropdown {
  position: relative;
  display: inline-block;

  &.dropdown--open .dropdown__content {
    display: flex;
  }

  .dropdown__content {
    display: none;
    flex-direction: column;
    padding: var(--spacing-medium) 0;
    position: absolute;
    left: 0%;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    border: 1px solid var(--color-mute);
    z-index: 1;
  }

  .dropdown__item {
    padding: 0 var(--spacing-medium);
  }

  .button {
    border-color: var(--font-color-body);
    color: var(--font-color-body);
  }

  .dropdown__item .button {
    border-color: var(--font-color-body);
    color: var(--font-color-body);
    height: var(--font-line-height-body);
    padding: 0;
  }
}
