.tabled {
  display: flex;
  flex-direction: column;

  &__key {
    color: var(--color-gray-dark-900);
    @media (max-width: 500px) {
      min-width: 150px;
    }
  }
  &__value {
    color: var(--color-gray-dark);
    overflow-wrap: break-word;
    word-break: normal;
  }

  &__break {
    color: var(--color-gray-dark);
    overflow-wrap: break-word;
    word-break: break-all;
  }

  &__title {
    padding-bottom: var(--spacing-extra-large);
  }

  &.tabled--tiny-end {
    .tabled__header,
    .tabled__row {
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 125px 75px;
      }
    }
  }

  &.tabled--flexible {
    .tabled__header,
    .tabled__row {
      grid-template-columns: 1fr 2fr;
    }
  }

  &.tabled--flexible + h2 {
    margin: var(--row-height) 0 0 0;
  }

  .tabled__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--color-gray-light);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 125px 125px;
    }

    .tabled__item {
      color: var(--color-gray-lighter);
      font-size: 16px;
      letter-spacing: 0;
      line-height: var(--font-line-height-body-medium);
    }
  }

  .tabled__section {
    padding-bottom: var(--spacing-extra-large);

    .title {
      border-bottom: 1px solid var(--color-gray-light);
    }
  }

  .tabled__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--color-gray-light);

    &--blank {
      border-bottom-width: 0;
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 125px 125px;
    }
  }

  .tabled__paragraph {
    margin: 0;
    line-height: var(--font-line-height-body-medium);
  }

  .tabled__item {
    font-family: var(--font-family-body);
    padding: var(--spacing-medium);
    padding-left: 0;

    &--right {
      @media (min-width: 768px) {
        display: flex;
        justify-content: end;
      }
    }

    &--force-right {
      display: flex;
      justify-content: end;
    }

    &--mobile-big {
      grid-column-end: span 2;

      @media (min-width: 768px) {
        grid-column-end: auto;
      }
    }
  }
}
