.table-overflow {
  /// Scrollbar style for tables on mobile
  &--horizontal {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--color-gray-lightest);

    &::-webkit-scrollbar {
      height: 8px; // make horizontal scrollbar always visible no matter what system preferences
    }

    &::-webkit-scrollbar-track {
      background: var(--color-gray-lightest);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-secondary);
      border-radius: 6px;
      border: 2px solid var(--color-secondary);
    }
  }
}
