{% block link %}{% endblock %}

{% block title %}{% endblock %}

Settings Overview
=================

Required:
"""""""""

::

    {% for setting in required_settings -%}
    {{ setting }}
    {% endfor %}


All settings:
"""""""""""""

::

    {% for setting in all_settings -%}
    {{ setting }}
    {% endfor %}

Detailed Information
====================

::

    {% for detail in detailed_info -%}
    {% for part in detail -%}
    {{ part }}
    {% endfor %}
    {% endfor %}
