.container {
  margin: var(--spacing-large) var(--spacing-large) var(--row-height)
    var(--spacing-large);
  min-height: calc(
    100vh - var(--header-height) - calc(var(--row-height) * 3) - 400px
  ); //FIXME
  max-width: var(--container-width);
  position: relative;

  &--no-margin {
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
    margin: var(--row-height) $hm calc(var(--row-height) * 2);

    &--no-margin {
      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
