.grid {
  display: flex;
  flex-direction: column;
  grid-gap: var(--gutter-width);
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }


  ///// Layout.

  > * {
    grid-column-end: span 12;
  }

  & > #{&}__sidebar:not(:empty) {
    grid-column-end: span 3;
  }

  & > #{&}__sidebar:not(:empty) + &__main {
    grid-column-end: span 9;
  }

  & > #{&}__main:first-child {
    grid-column-end: span 12;
  }
}
