[submodule "deployment/maykin-deployment"]
	path = deployment/maykin-deployment
	url = git@bitbucket.org:maykinmedia/maykin-deployment.git
[submodule "design-tokens/open-inwoner-design-tokens"]
	path = design-tokens/open-inwoner-design-tokens
	url = git@github.com:maykinmedia/open-inwoner-design-tokens.git
