.plan-create {
  .form__control {
    .label {
      position: relative;
      max-width: var(--form-width);
    }

    [class*='icon'] {
      right: 10px;
    }
  }

  .modal--open {
    .modal__container {
      padding: var(--spacing-giant);

      [class*='icon'] {
        font-size: var(--font-size-body-large);
      }

      .button-icon--primary {
        color: var(--color-white);
        font-size: var(--font-size-body);
        transform: none;
      }

      .modal__actions {
        .modal__button {
          &:focus-visible {
            box-shadow: none;
            outline: none;
          }
        }
      }

      .modal__title .modal__button {
        height: var(--font-size-body);
        min-width: initial;
        padding: 0;
      }
    }
  }
}
