.plan-create {
  .form__control {
    .label {
      position: relative;
      max-width: var(--form-width);
    }

    [class*='icon'] {
      right: 10px;
    }
  }

  .modal--open {
    background: rgba(0, 0, 0, 0.25);
  }
}
