.plan-create {
  .form {
    gap: var(--spacing-giant);
  }

  .form__control {
    .label {
      position: relative;
    }

    [class*='icons'] {
      right: 10px;
    }
  }

  .show-preview {
    border: none;
    background-color: transparent;

    &:focus,
    &:focus-visible {
      border-radius: var(--border-radius);
    }
  }

  .form__grid-box {
    gap: 10px;
  }

  nl-paragraph:last-child {
    margin-block-start: var(--spacing-extra-large);
  }
}
