.plan-edit {
  .form {
    max-width: var(--form-width);
    .form__control [class*='icon'] {
      transform: initial;
    }
  }

  @media (min-width: 768px) {
    .form {
      max-width: 100%;
      .form__control > .label {
        input[type='file'] {
          min-width: 100%;
        }
        .input {
          max-width: var(--form-width);
        }
      }
    }
  }
}
