.card-container {
  --card-columns: 1;
  display: grid;
  gap: var(--gutter-width);
  grid-template-columns: repeat(var(--card-columns), 1fr);

  @media (min-width: 768px) {
    --card-columns: 4;
  }

  @for $i from 1 through 12 {
    &--columns-#{$i} {
      --card-columns: 1;

      @media (min-width: 768px) {
        --card-columns: #{$i};
      }
    }
  }

  &--small {
    @media (min-width: 768px) {
      --card-columns: 2;
    }
  }
}

.card-container + .card-container,
.map + .card-container,
.p + .card-container,
.card-container + h2 {
  margin-top: var(--gutter-width);
}

/// Exceptions for forms inside cards

.registration-grid,
.login-grid {
  .card {
    max-width: 100%;

    .form {
      /// Make required asterisk visible for this component
      .label__label--required {
        color: var(--color-red);
        padding-left: var(--spacing-tiny);
        //make asterisks invisible by default, only make them visible if component has the caption
        display: inline;
      }
    }
  }
}
