// Case-cards grid for 2 columns
.case-cards__list {
  // TODO: to give these back to NLDS community, add these variables to OIP design-tokens package
  --oip-case-card-list-display: grid;
  --oip-case-card-list-grid-template-columns: repeat(1, 1fr);
  --oip-case-card-list-grid-template-columns-desktop: repeat(2, 1fr);
  --oip-case-card-list-list-style-type: none;
  --oip-case-card-list-margin-block-start: 0;
  --oip-case-card-list-margin-block-end: 0;
  --oip-case-card-list-padding-inline-start: 0;
  --oip-case-card-list-grid-row-gap: var(--spacing-medium);
  --oip-case-card-list-grid-column-gap: var(--spacing-giant);

  display: var(--oip-case-card-list-display);
  grid-template-columns: var(--oip-case-card-list-grid-template-columns);

  @media (min-width: 768px) {
    grid-template-columns: var(
      --oip-case-card-list-grid-template-columns-desktop
    );
  }

  list-style-type: var(--oip-case-card-list-list-style-type);
  margin-block-start: var(--oip-case-card-list-margin-block-start);
  margin-block-end: var(--oip-case-card-list-margin-block-end);
  padding-inline-start: var(--oip-case-card-list-padding-inline-start);
  grid-row-gap: var(--oip-case-card-list-grid-row-gap);
  grid-column-gap: var(--oip-case-card-list-grid-column-gap);
}
