.case-card {
  // TODO: to give these back to NLDS community, add these variables to OIP design-tokens package
  --oip-case-card-background-color: #fff;
  --oip-case-card-color: #333;
  --oip-case-card-max-inline-size: 100%;
  --oip-case-card-inline-size: 100%;
  --oip-case-card-border-width: 1px;
  --oip-case-card-border-style: solid;
  --oip-case-card-border-color: #d2d2d2;
  --oip-case-card-border-radius: 3px;
  --oip-case-card-box-shadow: none;
  --oip-case-card-display: flex;
  --oip-case-card-row-gap: 24px;
  --oip-case-card-heading-color: #000;
  --oip-case-card-heading-padding-inline-start: 16px;
  --oip-case-card-heading-padding-inline-end: 16px;
  --oip-case-card-body-display: flex;
  --oip-case-card-link-display: flex;
  --oip-case-card-link-hover-text-decoration-thickness: 1px;
  --oip-case-card-link-hover-text-decoration-line: underline;
  --oip-case-card-link-hover-text-underline-offset: auto;
  --oip-case-card-link-padding: 0;
  --oip-case-card-content-gap: 24px;
  --oip-case-card-content-padding-block-start: 16px;
  --oip-case-card-content-padding-block-end: 16px;
  --oip-case-card-body-padding-inline-start: 16px;
  --oip-case-card-body-padding-inline-end: 16px;

  cursor: pointer;
  border: var(--oip-case-card-border-width) var(--oip-case-card-border-style)
    var(--oip-case-card-border-color);
  box-sizing: border-box;
  position: relative;
  background-color: var(--oip-case-card-background-color);
  border-radius: var(--oip-case-card-border-radius);
  box-shadow: var(--oip-case-card-box-shadow);
  color: var(--oip-case-card-color);
  font-family: 'Body', Arial, sans-serif;
  display: var(--oip-case-card-display);
  flex-direction: row;
  height: 100%;
  inline-size: var(--oip-case-card-inline-size);
  max-inline-size: var(--oip-case-card-max-inline-size);
  row-gap: var(--oip-case-card-row-gap);
  min-width: 100%;

  &__content {
    display: var(--oip-case-card-link-display);
    flex-direction: column-reverse;
    gap: var(--oip-case-card-content-gap);
    justify-content: space-between;
    padding: var(--oip-case-card-content-padding-block-start)
      var(--oip-case-card-content-padding-block-end);
    width: 100%;
  }

  &__body {
    display: var(--oip-case-card-body-display);
    flex-direction: column;
    gap: var(--oip-case-card-content-gap);
    justify-content: start;
    font-family: 'Body', sans-serif;
    width: 100%;
  }

  &__heading {
    color: var(--oip-case-card-heading-color);
    order: 2;

    .utrecht-heading-2 {
      //TODO: remove these NLDS Heading styles when switching to Preact
      font-family: 'Heading', Arial, sans-serif;
      font-size: 20px;
      margin-block: 0;
    }
  }

  &__link {
    color: var(--oip-case-card-heading-color);
    display: var(--oip-case-card-link-display);
    padding: var(--oip-case-card-link-padding);
    width: 100%;
    text-decoration: none;

    // Make the link cover the entire card, screen reader friendly
    &::after {
      content: '';
      display: block;
      inset-block: 0;
      inset-inline: 0;
      position: absolute;
      width: 100%;
    }

    :hover {
      text-decoration-line: var(
        --oip-case-card-link-hover-text-decoration-line
      );
      text-decoration-thickness: var(
        --oip-case-card-link-hover-text-decoration-thickness
      );
      text-underline-offset: var(
        --oip-case-card-link-hover-text-underline-offset
      );
    }
  }

  //TODO: remove NLDS styles below when switching to Preact
  .utrecht-paragraph {
    margin-block: 0;

    &-muted {
      color: #676767;
      margin-block: 0;
    }

    .button {
      color: var(--color-primary);
      height: auto;
      padding: 0;
    }
  }
}
