{% extends 'master.html' %}
{% load i18n form_tags %}

{% block content %}
    <h1 class="h1">{% trans "Wachtwoordwijziging" %}</h1>
    <p class="p">{% trans "Voer omwille van beveiliging uw oude en twee keer uw nieuwe wachtwoord in, zodat we kunnen controleren of u geen typefouten hebt gemaakt." %}</p>

    {% render_form id="password-change-form" method="POST" form=form%}
        {% csrf_token %}
        {% input form.old_password %}
        {% input form.new_password1 %}
        {% input form.new_password2 %}
        {% form_actions primary_text=_("Mijn wachtwoord wijzigen") primary_icon="arrow_forward" %}
    {% endrender_form %}

{% endblock content %}