{% extends 'master.html' %}
{% load i18n %}

{% block content %}
    <h1 class="nl-heading nl-heading--level-1">{% trans "Password reset email sent" %}</h1>
    <nl-paragraph>{% trans "We have sent you instructions on how to set your password, if an account exists with the email address you entered. You should receive this shortly." %}</nl-paragraph>
    <nl-paragraph>{% trans "If you did not receive an email, please make sure you entered the email address you registered with and check your spam folder." %}</nl-paragraph>
{% endblock content %}
