{% extends 'master.html' %}
{% load i18n static form_tags %}

{% block content %}
  <h1 class="h1">{% trans "Wachtwoordherinitialisatie" %}</h1>
  <p class="p">{% trans "Wachtwoord vergeten? Vul hieronder uw e-mailadres in, en we sturen instructies voor het instellen van een nieuw wachtwoord." %}</p>
  <p class="p">{% trans "Let op: Onderstaand formulier werkt alleen als u geen DigiD gebruikt om in te loggen." %}</p>
  
  {% render_form id="password-reset-form" method="POST" form=form%}
    {% csrf_token %}
    {% input form.email %}
    {% form_actions primary_text=_("Mijn wachtwoord opnieuw instellen") primary_icon="arrow_forward" %}
  {% endrender_form %}

{% endblock content %}
