{% extends 'master.html' %}
{% load i18n %}

{% block content %}
    <h1 class="h1">{% trans "Wachtwoordherinitialisatie verstuurd" %}</h1>
    <p class="p">{% trans "We hebben u instructies gestuurd voor het instellen van uw wachtwoord, als er een account bestaat met het door u ingevoerde e-mailadres. U zou deze straks moeten ontvangen." %}</p>
    <p class="p">{% trans "Als u geen e-mail ontvangt, controleer dan of u het e-mailadres hebt ingevoerd waarmee u zich hebt geregistreerd, en controleer uw spam-map." %}</p>
{% endblock content %}