{% extends 'master.html' %}
{% load i18n form_tags %}

{% block content %}
    <h1 class="h1">{% trans "Password reset" %}</h1>
    <p class="p">{% trans "For security reasons, please enter your old password and your new password twice so we can make sure you have not made any typo." %}</p>

    {% render_form id="password-change-form" method="POST" form=form%}
        {% csrf_token %}
        {% input form.old_password %}
        {% input form.new_password1 %}
        {% input form.new_password2 %}
        {% form_actions primary_text=_("Change my password") primary_icon="arrow_forward" %}
    {% endrender_form %}

{% endblock content %}
