{% extends 'master.html' %}
{% load i18n static form_tags %}

{% block content %}
  <h1 class="h1">{% trans "Reset password" %}</h1>
  <p class="p">{% trans "Forgot your password? Enter your email address below. Then you will receive an email with instructions to set a new password." %}</p>
  <p class="p">{% trans "Please note: this only works if you do are not using DigiD to log in." %}</p>

  {% render_form id="password-reset-form" method="POST" form=form%}
    {% csrf_token %}
    {% input form.email %}
    {% form_actions primary_text=_("Reset password") primary_icon="arrow_forward" %}
  {% endrender_form %}

{% endblock content %}
