{% extends 'master.html' %}
{% load i18n static form_tags %}

{% block content %}
    {% if validlink %}
        <h1 class="h1">{% trans "Enter new password" %}</h1>
        <p class="p">{% trans "Please enter your old password and your new password twice so we can make sure you have not made any typo." %}</p>
        {% form form_object=form method="POST" submit_text=_('Change my password') id="password-reset-confirm" %}
    {% else %}
        <h1 class="h1">{% trans "Password reset failed" %}</h1>
        <p class="p">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
{% endblock content %}
