{% load i18n %}

{% trans "Beste" %},

{% trans "U ontvangt deze e-mail, omdat u een aanvraag voor opnieuw instellen van het wachtwoord voor uw account op " %}{{ domain }}{% trans " hebt gedaan." %}
{% trans "Ga naar de volgende pagina en kies een nieuw wachtwoord: " %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Uw gebruikersnaam, mocht u deze vergeten zijn: " %}{{ user.get_username }}

{% trans "Met vriendelijke groet" %}, 
{{ site_name }} 
