{% extends 'master.html' %}
{% load i18n static form_tags %}

{% block content %}
    {% if validlink %}
        <h1 class="h1">{% trans "Voer nieuw wachtwoord in" %}</h1>
        <p class="p">{% trans "Voer het nieuwe wachtwoord twee keer in, zodat we kunnen controleren of er geen typefouten zijn gemaakt." %}</p>

        {% render_form id="password-reset-confirm" method="POST" form=form %}
            {% csrf_token %}
            {% input form.new_password1 %}
            {% input form.new_password2 %}
            {% form_actions primary_text=_("Mijn wachtwoord wijzigen") primary_icon="arrow_forward" %}
        {% endrender_form %}
    {% else %}
        <h1 class="h1">{% trans "Wachtwoordherinitialisatie mislukt" %}</h1>
        <p class="p">{% trans "De link voor het herstellen van het wachtwoord is ongeldig, waarschijnlijk omdat de link al eens is gebruikt. Vraag opnieuw een wachtwoord aan." %}</p>
    {% endif %}
{% endblock content %}
