{% extends 'master.html' %}
{% load i18n static form_tags %}

{% block content %}
  <h1 class="h1">{% trans "Wachtwoord opnieuw instellen" %}</h1>
  <p class="p">{% trans "Wachtwoord vergeten? Vul hieronder je e-mailadres in. Je krijgt dan een mail met instructies om een nieuw wachtwoord in te stellen." %}</p>
  <p class="p">{% trans "Let op: dit werkt alleen als je geen DigiD gebruikt om in te loggen." %}</p>

  {% render_form id="password-reset-form" method="POST" form=form%}
    {% csrf_token %}
    {% input form.email %}
    {% form_actions primary_text=_("Wachtwoord opnieuw instellen") primary_icon="arrow_forward" %}
  {% endrender_form %}

{% endblock content %}
