{% extends 'master.html' %}
{% load i18n grid_tags form_tags anchor_menu_tags button_tags %}

{% block sidebar_content %}
    {% anchor_menu anchors=anchors desktop=True %}
{% endblock sidebar_content %}

{% block content %}

    {% render_grid %}
        {% render_column start=0 span=8 %}

            <h1 class="h1">{% trans "Password reset" %}</h1>
            <p class="p">{% trans "For security reasons, please enter your old password and your new password twice so we can make sure you have not made any typo." %}</p>

            {% render_form id="password-change-form" method="POST" form=form %}
                {% csrf_token %}
                {% input form.old_password %}
                {% input form.new_password1 %}
                {% input form.new_password2 %}
                <div class="form__actions form__actions--fullwidth">
                    {% button text=_("Change my password") primary=True type="submit" icon="east" icon_outlined=True icon_position="after" form_id="password-change-form" %}
                </div>
            {% endrender_form %}

        {% endrender_column %}
    {% endrender_grid %}

{% endblock content %}
