{% load form_tags string_tags %}

{% with field.auto_id|addstr:"_choices" as choices_id %}
<div class="form__control autocomplete__input" data-choices-id={{ choices_id }} data-field-id="{{ field.auto_id }}">

    {{ field.field.choices|json_script:choices_id }}
    <label class="label">
        {% if not no_label %}{{ field.label }}{% endif %}

        <input id="{{ field.auto_id }}-autocomplete" name="{{ field.name }}-autocomplete" class="input" type="search" spellcheck=false autocomplete="off" autocapitalize="off" {% include "django/forms/widgets/attrs.html" with widget=field.field.widget %}>

        {% if field.help_text %}
            <p class="p">{{ field.help_text }}</p>
        {% endif %}

        {% if field.errors %}
            {% errors errors=field.errors %}
        {% endif %}
    </label>

    <input id="{{ field.auto_id }}" name="{{ field.name }}" type="hidden">
</div>
{% endwith %}
