{% for option in field.subwidgets %}
    <label class="checkbox">
        <input
            id="{{option.data.attrs.id}}"
            class="checkbox__input"
            name="{{ option.data.name }}"
            type="checkbox"
            value="{{option.data.value}}"
            {% if option.data.selected %}selected="selected" checked="checked"{% endif %}
        >
        <label class="label checkbox__label" for="{{option.data.attrs.id}}">{{option.data.label}}</label>

    </label>
{% endfor %}
