{% load i18n button_tags icon_tags button_tags icon_tags notification_tags %}

{% for message in messages %}
    <div class="notifications notifications__errors">
        <div class="notification notification--warning">
            {% icon icon="warning_amber" icon_position="before" outlined=True %}
            <div class="notification__content" role="alert" tabindex="-1">
                <nl-paragraph>{{ message.message }}</nl-paragraph>
            </div>
        </div>
    </div>
{% endfor %}
