{% load i18n button_tags card_tags form_tags icon_tags %}

<div class="form__control file-input" aria-live="polite">
    {% render_card direction="vertical" %}
        {% icon icon="upload" icon_position="before" outlined=True extra_classes="icon--large" %}
        <input class="file-input__input" id="{{ field.auto_id }}" name="file" type="file"{% if field.field.required %} required{% endif %}{% if multiple %} multiple{% endif %} data-max-size="{{ max_upload_size }}" data-file-types="{{ allowed_file_extensions }}" />
        {#  NOTE: The 'name' attribute of file input fields should be consistent with the key of form logic. #}
        {#  TODO: change into name="{{ field.html_name }}" #}
        <label class="button button--primary file-input__label-empty" for="{{ field.auto_id }}">
            {{ empty_label }}
        </label>
        <label class="button button--borderless file-input__label-selected" for="{{ field.auto_id }}">
            {% icon icon="add_circle_outlined" icon_position="before" outlined=True %}
            {{ selected_label }}
        </label>
    {% endrender_card %}

    {% if field.help_text %}
        <div class="file-input__help-text">
            <nl-paragraph class-name="nl-paragraph--oip nl-paragraph--oip-small">
                {{ field.help_text }}
            </nl-paragraph>
        </div>
    {% endif %}

    {% if field.errors %}
        {% errors errors=field.errors %}
    {% endif %}

    {% if multiple %}
        {% form_actions primary_text=_("Upload documenten") enctype="multipart/form-data" fullwidth=True %}
    {% else %}
        {% form_actions primary_text=_("Upload document") enctype="multipart/form-data" fullwidth=True %}
    {% endif %}

    <div class="file-list" aria-live="polite">
        <div class="file-list-selection" hidden>
            <h4 class="utrecht-heading-3 file-list-selection__heading">
                {{ selected_heading }}
            </h4>
        </div>
        <ul class="file-list__list" aria-live="polite" data-label-delete="{% trans 'Verwijderen' %}"></ul>
    </div>
</div>
