
{% load i18n button_tags card_tags form_tags icon_tags %}

<div class="form__control file-input">
    {% render_card direction="vertical" %}
        {% icon icon="upload" icon_position="before" outlined=True %}
        <div class="inputfile-group">
            <input class="file-input__input" id="{{ field.auto_id }}" name="file" type="file">
            <label class="label" for="{{ field.auto_id }}">
                <span class="input-button input-button--emptied"><span class="button button--primary" href="#document-upload" aria-label="_('Sleep of selecteer bestand')">{% trans 'Sleep of selecteer bestand' %}</span></span>
                <span class="input-button input-button--selected"><span class="button button--textless button--icon button--transparent" href="#document-upload" aria-label="_('Selecteer bestand')">
                {% icon icon="control_point" icon_position="before" primary=True outlined=True %}
                {% trans 'Selecteer bestand' %}
                </span></span>
            </label>
        </div>

    {% endrender_card %}

    {% if field.help_text %}<p class="p p--muted p--small">{{ field.help_text }}</p>{% endif %}
    {% if field.errors %}{% errors errors=field.errors %}{% endif %}

    <div class="file-list" aria-live="polite">
        <h4 class="h4">{% trans 'Geselecteerd bestand'%}</h4>
        <ul class="file-list__list" aria-live="polite" data-label-delete="{% trans 'Verwijderen' %}"></ul>
    </div>
</div>
