{% load form_tags link_tags %}

<form class="form{% if columns %} form--columns-{{ columns }}{% endif %}{% if inline %} form--inline{% endif %}" method="{{ method }}" action="./" {% if id %}id="{{id}}"{% endif %}>
    {% if form.non_field_errors %}
        {% errors errors=form.non_field_errors %}
    {% endif %}

    {% if auto_render %}
        {% csrf_token %}
        {% for field in form.fields %}
            {% autorender_field form field %}
        {% endfor %}

        <div class="form__actions">
            {% if secondary_href %}
                {% link secondary_href secondary=True text=secondary_text icon='arrow_forward' %}
            {% endif %}
            {% submit icon='arrow_forward' text=submit_text %}
        </div>
    {% endif %}

    {{ contents }}
</form>
