{% load form_tags utils %}

<div class="form__control">
    <div class="form__stack">
        {% if field.field.choices %}
            {% for choice in field.field.choices %}
                {% choice_radio choice=choice name=field.name data=field.value index=forloop.counter initial=field.form.initial %}
            {% endfor %}
        {% else %}
            {% for choice in field.field.widget.choices %}
                {% choice_radio choice=choice name=field.name data=field.value index=forloop.counter initial=field.form.initial %}
            {% endfor %}
        {% endif %}
    </div>

    {% if field.help_text %}
        <p class="p">{{ field.help_text }}</p>
    {% endif %}

    {% if field.errors %}
        {% errors errors=field.errors %}
    {% endif %}
</div>
