{% load i18n l10n icon_tags button_tags form_tags %}

{#<div class="multiselect--checkbox__select multiselectcheckbox">#}
{#    <button id="selectButton" type="button" class="button__select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false">#}
{#        {% trans 'Filter op status' %}:#}
{#        {% icon icon="expand_more" icon_position="after" icon_outlined=True %}#}
{#    </button>#}
{#    <div id="selectMenu" class="select-content">#}
{#        {{ contents }}#}
{#    </div>#}
{#</div>#}

<fieldset class="multiselect--checkbox__select multiselectcheckbox" aria-label="{% trans 'Filter op status' %}:">
    {% button field.label id="selectButton" type="button" href="#" icon="expand_more" icon_position="after" extra_classes="button__select" bordered=False role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false" %}

    <legend class="filter__title">
        <span class="filter__legend-label">{{ field.label }}</span>
    </legend>

    <div id="selectMenu" class="select-content">
        {{ contents }}
        <label tabindex="0" for="id_{{ name }}_{{ index }}_{{ forloop.counter }}">
            {% for option in field.field.choices %}
                {% choice_checkbox choice=option name=field.name data=field.data index=forloop.counter form_id=form_id %}
            {% endfor %}
            {{ multiselectcheckbox_name }}{{ field.name }}
        </label>
    </div>
</fieldset>



{# See also: src/open_inwoner/components/templates/components/Filter/Filter.html #}
