{% load i18n l10n form_tags %}

{# NOTE: HTML Select tag can NOT be used because checkboxes break the options and the select #}
{#        {% for option in group_choices %}#}
            <label class="checkbox checkbox__label" tabindex="0" for="id_{{ name }}_{{ index }}_{{ forloop.counter }}">

                <input type="checkbox" class="checkbox__input" name="{{ name }}"
                       value="{{ option.0|unlocalize }}"
                       id="id_{{ name }}_{{ index }}_{{ forloop.counter }}"
                       {% if form_id %}form="{{ form_id }}"{% endif %}
                       {% if option.0 in data or option.0|add:0 in data %}checked="checked"{% endif %}>
            {{ multiselectcheckbox_name }}
            </label>
{#        {% endfor %}#}
