{% load i18n link_tags button_tags logo_tags footer_tags solo_tags thumbnail %}

{% get_solo "configurations.SiteConfiguration" as config %}

<footer class='footer'>
    {% logo src=config.logo.file|thumbnail_url:'logo' alt=config.logo.default_alt_text %}

    <div class="footer__visitor">
        <h2 class="h2">{{footer_texts.footer_visiting_title}}</h2>
        <p class="p">
            {{footer_texts.footer_visiting_intro|linebreaksbr}}
        </p>
	{% if footer_texts.footer_visiting_map %}
        {% button icon="arrow_forward" icon_position='before' transparent=True text=_("Bekijk op Google Maps") href=footer_texts.footer_visiting_map %}
	{% endif %}
    </div>


    <div class="footer__mail">
        <h2 class="h2">{{footer_texts.footer_mailing_title}}</h2>
        <p class="p">
            {{footer_texts.footer_mailing_intro|linebreaksbr}}
        </p>
    </div>

    <nav class="footer__links" aria-label="Footer navigatie">
        <ul class="footer__list">
            {% for flatpage in footer_texts.flatpages.all %}
                <li class="footer__list-item">
                    {% link text=flatpage.title secondary=True href=flatpage.get_absolute_url %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</footer>
