{% load i18n link_tags %}

<nav class="social {% if primary %}social--primary{% endif %}">
    <h4 class="h4">{% trans "Delen" %}</h4>

    {% link icon="facebook" href="#" text=_("Facebook") hide_text=True extra_classes="social__link" blank=True %}
    {% link icon="twitter" href="#" text=_("Twitter") hide_text=True extra_classes="social__link" blank=True %}
    {% link icon="whatsapp" href="#" text=_("Whatsapp") hide_text=True extra_classes="social__link" blank=True %}
    {% link icon="linkedin" href="#" text=_("LinkedIn") hide_text=True extra_classes="social__link" blank=True %}
</nav>
