{% extends "master.html" %}
{% load i18n list_tags icon_tags %}
{% block content %}
    <h1 class="utrecht-heading-1">{% trans "Links naar pagina's op " %}{{ site_name }}</h1>
    <div class="sitemap">
        {# All pages - flat list, alphabetically sorted #}
        <section class="sitemap__section">
            <ul class="utrecht-unordered-list">
                {% for page in sitemap_pages %}
                    <li class="utrecht-unordered-list__item">
                        {% if page.url_name %}
                            <a href="{% url page.url_name %}" class="link--secondary">
                                {% icon icon="chevron_right" icon_position="before" primary=True outlined=True %}
                                <span class="link__text">{{ page.link_text }}</span>
                            </a>
                        {% elif page.url %}
                            <a href="{{ page.url }}" class="link--secondary">
                                {% icon icon="chevron_right" icon_position="before" primary=True outlined=True %}
                                <span class="link__text">{{ page.link_text }}</span>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        {# Onderwerpen - separate section with category tree #}
        {% if category_nodes %}
            <section class="sitemap__section">
                <ul class="utrecht-unordered-list">
                    <li class="utrecht-unordered-list__item">
                        <a href="{% url "products:category_list" %}" class="link--secondary">
                            {% icon icon="chevron_right" icon_position="before" primary=True outlined=True %}
                            <span class="link__text">{% trans "Onderwerpen" %}</span>
                        </a>
                    </li>
                </ul>
                <ul class="utrecht-unordered-list utrecht-unordered-list--nested">
                    {% for node in category_nodes %}
                        {% include "pages/sitemap/category_item.html" with node=node %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
{% endblock content %}
