.userfeed {
  &__header {
    display: block;
    line-height: var(--font-line-height-heading-2);
    margin: 0;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__summary {
    background-color: var(--color-white);
    color: var(--color-red-notification);
    display: block;
    line-height: var(--font-line-height-body);
    position: relative;
  }

  &__list {
    column-gap: var(--spacing-large);
    list-style: none;
    display: block;
    flex-direction: row;
    margin: 0;
    padding: 0 0 var(--spacing-large) 0;

    @media (min-width: 768px) {
      display: flex;
    }

    &-item {
      position: relative;
      padding: 0;

      &:after {
        content: ' ';
        position: absolute;
        border-right: none;
        right: calc(-1 * var(--spacing-medium));
        top: 4px;
        height: 16px;

        @media (min-width: 768px) {
          border-right: 1px solid var(--color-red-notification);
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          border-right: none;
        }
      }
    }

    &-paragraph {
      font-size: var(--font-size-body-small);
      margin: 0;
      padding: 0;
    }
  }

  .card {
    justify-content: flex-start;

    .userfeed-card__heading {
      color: var(--font-color-heading);
      font-family: var(--font-family-heading);
      font-size: var(--font-size-body);
      line-height: var(--font-line-height-body);
      margin: 0;
      padding: var(--spacing-large) var(--spacing-extra-large) 0 0;
    }
  }

  .card--status {
    // Default color
    padding: 0;
    background-color: var(--color-white);

    .card__header {
      display: flex;

      &.warning {
        background-color: var(--color-danger-lightest);
        color: var(--color-danger-darker);
      }

      &.info {
        background-color: var(--color-info-lighter);
        color: var(--color-info-darker);
      }

      &.success {
        background-color: var(--color-success-lighter);
        color: var(--color-success);
      }

      &.failure {
        background-color: var(--color-error-lightest);
        color: var(--color-error-darker);
      }

      [class*='icons'] {
        display: inline-block;
        margin: 0 10px 6px 10px;
      }

      .card__status_indicator_text {
        display: inline-block;
        margin: var(--spacing-tiny) var(--spacing-large) var(--spacing-medium) 0;
        padding: 0;
      }
    }

    .userfeed__marker {
      // Default color
      padding: var(--spacing-medium) 0 0 0;
      background-color: var(--color-white);

      &--warning {
        background-color: var(--color-danger-lightest);
        color: var(--color-danger-darker);
      }

      &--info {
        background-color: var(--color-info-lighter);
        color: var(--color-info-darker);
      }

      &--success {
        background-color: var(--color-success-lighter);
        color: var(--color-success);
      }

      &--failure {
        background-color: var(--color-error-lightest);
        color: var(--color-error-darker);
      }
    }
  }

  .card-container.plugin-card {
    grid-row-gap: var(--spacing-medium);
    grid-column-gap: var(--spacing-giant);
  }
}
