{% load helpers %}
<div class="card-container{% if columns %} card-container--columns-{{columns}}{% endif %}{% if small %} card-container--small{% endif %}">
    {% if categories %}
        {% for category in categories %}
            {% url 'products:category_detail' slug=category.slug as category_url %}
            {% if category.icon %}
                {% include "components/Card/Card.html" with src=category.icon.file.url alt=category.icon.name title=category.name href=category_url compact=True image_object_fit=image_object_fit only %}
            {% else %}
                {% include "components/Card/Card.html" with src=category.image.file.url alt=category.image.name title=category.name href=category_url compact=True image_object_fit=image_object_fit only %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if subcategories %}
        {% for subcategory in subcategories %}
            {% include "components/Card/CategoryCard.html" with category=subcategory parent_category=parent_category compact=True image_object_fit=image_object_fit only %}
        {% endfor %}
    {% endif %}

    {% if products %}
        {% for product in products %}
            {% get_product_url product as product_url %}
            {% include "components/Card/ProductCard.html" with title=product.name description=product.summary url=product_url image=product.icon compact=True image_object_fit=image_object_fit only %}
        {% endfor %}
    {% endif %}

    {% if plans %}
        {% for plan in plans %}
            {% include "components/Card/DescriptionCard.html" with title=plan.title description=plan.goal|truncatechars:51 url=plan.get_absolute_url elypsis=True object=plan compact=True image_object_fit=image_object_fit only %}
        {% endfor %}
    {% endif %}

    {% if locations %}
        {% for location in locations %}
            {% include "components/Card/LocationCard.html" with location_name=location.name address_line_1=location.address_line_1 address_line_2=location.address_line_2 compact=True phonenumber=location.phonenumber email=location.email only %}
        {% endfor %}
    {% endif %}
</div>
