{% load card_tags icon_tags link_tags helpers utils %}

{# create tag for anchor around card - never use anchors within anchors for valid HTML. #}
<div title="{{ category }}" aria-describedby="Thema's" class="card">
    <div class="card__body">
        {% if category %}
            <p class="h3">
                <a href="{{ category.slug }}" class="link link__text">{{ category }}</a>
            </p>
        {% endif %}
        {% for product in category.products.published %}
        {% with category as parent %}
            <div class="card__categories">
            {% get_product_url product as product_url %}
            {% link href=product_url icon='arrow_forward' icon_position='before' secondary=True text=product.name %}
            </div>
        {% endwith %}
    {% endfor %}
    </div>
</div>
