{% load card_tags icon_tags link_tags button_tags i18n grid_tags thumbnail %}

{% render_card href=url grid=image title=title %}
    {% if image %}
        <img class="card__image" src="{{ image|thumbnail_url:'card-image' }}" alt="{{ image.default_alt_text }}" />
        <div class="card__content">
            <h2 class="h2"><span class="link link__text">{{ title }}</span></h2>
    {% endif %}
    <p class="p">{{ description }}</p>
    {% if object.end_date %}
        <div class="card__tabled">
            <div>{% trans "Einddatum" %}:</div>
            <div>{{ object.end_date }}</div>
            <div>{% trans "Created by" %}:</div>
            <div>{{ object.created_by.get_full_name }}</div>
        </div>
    {% endif %}
    <span class="button button--icon-arrow-forward button--transparent button--secondary" aria-hidden="true" >
    {% icon icon="arrow_forward" outlined=True %}
    </span>

    {% if image %}
        </div>
    {% endif %}
{% endrender_card %}
