{% load utils link_tags %}

{# Utilizes same template as Card. #}
{% capture as tag %}{{ href|yesno:'a,div'}}{% endcapture %}
{# create tag for anchor around card - never use anchors within anchors for valid HTML. #}
<{{ tag }}{% if href %} href="{{ href }}"{% endif %} title="{{ title }}" aria-label="{{ title }}" class="card{% if compact %} card--compact{% endif %}{% if inline %} card--inline{% endif %}{% if stretch %} card--stretch{% endif %}{% if tinted %} card--tinted{% endif %}{% if type %} card--type-{{ type }}{% endif %}">
    {% if src %}
        <span class="card__header">
            <img class="card__img{% if image_object_fit %} card__img--{{ image_object_fit }}{% endif %}" src="{{ src }}" alt="{{ alt }}"/>
        </span>
    {% endif %}

    <div class="card__body{% if direction %} card__body--direction-{{ direction }}{% endif %}{% if grid %} card__body--grid{% endif %}">
        {% if title %}
            {% if compact %}
            <p class="h4">
                <span class="link link__text">{{ title }}</span>
            </p>
            {% endif %}
        {% endif %}
        {{ contents }}
    </div>
</{{ tag }}>
