{% load utils link_tags %}

{# Utilizes same template as Card. #}
{% capture as tag %}{{ href|yesno:'a,div'}}{% endcapture %}
<{{ tag }}{% if href %} href="{{ href }}"{% endif %} class="card{% if compact %} card--compact{% endif %}{% if inline %} card--inline{% endif %}{% if stretch %} card--stretch{% endif %}{% if tinted %} card--tinted{% endif %}{% if type %} card--type-{{ type }}{% endif %}">
    {% if src %}
        <a class="card__header" href="{{ href }}" title="{{ title }}" aria-describedby="{{ title }}">
            <img class="card__img{% if image_object_fit %} card__img--{{ image_object_fit }}{% endif %}" src="{{ src }}" alt="{{ alt }}"/>
        </a>
    {% endif %}

    <div class="card__body{% if direction %} card__body--direction-{{ direction }}{% endif %}{% if grid %} card__body--grid{% endif %}">
        {% if title %}
            <p class="{% if compact %}h4{% else %}h3{% endif %}">
                {% if href %}
{#                    {% link href=href text=title %}#}
                {% else %}
                    {{ title }}
                {% endif %}
            </p>
        {% endif %}
        {{ contents }}
    </div>
</{{ tag }}>
