.card {
  --card-color-background: white;
  --card-color-border: var(--color-gray);
  --card-size-border: var(--border-width-thin);
  --card-size-dog-ear: var(--gutter-width);
  --card-spacing: var(--spacing-large);

  background-color: var(--card-color-background);
  border: var(--card-size-border) solid var(--card-color-border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;

  &--inline {
    display: inline-flex;
  }

  &--stretch {
    height: 100%;
  }

  &--type-info {
    --card-color-background: var(--color-info-lighter);
    --card-color-border: transparent;
    --card-spacing: var(--spacing-extra-large);
    clip-path: polygon(
      0% 0%,
      calc(100% - var(--card-size-dog-ear)) 0%,
      100% var(--card-size-dog-ear),
      100% 100%,
      0% 100%
    );
    max-width: 320px;
  }

  &--type-info:after {
    background-color: var(--color-info);
    border-radius: var(--border-radius);
    //box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    content: '';
    height: var(--card-size-dog-ear);
    position: absolute;
    right: calc(-1 * var(--card-size-border));
    top: calc(-1 * var(--card-size-border));
    width: var(--card-size-dog-ear);
  }

  &--type-info .h1,
  &--type-info .h2,
  &--type-info .h3,
  &--type-info .h4,
  &--type-info .h5,
  &--type-info .h5,
  &--type-info .p {
    color: var(--color-info-darker);
  }

  &--tinted {
    --card-color-background: var(--color-gray-lightest);
  }

  &__img {
    height: 100px;
    object-fit: cover;
    width: 100%;
  }

  &__img--contain {
    object-fit: contain;
  }
  &__body {
    padding: var(--card-spacing);
  }

  &__body--grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    height: 100%;

    .card__content {
      padding: var(--card-spacing);

      .p,
      .button {
        margin-top: 4px;
      }
    }
  }

  &__body--direction-horizontal {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__tabled {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0px 16px;
    color: var(--font-color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-body);
    margin-top: var(--spacing-extra-large);
  }

  .h4 {
    margin: 0 0 var(--card-spacing);
  }

  &--compact .h4 {
    padding: 0 0 var(--card-spacing);
    position: relative;

    &:before {
      bottom: 0;
      content: '';
      border-bottom: var(--card-size-border) solid var(--card-color-border);
      width: calc(100% + 2 * var(--card-spacing));
      position: absolute;
      left: calc(-1 * var(--card-spacing));
    }
  }

  &--product {
    padding: 20px;
    align-items: end;

    .h3 {
      width: 100%;
    }

    .p {
      width: 100%;
    }
  }

  ///
  /// Exceptions.
  ///

  /// Cards within cards should leave some space.
  .card + .card {
    margin-top: calc(0.5 * var(--gutter-width));
  }

  /// Form should not have padding within a card.
  .form {
    padding: 0;
  }

  /// Arrow button on product cards.
  a.button:last-child,
  .button--icon-arrow-forward {
    float: right;
  }
  .button--icon-arrow-forward {
    display: flex;
  }

  .link + .link {
    margin-left: 0;
    white-space: nowrap;

    @media (min-width: 768px) {
      white-space: normal;
    }
  }

  /// On a stretched card, the one and only link after a list should be placed on above the bottom border.
  &--stretch &__body {
    padding-bottom: 0;
  }

  &--stretch &__body .list:last-of-type {
    padding-bottom: calc(var(--font-size-body) + var(--card-spacing) + 1em);
  }

  &--stretch .list + .link:first-of-type:last-of-type {
    bottom: var(--card-spacing);
    position: absolute;
  }
}

/// home-page cards

.plans-cards {
  position: relative;
  .card {
    span.button:last-child {
      float: right;
    }
    .card__body {
      a.card-home-link {
        display: block;
        position: static;
        height: 100%;
        text-decoration: none;
        > p:nth-child(2) {
          // make space for exception
          min-height: calc(2 * var(--spacing-large));
        }
      }
    }
  }
}

///
/// Contextual.
///

.h2 + .card {
  margin-top: var(--spacing-large);
}
