.card {
  --card-color-background: white;
  --card-color-border: var(--color-gray);
  --card-size-border: var(--border-width-thin);
  --card-size-dog-ear: var(--gutter-width);
  --card-spacing: var(--spacing-large);

  background-color: var(--card-color-background);
  border: var(--card-size-border) solid var(--card-color-border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  min-width: var(--header-height);
  position: relative;
  text-decoration: none;

  &--inline {
    display: inline-flex;
  }

  &--info {
    background-color: var(--color-info-lighter);
    color: var(--color-info-darker);
    border: 0;

    & .document-upload-description__text {
      margin-top: 0.15em;

      & * {
        margin: 0;
      }
    }
  }

  &--stretch {
    height: 100%;
  }

  &--type-info {
    --card-color-background: var(--color-info-lighter);
    --card-color-border: transparent;
    --card-spacing: var(--spacing-large);
    clip-path: polygon(
      0% 0%,
      calc(100% - var(--card-size-dog-ear)) 0%,
      100% var(--card-size-dog-ear),
      100% 100%,
      0% 100%
    );
    max-width: 320px;
  }

  &--type-info:after {
    background-color: var(--color-info);
    border-radius: var(--border-radius);
    //box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    content: '';
    height: var(--card-size-dog-ear);
    position: absolute;
    right: calc(-1 * var(--card-size-border));
    top: calc(-1 * var(--card-size-border));
    width: var(--card-size-dog-ear);
  }

  &--type-info .h1,
  &--type-info .h2,
  &--type-info .h3,
  &--type-info .h4,
  &--type-info .h5,
  &--type-info .h5,
  &--type-info .p {
    color: var(--color-info-darker);
  }

  &--tinted {
    --card-color-background: var(--color-gray-lightest);

    // contrast for accessibility
    .form .caption__content {
      color: var(--color-tinted-mute);
    }

    .card__body--direction-horizontal .link .link__text {
      text-align: right;
      padding-left: var(--spacing-small);
    }
  }

  &__img {
    height: 100px;
    object-fit: cover;
    width: 100%;
  }

  &__img--contain {
    object-fit: contain;
  }

  &__body {
    padding: var(--card-spacing);

    &--tabled {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--direction-vertical {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .spacer {
      display: inline-block;
      width: 100%;
      height: var(--row-height);
    }

    /// clickable plans on home page after authenticated
    .plan-list {
      text-decoration: none;
    }

    .ellipsis .list-item p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__body--grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    height: 100%;

    .card__content {
      padding: var(--card-spacing);
    }
  }

  .card__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .p {
      margin-top: 4px;
    }
    .button {
      bottom: 0;
      right: 0;
      padding: var(--card-spacing);
      position: absolute;
    }

    &--tabled {
      padding: 0;
    }
  }

  &__body--direction-horizontal {
    display: flex;
    justify-content: space-between;
  }

  &__body--flex {
    display: flex;
    flex-direction: column;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__tabled {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0px 16px;
    color: var(--font-color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-body);
    margin-top: var(--spacing-extra-large);
  }

  .h2,
  .h4 {
    margin: 0 0 var(--card-spacing);
  }

  &--compact .h3 {
    padding: 0 0 var(--card-spacing);
    margin: 0 0 var(--card-spacing);
    position: relative;

    &::before {
      bottom: 0;
      content: '';
      border-bottom: var(--card-size-border) solid var(--card-color-border);
      width: calc(100% + 2 * var(--card-spacing));
      position: absolute;
      left: calc(-1 * var(--card-spacing));
    }
  }

  /// Headings in cards

  .h2,
  .h3,
  .h4,
  .h2 .link,
  .h3 .link,
  .h4 .link {
    color: var(--font-color-body);
    font-size: var(--font-size-heading-card);
  }

  &--product {
    padding: 20px;
    align-items: end;

    .h3 {
      width: 100%;
    }

    .p {
      width: 100%;
    }
  }

  ///
  /// Exceptions.
  ///

  /// Cards within cards should leave some space.
  .card + .card {
    margin-top: calc(0.5 * var(--gutter-width));
  }

  /// Form should not have padding within a card.
  .form {
    padding: 0;
  }

  /// Arrow button on product cards.
  a.button:last-child,
  span.button:last-child {
    bottom: 0;
    right: 0;
    padding-bottom: var(--card-spacing);
    position: absolute;
  }

  .link + .link {
    margin-left: 0;
    white-space: nowrap;

    @media (min-width: 768px) {
      white-space: normal;
    }
  }

  /// On a stretched card, the one and only link after a list should be placed on above the bottom border.
  &-- stretch &__body {
    padding-bottom: var(--card-spacing);

    @media (min-width: 768px) {
      padding-bottom: 0;
    }
  }

  &--stretch &__body .list:last-of-type {
    padding-bottom: calc(var(--font-size-body) + var(--card-spacing) + 1em);
  }

  &--stretch .list + .link:first-of-type:last-of-type,
  &--stretch .profile-card__button {
    bottom: var(--card-spacing);
    position: static;

    @media (min-width: 768px) {
      position: absolute;
    }
  }
}

///
/// Contextual.
///

.h2 + .card {
  margin-top: var(--spacing-large);
}
