.location-card-list {
  .h4 {
    margin-bottom: var(--spacing-large);
  }

  &__list {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: var(--gutter-width);
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    height: 100%;
  }
}
