.file {
  display: grid;
  grid-template-columns: 55px 1fr 1fr;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  margin-bottom: 16px;

  .file__icon {
    padding: 16px;
    border-radius: 3px 0 0 3px;
    background-color: #F8F7F5;
    border-right: 1px solid #D2D2D2;
  }

  .file__name {
    padding: 18px 16px;
    color: #4B4B4B;
    font-family: var(--font-family-body);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
  }

  .file__download {
    text-align: right;
    padding: 18px 16px;
    color: #1261A3;
    font-family: var(--font-family-body);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .file__download-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
}
