.location {
  padding: 0 0 var(--spacing-giant) 0;

  &__details {
    display: flex;
    gap: var(--spacing-extra-large);
    margin-top: var(--spacing-small);
  }

  &__address p:nth-child(2),
  &__contact p:nth-child(2) {
    margin-top: 0;
  }
}
