.show-preview {
  cursor: pointer;

  & *[class*='icon'] {
    font-size: var(--font-size-body-large);
  }
}

.preview {
  display: grid;
  grid-template-columns: 134px 1fr;
  gap: var(--spacing-large);
  text-align: left;

  @media (min-width: 768px) {
    grid-template-columns: 90px 1fr;
  }

  .preview__span {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 20px 110px 1fr;
    gap: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
    border-top: none;

    @media (min-width: 768px) {
      grid-column: 2 / 3;
    }
  }

  .preview__span ~ .preview__span {
    padding: var(--spacing-large) 0;
    border-top: var(--border-width) solid var(--color-mute);
  }

  .preview__title {
    font-weight: bold;
  }
}
