{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags utils icon_tags file_tags action_tags dropdown_tags anchor_menu_tags %}

{% block sidebar_content %}
{% anchor_menu anchors=anchors desktop=True %}
{% endblock sidebar_content %}

{% block content %}
<div class="plans">
    <h1 class="h1" id="title">
        {{ object.title }}

        {% button_row align="right" %}
	    {% if is_creator %}
              {% dropdown icon="settings" secondary=True %}
                  <div class="dropdown__item">
                      {% button icon="edit" text=_("Bewerken") href="collaborate:plan_edit" uuid=object.uuid icon_outlined=True transparent=True %}
                  </div>
	      {% enddropdown %}
            {% endif %}
            {% button href="collaborate:plan_export" uuid=object.uuid icon="file-pdf" text=_("Exporteer naar PDF") hide_text=True icon_outlined=True transparent=True secondary=True %}
        {% endbutton_row %}

    </h1>

    <div class="plan-contact">
        <div class="plan-contact__container">
            {% icon "calendar_today" outlined=True %}
            <div class="plan-contact__information">
                <p class="plan-contact__title">{% trans "Einddatum" %}</p>
                <p class="plan-contact__info">{{ object.end_date }}</p>
            </div>
        </div>
        <div class="plan-contact__container">
            {% icon "person" outlined=True %}
            <p class="plan-contact__title">{% trans "Created by" %}</p>
            <div class="plan-contact__grid plan-contact__grid--columns-1">
                <div class="plan-contact__information">
                    <p class="plan-contact__info">{{ object.created_by.get_full_name }}</p>
                    <p class="plan-contact__info">{{ object.created_by.email }}</p>
                </div>
            </div>
        </div>
        <div class="plan-contact__container">
            {% icon "person" outlined=True %}
            <p class="plan-contact__title">{% trans "Deelnemers" %}</p>
            <div class="plan-contact__grid plan-contact__grid--columns-{% if object.plan_contacts.count > 1 %}2{% else %}1{% endif %}">
                {% for user in contact_users %}
                    <div class="plan-contact__information">
                        <p class="plan-contact__info">{{ user.get_full_name }}</p>
                        <p class="plan-contact__info">{{ user.email }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h2 class="h2" id="goals">{% trans "Doel" %}</h2>
    <p class="p">{{ object.goal|linebreaksbr }}</p>

    {% if object.description %}
    <h2 class="h2" id="description">{% trans "Description" %}</h2>
    <p class="p">{{ object.description|linebreaksbr }}</p>
    {% endif %}

    {% button href="collaborate:plan_edit_goal" uuid=object.uuid text=_("Doel en omschrijving bewerken") primary=True %}

    <h2 class="h2" id="files">{% trans "Bestanden" %}</h2>
    {% if object.get_latest_file %}
        {% url "profile:documents_download" uuid=object.get_latest_file.uuid as download_url %}
        {% file file=object.get_latest_file.file name=object.get_latest_file.name download_url=download_url %}

        {% if object.get_other_files %}
            {% file_table files=object.get_other_files download_view="profile:documents_download" %}
        {% endif %}
    {% endif %}
    {% button href="collaborate:plan_add_file" uuid=object.uuid text=_("Upload nieuwe versie") primary=True %}

    <h2 class="h2" id="actions">{% trans "Acties" %}</h2>
    {% actions actions=actions request=request action_form=action_form form_action=request.path|add:"#actions" plan=plan %}
    {% button href="collaborate:plan_action_create" uuid=object.uuid text=_("Nieuw actie toevoegen") icon="date_range" primary=True %}
</div>
{% endblock %}
