{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags utils icon_tags file_tags action_tags %}

{% block sidebar_content %}
    <aside class="anchor-menu">
        <ul class="anchor-menu__list">
            <li class="anchor-menu__list-item">
                <a class="link" href="#title">{{ object.title }}</a>
            </li>
            <li class="anchor-menu__list-item">
                <a class="link" href="#goals">{% trans "Doelen" %}</a>
            </li>
            <li class="anchor-menu__list-item">
                <a class="link" href="#files">{% trans "Bestanden" %}</a>
            </li>
            <li class="anchor-menu__list-item">
                <a class="link" href="#actions">{% trans "Acties" %}</a>
            </li>
            <li class="anchor-menu__list-item anchor-menu__list-item--top">
                <a class="link link--primary" href="#top">
                    {% icon icon="arrow_upward" %}
                    Terug naar boven
                </a>
            </li>
        </ul>
    </aside>
{% endblock sidebar_content %}

{% block content %}
    <h1 class="h1" id="title">{{ object.title }}</h1>

    {% for contact in object.contacts.all %}
        <div class="plan-contact">
            <div class="plan-contact__container">
                {% icon "person" outlined=True %}
                <div class="plan-contact__information">
                    {{ contact.get_name }}<br />
                    {{ contact.function }}&nbsp;
                </div>
            </div>
            <div class="plan-contact__container">
                {% icon "phone" outlined=True %}
                <div class="plan-contact__information">
                    {{ contact.phonenumber }}<br />
                    {{ contact.email }}&nbsp;
                </div>
            </div>
            <div class="plan-contact__container">
                {% icon "calendar_today" outlined=True %}
                <div class="plan-contact__information">
                    {% trans "Einddatum" %}<br />
                    {{ object.end_date }}
                </div>
            </div>
        </div>
    {% endfor %}

    <h3 class="h3" id="goals">{% trans "Doel" %}</h3>
    <p class="p">{{ object.goal|linebreaksbr }}</p>
    {% button href="plans:plan_edit_goal" uuid=object.uuid text=_("Doel bewerken") primary=True %}

    <br />
    <br />
    <br />
    <h3 class="h3" id="files">{% trans "Bestanden" %}</h3>
    {% if object.get_latest_file %}
        <br />
        {% file file=object.get_latest_file %}

        {% file_table files=object.get_other_files %}
    {% endif %}
    <br />
    {% button href="plans:plan_add_file" uuid=object.uuid text=_("Upload nieuwe versie") primary=True %}

    <br />
    <br />
    <br />
    <h3 class="h3" id="actions">{% trans "Acties" %}</h3>
    {% actions actions=object.actions.all action_form=action_form %}
    <br />
    {% button href="accounts:action_create" text=_("Nieuw actie toevoegen") icon="date_range" primary=True %}
{% endblock %}
