{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags form_tags grid_tags string_tags %}

{% block content %}
    <h1 class="h1">{% trans "Samenwerken" %}</h1>
    {% optional_paragraph configurable_text.plans_page.plans_intro %}

    {% render_form id="plan-form" form=form method="POST" %}
        {% csrf_token %}
        {% input form.title %}
        {% render_grid %}
            {% checkboxes form.plan_contacts %}
            {% date_field form.end_date %}
        {% endrender_grid %}
        {% form_actions primary_text=_("Verzenden") primary_icon="arrow_forward" %}
    {% endrender_form %}
{% endblock %}
