{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags utils %}

{% block content %}
    <h1 class="h1">
        {% trans "Samenwerken" %}
        {% button href="plans:plan_create" text=_("Start nieuwe samenwerking") primary=True icon="group" icon_outlined=True %}
    </h1>
    {% with configurable_text.plans_page.plans_intro as plans_intro %}
        {% if plans_intro %}
            <p class="p">{{plans_intro|linebreaksbr}}</p>
        {% endif %}
    {% endwith %}

    {% card_container plans=object_list columns=2 %}
{% endblock %}
