{% load i18n helpers %}

<a
    href="{{href}}"
    {% if download %}download{% endif %}
    {% if href|startswith:"http" %}target="_blank"{% endif %}
    class="link {{ extra_classes }} {% if active %}link--active{% endif %} {% if iconPosition %}button--icon-{{iconPosition}}{% endif %} {% if primary %}link--primary{% endif %} {% if secondary %}link--secondary{% endif %}"
    {% if data_text %}data-text="{{ data_text }}"{% endif %}
    {% if data_alt_text %}data-alt-text="{{ data_alt_text }}"{% endif %}
    {% if data_icon %}data-icon="{{ data_icon }}"{% endif %}
    {% if data_alt_icon %}data-alt-icon="{{ data_alt_icon }}"{% endif %}
>
    {% if src %}
        <img class="logo__image" src="{{src}}" alt="{{ text }}"{% if height %} height="{{ height }}"{% endif %}/>
    {% endif %}

    {% if not src %}<span class="link__text">{{ text }}</span>{% endif %}

    {% if social_icon %}
        <i class="fa-brands fa-{{social_icon}}"></i>
    {% endif %}

    {% if icon %}
        <span class="material-icons">{{icon}}</span>
    {% endif %}

    {% if href|startswith:"http" %}<span class="material-icons">open_in_new</span>{% endif %}
</a>
