{% load i18n helpers icon_tags %}

<a
    href="{{href}}"
    {% if id %}{{ id }}{% endif %}
    {% if download %}download{% endif %}
    {% if href|startswith:"http" %}target="_blank"{% endif %}
    class="{{ classes }}{% if extra_classes %} {{ extra_classes }}{% endif %}"
    {% if data_text %}data-text="{{ data_text }}"{% endif %}
    {% if data_alt_text %}data-alt-text="{{ data_alt_text }}"{% endif %}
    {% if data_icon %}data-icon="{{ data_icon }}"{% endif %}
    {% if data_alt_icon %}data-alt-icon="{{ data_alt_icon }}"{% endif %}
    {% if toggle %}
        data-toggle-target="{{ href }}"
        data-toggle-modifier="{{ toggle }}"
        data-use-aria="true"
    {% endif %}
    {% if toggle_exclusive %}data-toggle-exclusive="{{ toggle_exclusive }}"{% endif %}
    aria-label="{{ text }}"
    title="{% firstof title text %}"
>
    {% if src %}
        <img class="logo__image" src="{{src}}" alt="{{ text }}"/>
    {% endif %}

    {% if text and not hide_text %}<span class="link__text">{{ text }}</span>{% endif %}

    {% if icon %}
        {% icon icon=icon outlined=icon_outlined %}
    {% endif %}

    {% if href|startswith:"http" and not hide_external_icon %}{% icon icon="open_in_new" %}{% endif %}
</a>
