@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin: 0;
  text-align: center;

  @media (min-width: 500px) {
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    margin: 100px 0 0 0;
  }

  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color-body);
    font-size: var(--font-size-body);

    &__content {
      margin-top: var(--spacing-large);
    }
  }

  &--hide {
    display: none;
  }

  .rotate {
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner-icon {
    display: inline-block;
    font-size: 50px;
    color: var(--color-gray-dark);
    width: 50px;
    height: 50px;
  }
}
