{% load static header_tags card_tags footer_tags %}<!DOCTYPE html>
<html lang="en" class="view {% block view_class %}view--{{ request.resolver_match.namespaces|join:'-' }}-{{ request.resolver_match.url_name }}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Open_Inwoner{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
        <link href="{% static 'bundles/open_inwoner-css.css' %}" media="all" rel="stylesheet" />
        {% comment %} TODO: Make self hosted {% endcomment %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="{% static 'fontawesome6/css/fontawesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome6/css/brands.min.css' %}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>

    <body style="{{ theming }}">
        {% header logo_url=site_logo categories=menu_categories request=request breadcrumbs=breadcrumbs %}
        <main class="container">
            <div class="grid">
                {% spaceless %}<aside class="grid__sidebar">
                    {% block sidebar_content %}{% endblock sidebar_content %}
                </aside>{% endspaceless %}
                <div class="grid__main">
                    {% block content %}
                        <h1 class="h1">Welkom</h1>
                        <p class="p">Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
                        <h1 class="h1">Thema&apos;s</h1>
                        <p class="p">Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
                        {% card_container categories=categories %}
                        <h1 class="h1">In de buurt</h1>
                        <p class="p">Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
                        {% comment %} <Map fixed={false} lat={52.259221} long={6.163435} height="464px" /> {% endcomment %}
                        <p class="p">TODO: Add the map</p>
                    {% endblock content %}
                </div>
            </div>
            {% block extra_grid %}{% endblock extra_grid %}
        </main>

        {% footer logo_url=site_logo %}

        <script src="{% static 'bundles/open_inwoner-js.js' %}"></script>
    </body>
</html>
