///
/// Footer.
///
.footer {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  $vm: var(--row-height);
  background-color: var(--color-gray-lightest);
  box-sizing: border-box;

  display: grid;
  gap: var(--spacing-medium);

  grid-template-areas:
    'head'
    'left'
    'center'
    'right';
  grid-template-columns: 1fr;
  padding: $vm $hm;

  @media (min-width: 768px) {
    gap: var(--gutter-width);
    grid-template-areas:
      'head head head'
      'left center right';
    grid-template-columns: repeat(3, 1fr);
  }

  &__header {
    grid-area: head;
  }
  &__left {
    grid-area: left;
  }
  &__center {
    grid-area: center;
  }
  &__right {
    grid-area: right;
  }

  &__left,
  &__center,
  &__right {
    :first-child {
      padding-top: 0;
    }
  }
  &__logo {
    img {
      width: auto;
      max-height: 60px;
    }
  }
  &__logo-text {
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    :first-child {
      margin-top: 0;
    }
  }

  &__list-item {
    padding: var(--spacing-small) 0;
  }
}
