{% load i18n filter_tags icon_tags button_tags form_tags %}

<div>
    <fieldset class="filter" aria-label="{% trans "Filter" %}">
        {% button href="#" icon="expand_more" icon_position="after" extra_classes="filter__mobile filter--toggle" bordered=False text=field.label %}
        <legend class="filter__title">
            <span class="filter__legend-label">{{ field.label }}</span>
        </legend>
        <div class="filter__list">
            {% for option in field.field.choices %}
                {% choice_checkbox choice=option name=field.name data=field.data index=forloop.counter %}
            {% endfor %}
        </div>
    </fieldset>
    <hr class="divider divider--tiny">
</div>
