.menu {
  height: var(--menu-height);

  &__container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--spacing-large);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
  }

  &__logo {
    max-height: calc(var(--menu-height) - var(--spacing-large));
  }

  &__info {
    text-align: right;
  }

  &__link {
    color: var(--color-text);
    text-decoration: none;
    padding: var(--spacing-large);
  }

  &__link--active,
  &__link--highlighted {
    color: var(--color-primary);
    font-weight: bold;
  }
}
