{% extends 'master.html' %}
{% load card_tags button_tags %}

{% block content %}
<h1 class="h1">
    {{object.name}}
    {% if request.user.is_staff %}
        {% button icon="edit" href="admin:pdc_category_change" object_id=object.pk %}
    {% endif %}
</h1>
<p class="p">{{object.description}}</p>

{% if subcategories %}
{% card_container subcategories=subcategories parent_category=object %}
{% endif %}

{% if products %}
{% card_container products=products small=True %}
{% endif %}
{% endblock content %}
