{% extends 'master.html' %}
{% load static %}

{% block react_modules %}
{# Including this script will allow the page to use the react component #}
<script
  type="module"
  src="{% static 'bundles/open_inwoner-react.js' %}"
></script>
{% endblock %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
<div class="categories__content">
    <h1 class="utrecht-heading-1">{{configurable_text.theme_page.theme_title}}</h1>
    <p class="utrecht-paragraph">{{configurable_text.theme_page.theme_intro|linebreaksbr}}</p>

    {% include "components/Card/CardContainer.html" with categories=object_list only %}
</div>
{% endblock content %}
