.column {
  @for $i from 1 through 12 {
    &--start-#{$i} {
      grid-column-start: $i;
    }

    &--span-#{$i} {
      grid-column-end: span $i;
    }
  }

  display: grid;
  grid-gap: var(--row-height);
  grid-auto-columns: 1fr;
}
