{% load i18n components %}

<header class="accessibility-header">
    <ul class="accessibility-header__list">
        <li class="accessibility-header__list-item">
            {% link href="#" icon="hearing" %}{% trans "Lees voor" %}{% endlink %}
        </li>

        <li class="accessibility-header__list-item">
            {% link href="#" icon="zoom_in" %}
                {% trans "Vergroten" %}
            {% endlink %}
        </li>

        <li class="accessibility-header__list-item">
            {% link href="#" icon="font_download" %}{% trans "Dyslexie" %}{% endlink %}
        </li>

        <li class="accessibility-header__list-item">
            {% link href="#" icon="print" %}{% trans "Print pagina" %}{% endlink %}
        </li>
    </ul>
</header>
