.pagination {
  display: flex;
  margin: var(--spacing-giant) auto 0 auto;
  justify-content: center;

  &__pages {
    display: flex;
    flex-direction: row;
    min-width: 0;
  }

  &__item {
    width: var(--gutter-width);
    height: var(--gutter-width);

    color: #4b4b4b;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    letter-spacing: 0;
    line-height: var(--font-line-height-body);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &--active {
      color: var(--color-primary);

      &:before {
        background-color: var(--color-primary);
        border-radius: 100px;
        bottom: 0;
        content: ' ';
        left: 0;
        opacity: 0.15;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        color: var(--color-body);
      }
    }

    [class*='icon']:first-child {
      margin-right: var(--gutter-width);
    }
  }

  &__link {
    width: var(--gutter-width);
    height: var(--gutter-width);

    color: var(--color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    letter-spacing: 0;
    line-height: var(--font-line-height-body);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__previous {
    [class*='icon'] {
      color: var(--color-primary);
      margin-right: var(--gutter-width);

      &:hover {
        color: var(--color-body);
      }
    }

    &.pagination__item [class*='icon'] {
      margin-right: var(--gutter-width);
      margin-left: 0;
      color: var(--color-body);
    }
  }

  &__next {
    [class*='icon'] {
      color: var(--color-primary);
      margin-left: var(--gutter-width);

      &:hover {
        color: var(--color-body);
      }
    }

    &.pagination__item [class*='icon'] {
      margin-right: 0;
      margin-left: var(--gutter-width);
      color: var(--color-body);
    }
  }
}
