{% load link_tags %}
<li class="list-item{% if active %} list-item--active{% endif %}{% if compact %} list-item--compact{% endif %}">
    {% if href %}<a class="link" href="{{ href }}">{% endif %}
    {% if caption %}<p class="p list-item__caption">{{ caption }}</p>{% endif %}
    {% if strong %}
        <h4 class="h4">{{ text }}</h4>
    {% else %}
        <p class="p">{{ text }}</p>
    {% endif %}
    {% if description %}<p class="p p--muted">{{ description }}</p>{% endif %}
    {% if href %}</a>{% endif %}
</li>
