{% extends 'master.html' %}
{% load i18n button_tags link_tags icon_tags pagination_tags %}


{% block content %}
<h1 class="h1" id="title">
    {% trans "Mijn contacten" %}
    {% button href="accounts:contact_create" text=_("Nieuw contact toevoegen") icon="person" primary=True %}
</h1>

<table class="table">
    <thead class="table__heading">
        <tr>
            <td class="table__item">{% trans "Naam" %}</td>
            <td class="table__item">{% trans "Soort contact" %}</td>
            <td class="table__item">{% trans "E-mailadres" %}</td>
            <td class="table__item">{% trans "Telefoonnummer" %}</td>
            <td class="table__item" colspan="2">{% trans "Actief" %}&nbsp;</td>
            <td class="table__item">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for contact in contact_list %}
            <tr>
                <th class="table__header">{{ contact.other_user_first_name }} {{ contact.other_user_last_name }}</th>
                <td class="table__item">{{ contact.get_type_display }}</td>
                <td class="table__item">{{ contact.other_user_email }}</td>
                <td class="table__item">{{ contact.other_user_phonenumber }}</td>
                <td class="table__item">{% if contact.is_not_active %}{% icon "check" extra_classes="icon icon--disabled" %}{% else %}{% icon "check" %}{% endif %}</td>
                <td class="table__item">{% button text=_('Stuur bericht') icon="message" icon_position="before" href=contact.get_message_url icon_outlined=True transparent=True disabled=contact.is_not_active %}</td>
                <td class="table__item">{% button icon="settings" href="accounts:contact_edit" uuid=contact.uuid icon_outlined=True transparent=True disabled=contact.reverse %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% pagination page_obj=page_obj paginator=paginator request=request href="accounts:my_profile" text=_("Terug naar mijn profiel") %}
{% endblock content %}
