{% extends 'master.html' %}
{% load i18n button_tags link_tags icon_tags pagination_tags form_tags dropdown_tags messages_tags %}


{% block content %}
<h1 class="h1" id="title">
    {% trans "Mijn contacten" %}
    {% button href="accounts:contact_create" text=_("Nieuw contact toevoegen") icon="person" primary=True %}
</h1>

{% form id="contact-filter" form_object=form method="GET" columns=2 no_actions=True horizontal=True spaceless=True autosubmit=True form_action=form_action %}

<table class="table">
    <thead class="table__heading">
        <tr>
            <td class="table__item">{% trans "Naam" %}</td>
            <td class="table__item">{% trans "Soort contact" %}</td>
            <td class="table__item">{% trans "E-mailadres" %}</td>
            <td class="table__item">{% trans "Telefoonnummer" %}</td>
            <td class="table__item" colspan="2">{% trans "Actief" %}&nbsp;</td>
            <td class="table__item">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% comment %} 
        #TODO 
        show in a proper way the pending_invitations 
        {% endcomment %}
        {% for invite in pending_invitations %}{{invite.invitee_first_name}} {{invite.invitee_last_name}}{% endfor %}
        {% for contact in object_list %}
            {% get_message_url user=request.user contact=contact as message_url %}
            

            <tr>
                <th class="table__header">{{ contact.first_name }} {{ contact.last_name }}</th>
                <td class="table__item">{% if contact.contact_type == "contact" %}Contactpersoon{% elif contact.contact_type == "begeleider" %}Begeleider{% elif contact.contact_type == "organization" %}Organisatie{% endif %}</td>
                <td class="table__item">{{ contact.get_contact_email|default:"" }}</td>
                <td class="table__item">{{ contact.phonenumber }}</td>
                <td class="table__item">{% if contact.is_not_active %}{% icon "check" extra_classes="icon icon--disabled" %}{% else %}{% icon "check" %}{% endif %}</td>
                <td class="table__item">{% button text=_('Stuur bericht') icon="message" icon_position="before" href=message_url icon_outlined=True transparent=True disabled=contact.is_not_active %}</td>
                <td class="table__item">
                    {% dropdown icon="settings" disabled=contact.is_not_active %}
                        <div class="dropdown__item">
                            {% url 'accounts:contact_edit' uuid=contact.uuid as edit_url %}
                            {% button icon="edit" text=_("Bewerken") href=edit_url icon_outlined=True transparent=True %}
                        </div>
                        <div class="dropdown__item">
                            {% url 'accounts:contact_delete' uuid=contact.uuid as delete_url %}
                            {% render_form form=None form_action=delete_url method="POST" spaceless=True id="delete-contact-form" extra_classes="confirm" data_confirm_title=_("Are you sure you want to delete this contact?") data_confirm_cancel=_("Nee") data_confirm_default=_("Ja") %}
                                {% csrf_token %}
                                {% button icon="delete" text=_("Verwijderen") transparent=True %}
                            {% endrender_form %}
                        </div>
                    {% enddropdown %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="table__item" colspan="7" >{% trans "Er zijn geen contacten gevonden met deze filter, of u heeft nog geen contacten." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% pagination page_obj=page_obj paginator=paginator request=request href="accounts:my_profile" text=_("Terug naar mijn profiel") %}
{% endblock content %}
