{% load i18n link_tags file_tags %}

<div class='plan-preview'>
<p class='plan-preview__key'>{% trans "Titel" %}</p>
<h2 class="utrecht-heading-4">{{ plan_template.name }}</h2>
    {% if plan_template.goal %}
        <p class='plan-preview__key'>{% trans "Doel" %}</p>
        <div>{{ plan_template.goal|truncatewords:20 }}</div>
    {% endif %}

    {% if plan_template.file %}
        <div class='plan-preview__key'>{% trans 'Bestand' %}</div>
        <div>{% file file=plan_template.file extension=plan_template.file.extension size=plan_template.file.size show_download=False %}</div>
    {% endif %}

    {% if plan_template.actiontemplates.exists %}
        <div class='plan-preview__key'>{% trans 'Actions:' %}</div>

        <div class="plan-preview__actions">
        {% for action_template in plan_template.actiontemplates.all %}
            <div class='plan-preview__span'>{{ forloop.counter }}. {{ action_template.name }}</div>
        {% endfor %}
        </div>
    {% endif %}
</div>
