.oip-filter-modal {
  // Fix for modal story to make sure it has an intrinsic size.
  .docs-story .oip-filter__wrapper:has(&) {
    min-height: 600px;
  }

  display: flex;
  flex-direction: column;
  max-height: calc(100% - 1rem);
  margin-top: 1rem;
  overflow-y: auto;
  background-color: var(--oip-filter-modal-background-color);
  border-radius: var(--oip-filter-modal-border-radius)
    var(--oip-filter-modal-border-radius) 0 0;
  padding: var(--oip-filter-modal-padding);
  gap: var(--oip-filter-modal-gap);

  &__backdrop {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    inset: 0;
    background-color: var(--oip-filter-modal-backdrop-background-color);
    z-index: 1050; // Just a big number

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    gap: var(--oip-filter-modal-header-gap);
  }

  &__header-actions {
    display: flex;
    align-items: center;
    gap: var(--oip-filter-modal-header-gap);
    justify-content: space-between;
    width: 100%;
  }

  &__heading {
    font-size: var(--oip-filter-modal-heading-font-size);
    font-weight: var(--oip-filter-modal-heading-font-weight);
    color: var(--oip-filter-modal-heading-color);
    font-family: var(--font-family-heading);
    margin: 0;
  }

  &__close {
    padding: 0;
    height: fit-content;
    width: var(--oip-filter-modal-close-button-size);

    span[class*='icon'] {
      width: var(--oip-filter-modal-close-button-size);
      font-size: var(--oip-filter-modal-close-button-size);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-body);
    overflow-y: auto;
    gap: var(--oip-filter-modal-content-gap);
  }

  &__footer {
    padding-bottom: var(--oip-filter-modal-footer-padding-bottom);
    flex-shrink: 0;
  }
}
