{% load i18n %}
<div class="tabled__row tabled__row--blank">
    <div class="tabled__item tabled__key">{% trans "E-mail adres" %}</div>
    <div class="tabled__item tabled__value tabled__break">
        {% for da in email_addresses %}
            <div>{{ da.value }}{% if da.is_standard_for_type %} {% trans "(voorkeur)" %}{% endif %}</div>
        {% endfor %}
    </div>
</div>
<div class="tabled__row tabled__row--blank">
    <div class="tabled__item tabled__key">{% trans "Telefoonnummer" %}</div>
    <div class="tabled__item tabled__value">
        {% for da in phone_addresses %}
            <div>{{ da.value }}{% if da.is_standard_for_type %} {% trans "(voorkeur)" %}{% endif %}</div>
        {% endfor %}
    </div>
</div>
