{% extends 'master.html' %}
{% load i18n l10n link_tags file_tags grid_tags list_tags button_tags utils icon_tags form_tags anchor_menu_tags dropdown_tags %}

{% block sidebar_content %}
    {% anchor_menu anchors desktop=True %}
{% endblock sidebar_content %}

{% block content %}

{% with user=request.user %}

<div class="tabled tabled--flexible">
    <h1 class="h1" id="title">{% trans "Welkom" %}, {{ user.first_name }}</h1>
    <span class="tabled__item title-info">{%trans "voor het laats ingelogd op" %}: {{ user.last_login|date:"d.m.Y" }} om {{ user.last_login|date:"H:i" }} uur</span>
</div>

{# What to do with change password/export to pdf? #}

<!-- Personal information -->
<div class="tabled tabled--flexible profile-section">
    <div>
        <h2 class="h2 tabled__section" id="overview">{% trans "Persoonlijke gegevens" %}
            <div class="tabled__item--force-right tabled__item--mobile-big">
                {% button href="profile:edit" text=_("Bewerken") icon="edit" transparent=True %} {% button href="password_change" text=_("Password") icon="key" transparent=True %}
            </div>
        </h2>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "Voornaam" %}</div>
        <div class="tabled__item">{{ user.first_name }}</div>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "Achternaam" %}</div>
        <div class="tabled__item">{{ user.last_name }}</div>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "Geboortedatum" %}</div>
        <div class="tabled__item">{{ user.birthday|date:"d.m.Y" }}</div>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "Adres" %}</div>
        <div class="tabled__item">{{ user.street }} {{ user.housenumber }}<br>{{user.postcode}} {{ user.city }}</div>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "E-mail adres" %}</div>
        <div class="tabled__item">{{ user.get_contact_email }}</div>
    </div>
    <div class="tabled__row">
        <div class="tabled__item tabled__item--lighter">{% trans "Telefoonnummer" %}</div>
        <div class="tabled__item">{{ user.phonenumber }}</div>
    </div>
</div>

<!-- Notifications -->
<div class="tabled tabled--flexible profile-section">
    <div>
        <h2 class="h2 tabled__section" id="overview">{% trans "Notificatie voorkeuren" %}
            <div class="tabled__item--force-right tabled__item--mobile-big">{% button href="profile:notifications" text=_("Bewerken") icon="edit" transparent=True %}</div>
        </h2>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "Communicatiekanaal" %}</div>
        <div class="tabled__item">(currently not supported)</div>
    </div>
    <div class="tabled__row tabled__row--blank">
        <div class="tabled__item tabled__item--lighter">{% trans "Ontvang notificaties over" %}</div>
        <div class="tabled__item">
            {% if user.cases_notifications %}
                <div class="item__option">{% trans "Zaken" %}</div>
            {% endif %}
            {% if user.messages_notifications %}
                <div class="item__option">{% trans "Berichten" %}</div>
            {% endif %}
            {% if user.plans_notifications %}
                <div class="item__option">{% trans "Samenwerken" %}</div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Overview -->
<div class="tabled tabled--flexible profile-section">
    <h2 class="h2 tabled__section" id="overview">{% trans "Overzicht" %}</h2>
    {% render_grid %}
        <!-- Categories -->
        {% if view.config.selected_categories %}
            {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    <div class="card__body">
                        <a href="{% url 'profile:categories' %}"  class="profile__link">
                            <p class="h4"><span class="link link__text">{% trans "Mijn onderwerpen" %}</span></p>
                        {% render_list %}
                        <span class="profile-list">
                            {% list_item text="Lorem ipsum..." compact=True strong=False %}
                            {% list_item text="dolor sit amet..." compact=True strong=False %}
                        </span>
                        {% endrender_list %}

                        <span class="link link--icon link--secondary" aria-label="{% trans "Aanpassen" %}" title="{% trans "Aanpassen" %}">
                            <span class="link__text">{% trans "Aanpassen" %}</span>
                            {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                        </span>

                        </a>
                    </div>
                </div>
            {% endrender_column %}
        {% endif %}
        <!-- Mentors -->
        {% if view.config.mentors %}
            {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    <div class="card__body">
                        {% if mentor_contacts %}
                            {% url 'profile:contact_list' as mentor_url %}
                            {% link href=mentor_url|add:"?type=begeleider" text=_('Mijn begeleider') %}
                        {% else %}
                            {% trans "Begeleider(s)" %}
                        {% endif %}
                        {% render_list %}
                        <span class="profile-list">
                            {% list_item text=mentor_contacts|join:', ' compact=True strong=False %}
                        </span>
                        {% endrender_list %}

                        <span class="link link--icon link--secondary" aria-label="{% trans "Stuur een bericht" %}" title="{% trans "Stuur een bericht" %}">
                            <span class="link__text">{% trans "Stuur een bericht" %}</span>
                            {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                        </span>

                        </a>
                    </div>
                </div>
            {% endrender_column %}
        {% endif %}
        <!-- Contacts -->
        {% if view.config.my_contacts %}
            {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    <div class="card__body">
                        <a href="{% url 'profile:contact_list' %}"  class="profile__link">
                            <p class="h4"><span class="link link__text">{% trans "Mijn contacten" %}</span></p>
                        {% render_list %}
                        <span class="profile-list">
                            {% list_item text="Mr. Jones" compact=True strong=False %}
                            {% list_item text="Ms. Jones" compact=True strong=False %}
                        </span>
                        {% endrender_list %}

                        <span class="link link--icon link--secondary" aria-label="{% trans "Beheer contacten" %}" title="{% trans "Beheer contacten" %}">
                            <span class="link__text">{% trans "Beheer contacten" %}</span>
                            {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                        </span>

                        </a>
                    </div>
                </div>
            {% endrender_column %}
        {% endif %}
        <!-- Actions -->
        {% if view.config.actions %}
            {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    <div class="card__body">
                        <a href="{% url 'profile:action_list' %}"  class="profile__link">
                            <p class="h4"><span class="link link__text">{% trans "Acties" %}</span></p>
                        {% render_list %}
                        <span class="profile-list">
                            {% list_item text="Lorem ipsum..." compact=True strong=False %}
                            {% list_item text="dolor sit amet..." compact=True strong=False %}
                        </span>
                        {% endrender_list %}

                        <span class="link link--icon link--secondary" aria-label="{% trans "Beheer acties" %}" title="{% trans "Beheer acties" %}">
                            <span class="link__text">{% trans "Beheer acties" %}</span>
                            {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                        </span>

                        </a>
                    </div>
                </div>
            {% endrender_column %}
        {% endif %}
        <!-- SSD -->
        {% if view.config.ssd %}
            {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    <div class="card__body">
                        <a href="{% url 'ssd:uitkeringen' %}"  class="profile__link">
                            <p class="h4"><span class="link link__text">{% trans "Mijn uitkeringen" %}</span></p>
                        {% render_list %}
                        <span class="profile-list">
                            {% list_item text="Jaaropgaven" compact=True strong=False active=False %}
                            {% list_item text="Maandspecificaties" compact=True strong=False %}
                        </span>
                        {% endrender_list %}

                        <span class="link link--icon link--secondary" aria-label="{% trans "Bekijk uitkeringen" %}" title="{% trans "Bekijk uitkeringen" %}">
                            <span class="link__text">{% trans "Bekijk uitkeringen" %}</span>
                            {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                        </span>
                        </a>
                    </div>
                </div>
            {% endrender_column %}
        {% endif %}
        <!-- Questions -->
        {% if view.config.questions %}
            {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    <div class="card__body">
                        <a href="{% url 'cases:contactmoment_list' %}"  class="profile__link">
                            <p class="h4"><span class="link link__text">{% trans "Mijn vragen" %}</span></p>
                        {% render_list %}
                        <span class="profile-list">
                            {% list_item text="Why is 2 + 2 = 4?" compact=True strong=False active=False %}
                        </span>
                        {% endrender_list %}

                        <span class="link link--icon link--secondary" aria-label="{% trans "Bekijken" %}" title="{% trans "Bekijken" %}">
                            <span class="link__text">{% trans "Bekijken" %}</span>
                            {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                        </span>
                        </a>
                    </div>
                </div>
            {% endrender_column %}
        {% endif %}
    {% endrender_grid %}
</div>
{% endwith %}

{# Should this be included? #}
{# comment #}
    {% if questionnaire_exists and view.config.selfdiagnose %}
        <div class="tabled__row">
            <div class="tabled__item tabled__item--bold">{% link href="products:questionnaire_list" text=_('Zelftest') %}</div>
            <div class="tabled__item"></div>
            <div class="tabled__item tabled__item--force-right tabled__item--mobile-big">{% link href='products:questionnaire_list' text=_('Start zelfdiagnose') icon="arrow_forward" icon_position="after" secondary=True %}</div>
        </div>
    {% endif %}
{# endcomment #}

{% render_form form=form method="POST" id="delete-form" extra_classes="confirm" spaceless=True data_confirm_title=_("Weet u zeker dat u uw account wilt verwijderen?") data_confirm_text=_("Hiermee worden alleen uw persoonlijke voorkeuren verwijderd. U krijgt dan bijvoorbeeld geen e-mail meer van ons over wijzigingen van uw lopende zaken. Uw persoonsgegevens en uw lopende zaken zelf worden hiermee niet verwijderd.") data_confirm_cancel=_("Nee") data_confirm_default=_("Ja") %}
    {% csrf_token %}
    <div class="form__actions ">
       <button class="button button--textless button--icon button--icon-after button--transparent view--profile-detail" type="submit" title="Profiel verwijderen" aria-label="Profiel verwijderen">
       {% icon icon="close" %}
       Profiel verwijderen
       </button>
    </div>
{% endrender_form %}

{% endblock content %}
