{% extends 'master.html' %}
{% load i18n l10n grid_tags form_tags icon_tags button_tags icon_tags %}

{% block content %}
    {% render_grid %}
        {% render_column start=5 span=5 %}
        <h1 class="utrecht-heading-1" id="title">
            {% trans "Notificatie voorkeuren" %}
        </h1>

        <form method="POST" id="change-notifications" action="{% url 'profile:notifications' %}" class="form" novalidate>
            {% csrf_token %}

            {# Start of multiple checkbox fields #}
            <ul class="choice-list choice-list-multiple">

            <h3 class="utrecht-heading-3">{% trans "Ontvang berichten over" %}</h3>
                <p class="utrecht-paragraph">{% trans "Kies voor welk onderwerp je meldingen wilt ontvangen" %}</p>

                {% if form.cases_notifications %}
                    <li class="choice-list-multiple__item">
                        <div class="choice-list-multiple__content">
                            {% checkbox form.cases_notifications %}
                        </div>
                    </li>
                {% endif %}

                {% if form.messages_notifications %}
                    <li class="choice-list-multiple__item">
                        <div class="choice-list-multiple__content">
                            {% checkbox form.messages_notifications %}</div>
                    </li>
                {% endif %}

                {% if form.plans_notifications %}
                    <li class="choice-list-multiple__item">
                        <div class="choice-list-multiple__content">
                            {% checkbox form.plans_notifications %}</div>
                    </li>
                {% endif %}
            </ul>
            {# End of multiple checkbox fields #}

            <div class="choice-list choice-list-multiple">
                {# Info on notifications that cannot be disabled #}
                <div class="choice-list__information">
                    <p class="choice-list-multiple__heading-4">{% icon icon="check" outlined=True %} {% trans "Zaaknotificaties - actie is nodig" %}</p>
                    <p class="choice-list__p">{% trans "E-mailnotificaties wanneer er actie nodig is voor een zaak (kan niet uitgeschakeld worden)" %}</p>
                </div>
            </div>

            {# Choice of zaken notification channel #}
            <h3 class="utrecht-heading-4">{% trans "How do you want to receive notifications about cases?" %}</h3>
                <div class="radios radios--spaced">
                    {% with form.case_notification_channel as field %}
                        {% for choice in field.field.choices %}
                        <div class="radio-group radio-group--stacked choice-list-multiple__item">
                            {% choice_radio_stacked choice=choice name=field.name data=field.value index=forloop.counter initial=field.form.initial icon_class=choice.1|get_icon_class %}
                        </div>
                    {% endfor %}
                    {% endwith %}
                </div>

            <div class="form__actions form__actions--fullwidth">
                {% button text=_("Sla wijzigingen op") primary=True type="submit" form_id="change-notifications" %}
                {% button href="profile:detail" icon="west" text=_("Terug naar Mijn profiel") icon_outlined=True transparent=True %}
            </div>
        </form>
        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
