{% extends 'master.html' %}

{% load i18n icon_tags %}

{% block content %}

<h1 class="utrecht-heading-1">{% trans "Mijn reisdocumenten" %}</h1>
<p class="utrecht-paragraph">{% trans "Hier kunt u uw reisdocumenten beheren." %}</p>

<div class="card-container card-container--columns-3">
    {% for document in travel_documents %}
    <div class="card card__category-card" href="#">
        <div class="card__body">
            <h2 class="card__heading-2">{{ document.description }}</h2>
            <span class="card__text--small">{% trans "Documentnummer: " %}{{ document.reisdocumentnummer }}</span>
            <span class="card__text--small">{% trans "Verloopdatum: " %}{{ document.enddatevalid_date }}</span>

            {% if document.appointment_url %}
            <a class="link link--icon link--secondary" title="{% trans "Afspraak maken" %}" 
                href="{{ document.appointment_url }}" target="_blank">
                <span class="link__text">{% trans "Afspraak maken" %}</span>
                {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
            </a>
            {% endif %}

            {% if document.online_inquiry_url %}
            <a class="link link--icon link--secondary" title="{% trans "Online aanvragen" %}" 
                href="{{ document.online_inquiry_url }}" target="_blank">
                <span class="link__text">{% trans "Online aanvragen" %}</span>
                {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
            </a>
            {% endif %}

            {% if document.report_missing_url %}
            <a class="link link--icon link--secondary" title="{% trans "Vermissing melden" %}" 
                href="{{ document.report_missing_url }}" target="_blank">
                <span class="link__text">{% trans "Vermissing melden" %}</span>
                {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
            </a>
            {% endif %}

            {% if document.more_info_url %}
            <a class="link link--icon link--secondary" title="{% trans "Meer informatie" %}" 
                href="{{ document.more_info_url }}" target="_blank">
                <span class="link__text">{% trans "Meer informatie" %}</span>
                {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
            </a>
            {% endif %}

        </div>
    </div>
{% endfor %}
</div>

{% endblock %}