{% load i18n form_tags grid_tags %}

{% render_grid %}
    {% render_column start=1 span=6 %}
        <div class="contactform__content">
            {% render_form form=form_object method="POST" id="contactmoment-form" show_required=True submit_text=_('Verzenden') %}
                {% csrf_token %}
                {% input form_object.subject icon="expand_more" icon_position="after" icon_outlined=True %}
                {% if form_object.first_name %}
                    {% input form_object.first_name %}
                {% endif %}
                {% if form_object.infix %}
                    {% input form_object.infix %}
                {% endif %}
                {% if form_object.last_name %}
                    {% input form_object.last_name %}
                {% endif %}
                {% if form_object.email %}
                    {% input form_object.email %}
                {% endif %}
                {% if form_object.phonenumber %}
                    {% input form_object.phonenumber %}
                {% endif %}
                {% input form_object.question %}

                {% if form_object.captcha %}
                    <div class="form__control ">
                        <div class="captcha">
                            <p class="utrecht-paragraph">
                                {{ form_object.captcha.label }}<span class="label__label--required"> * </span>
                            </p>
                            <label class="label captcha__label">
                                <span class="captcha__check">
                                    {{ form_object.request_session.captcha_question }}
                                    <span class="captcha__input">{% field_as_widget form_object.captcha "input" form_id %}</span>
                                </span>
                                {% if form_object.captcha.errors %}
                                    {% errors errors=form_object.captcha.errors %}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                {% endif %}

                {% form_actions primary_text=_("Verzenden") primary_icon="arrow_forward" fullwidth=True %}

            {% endrender_form %}
        </div>
    {% endrender_column %}
{% endrender_grid %}
