{% extends 'master.html' %}
{% load i18n static form_tags card_tags logo_tags link_tags grid_tags %}

{% block content %}

<div class="registration-grid">
  {% render_grid %}
   {% if settings.DIGID_ENABLED and digid_url %}
    {% render_column start=5 span=5 %}
        {% render_card direction='horizontal' tinted=True %}
            <a href="{{ digid_url }}" title="Registreren met DigiD" class="link digid-logo">
                <img class="digid-logo__image" src="{% static 'accounts/digid_logo.svg' %}" alt="DigiD inlogpagina">
            </a>
            {% link bold=True href=digid_url text=_('Registreren met DigiD') secondary=True icon='arrow_forward' %}
        {% endrender_card %}
    {% endrender_column %}
  {% endif %}

  {% if eherkenning_enabled and eherkenning_url %}
    {% render_column start=5 span=5 %}
        {% render_card direction='horizontal' tinted=True %}
            <a href="{{ eherkenning_url }}" class="link eherkenning-logo">
                <img class="eherkenning-logo__image" src="{% static 'accounts/eherkenning.png' %}" height=30 alt="eHerkenning inlogpagina">
            </a>
            {% link bold=True href=eherkenning_url text=_('Registreren met eHerkenning') secondary=True icon='arrow_forward' %}
        {% endrender_card %}
    {% endrender_column %}
  {% endif %}

  {% if login_allow_registration %}
        {% render_column start=5 span=5 %}
            {% render_card tinted=True  %}
                <h1 class="h3">{% trans "Registreren met E-mail" %}</h1><br>
                {% form form_object=form method="POST" id="registration-form" submit_text=_('Registreren') extra_classes="form__registration" show_required=True %}
            {% endrender_card %}
        {% endrender_column %}
    {% endif %}

{% endrender_grid %}
</div>

{% endblock content %}
