.container {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  margin: calc(var(--row-height) * 2) $hm 0;
  min-height: calc(100vh - 150px - calc(var(--row-height) * 2) - 400px); //FIXME
  max-width: var(--container-width);
  position: relative;
}
