.grid {
  display: flex;
  flex-direction: column;
  grid-gap: var(--gutter-width);
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-areas: "sb sb sb mn mn mn mn mn mn mn mn mn";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }


  ///// Layout.

  &__sidebar {
    grid-area: sb;
  }

  &__sidebar + &__main {
    grid-area: mn;
  }

  &__main:first-child {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
