.body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;

  // Hide focus for accessibility
  .container,
  .footer {
    display: none;
  }

  @media (min-width: 768px) {
    height: auto;
    overflow: auto;
  }
}
