.openinwoner-theme {
  --oip-color-primary: var(--color-primary);
  --oip-color-secondary: var(--color-secondary);
  --oip-color-primary-darker: var(--color-primary-darker);
  --oip-color-secondary-darker: var(--color-secondary-darker);
}
