.view--pdc-category_product_detail {
  .h4 {
    margin: 21px 0;
  }

  .anchor-menu {
    &--mobile__title {
      &.h4 {
        margin: 0;
      }
    }
  }

  .link-list .link {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 99%;
    display: block;
  }
}
