.view {
  &--cases-index {
    // prevent large content shift after spinner disappears
    .loader-container {
      height: 65vh;
    }
  }
  &---pages-root {
    &:has(.banner ~ div > .notifications .notification) {
      .notifications {
        margin-top: calc(-1 * var(--spacing-giant));
      }

      // When authenticated and banner plug-in is in use
      .grid__main .plugin.banner__text {
        background-color: var(--color-white);
        margin-top: calc(-1 * var(--spacing-giant));

        @media (min-width: 768px) {
          margin-top: var(--spacing-giant);
        }

        .grid__welcome {
          padding: 0;
          margin-top: 0;

          @media (min-width: 768px) {
            margin-top: calc(-1 * var(--spacing-giant));
          }
        }
      }
    }

    // When not authenticated and only configuration text is used
    @media (max-width: 767px) {
      .grid__welcome {
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        margin-top: calc(-1 * var(--image-height-mobile));
        padding: var(--spacing-extra-large);
      }
    }

    .container .button--icon-after {
      padding-left: 0;

      @media (min-width: 768px) {
        padding-left: var(--spacing-large);
        padding-right: 0;
      }
    }

    .questionnaire__list-item {
      .button {
        padding-left: 0;
      }
    }
  }

  &--accounts-contact_list {
    .form--horizontal {
      padding-top: var(--row-height);
    }
  }

  &--pdc-product_finder {
    .product-finder {
      margin-top: 0;
    }
  }

  &--mijn_afval-index {
    oip-accordion {
      display: none;

      &:defined {
        display: block;
      }
    }
  }

  &--style-demo {
    line-height: 24px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-family-heading);
    }

    a {
      color: var(--color-primary);
    }
  }

  &---django_registration_register {
    .label__label--required {
      color: var(--color-red-notification);
      padding-left: var(--spacing-tiny);
      //make asterisks invisible by default, only make them visible if component has the caption
      display: inline;
    }
  }

  // Remove Safari iOS phone-parsing from specific elements
  .skip-phone-parsing {
    pointer-events: none;
  }
  // Hide style for iOS-rendered anchor element
  .skip-phone-parsing > a {
    text-decoration: none;
    color: inherit;
  }
}
