.view {
  &---pages-root {
    &.has-notifications {
      .notifications {
        margin-top: -41px;
        @media (min-width: 768px) {
          margin-top: -32px;
        }
      }
      .grid__welcome.plugin {
        margin-top: -40px;
        padding: 0;

        @media (min-width: 768px) {
          margin-top: -30px;
        }
      }
    }
    .container .button--icon-after {
      padding-left: 0;

      @media (min-width: 768px) {
        padding-left: var(--spacing-large);
      }
    }
  }

  &--accounts-contact_list {
    .form--horizontal {
      padding-top: var(--row-height);
    }
  }

  &--pdc-product_finder {
    .product-finder {
      margin-top: 0;
    }
  }

  &--style-demo {
    line-height: 24px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-family-heading);
    }

    a {
      color: var(--color-primary);
    }
  }

  &---django_registration_register {
    .label__label--required {
      color: var(--color-red);
      padding-left: var(--spacing-tiny);
      //make asterisks invisible by default, only make them visible if component has the caption
      display: inline;
    }
  }
}

//TEST
//.header .header--mobile.header__submenu > nav.primary-navigation--mobile > .primary-navigation__list > .primary-navigation__list-item > a[aria-label="Mijn aanvragen"],
//.header > div > div.header--mobile.header__submenu > nav > ul > li > a[aria-label="Mijn aanvragen"] .material-icons-outlined,
.header
  > div
  > div.header--mobile.header__submenu
  > nav
  > ul
  > li
  > a[aria-label='Mijn profiel']
  .material-icons-outlined {
  background-color: yellow;
}
