.plans {
  .utrecht-heading-1 {
    margin-bottom: var(--spacing-large);
  }
  .utrecht-heading-2 {
    margin-top: var(--spacing-giant);
  }

  .tabled__section .utrecht-heading-2 {
    margin-top: 0;
  }

  > .button {
    margin-top: var(--spacing-large);
  }
}
