:host {
  display: block;
}

.oip-filter-bar {
  &--mobile {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &--desktop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--oip-filter-bar-gap);
    padding-block-start: var(--oip-filter-bar-padding-block-start);
    padding-block-end: var(--oip-filter-bar-padding-block-end);
    padding-inline-start: var(--oip-filter-bar-padding-inline-start);
    padding-inline-end: var(--oip-filter-bar-padding-inline-end);
    background-color: var(--oip-filter-bar-background-color);
    border-radius: var(--oip-filter-bar-border-radius);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__label {
    flex: 0 0 auto;
    font-family: var(--oip-filter-bar-label-font-family);
    font-weight: var(--oip-filter-bar-label-font-weight);
    white-space: nowrap;
    color: var(--oip-filter-bar-label-color);
  }

  &__filters {
    display: flex;
    font-family: var(--font-family-body);
    gap: var(--oip-filter-bar-gap);
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;
  }
}
