.status-list {
  &__list {
    display: flex;
    gap: var(--spacing-medium);
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &__list-item {
    display: flex;
    gap: var(--spacing-large);

    h3 {
      display: inline-block;
      width: calc(100% - 2em);
    }

    .material-icons,
    .material-icons-outlined {
      box-sizing: border-box;
      color: var(--color-success);
      position: relative;
      width: var(--spacing-extra-large);
      z-index: 3;

      &::before {
        content: '';
        background-color: white;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: -1;
      }
    }

    &--info {
      background-color: var(--color-info-lighter);

      .material-icons,
      .material-icons-outlined {
        color: var(--color-info-darker);

        &::before {
          background-color: transparent;
        }
      }
    }
  }

  &__notification {
    padding: var(--spacing-extra-large);
    &-content {
      margin-left: 2em;

      &::before {
        content: '';
        background-color: var(--color-success);
        display: block;
        height: calc(100% - 4.3em);
        left: 11px;
        margin-left: var(--spacing-extra-large);
        position: absolute;
        top: 1.3em;
        width: 2px;
        z-index: 1;
      }
    }
  }
}

///
/// Contextual
///

.h2 + .status-list {
  margin-top: var(--spacing-large);
}
