.filter-bar {
  width: 100%;
  background-color: var(--color-gray-lightest);
  margin-bottom: var(--spacing-extra-large);
  padding: 0;
  position: relative;
  display: inline-block;

  @media (min-width: 768px) {
    padding: var(--spacing-large);
  }

  // Pop-ups for future multiple filters on-load may go here
  .multiselect-listbox__modal {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .form__actions {
    &--reset {
      .button:focus {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  .filter-bar__heading,
  .filter-bar__status-text {
    display: none;
  }

  .filter-bar__form {
    display: none;
    margin: 0;
    padding: 0 0 0 var(--spacing-small);

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--spacing-extra-large);
    }
  }

  &__frequency-sum {
    padding: 0;
  }

  &__mobile-controls {
    display: none;
  }

  &__mobile-button {
    .button.show-modal {
      margin-top: 0;

      & [class*='icons'] {
        text-decoration: none;
      }

      .button__inner-text {
        text-decoration: underline;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__label {
    display: none;
    padding-top: calc(var(--font-size-body) / 2);
    @media (min-width: 768px) {
      display: inline;
    }
  }

  // In mobile view all child elements become part of a pop-up
  &--mobile {
    display: flex;
    flex-direction: column;
    gap: var(--row-height);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-gray-lightest);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    margin: 0 var(--spacing-tiny);
    padding: var(--spacing-extra-large);
    height: 70vh;
    position: fixed;
    top: 30vh;
    z-index: 1020;

    .multiselect-listbox__popup {
      display: block;
      z-index: 600;
    }

    .filter-bar__form {
      display: flex !important;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--spacing-extra-large);
    }

    .filter-bar__mobile-controls {
      display: flex;
      justify-content: space-between;

      .button {
        padding: 0;

        [class*='icons'] {
          font-size: 32px;
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .button.show-modal {
      display: none;
    }

    .filter-bar__heading {
      color: var(--color-black);
      display: block;
      font-size: var(--font-size-body-larger);
      font-weight: bold;
      margin-bottom: var(--row-height);
    }

    .filter-bar__status-text {
      color: var(--color-gray-dark);
      display: block;
      margin-bottom: calc(-1 * (var(--row-height) - var(--spacing-large)));
    }
  }

  &__backdrop.show {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0 solid transparent;
    border-radius: var(--border-radius);
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000000;

    @media (min-width: 768px) {
      background-color: initial;
      position: static;
      z-index: initial;
    }
  }
}
