.filter-bar__multiselect {
  position: relative;
  width: 280px;

  &:has(.show) {
    .button__select {
      *[class*='icons'] {
        display: inline-block;
        position: absolute;
        right: var(--spacing-large);
        top: 8px;
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }
  }

  .filter-bar__scroll > .checkbox {
    padding: var(--spacing-extra-large) var(--spacing-medium);
  }

  .checkbox:has(input[type='checkbox']) {
    color: var(--color-gray-dark-900);
    padding: 8px;
    width: 260px;
  }

  .checkbox:has(input[type='checkbox']:checked) {
    border: 1px solid var(--color-secondary);
    border-left: 3px solid;
    color: var(--color-secondary);
    padding: 7px 8px 8px 5px;
    width: calc(100% - 21px);
  }
}

.button__select {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-dark-900);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color-gray-dark);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  height: var(--row-height);
  justify-content: space-between;
  margin: 0;
  padding: var(--spacing-medium) var(--spacing-large);
  text-align: left;
  max-width: 100%;
  width: 100%;

  @media (min-width: 768px) {
    width: 280px;
  }

  *[class*='Icon'] {
    display: inline-block;
    position: absolute;
    right: var(--spacing-large);
    top: 8px;
    transform: rotate(180deg);
    transition: all 0.3s;
  }
}

.select-content {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  max-height: calc(6 * 40px);
  left: 0;
  min-width: 280px;
  top: 40px;
  width: 100%;
  z-index: 5000;

  @media (min-width: 768px) {
    width: 280px;
  }

  .filter-bar__scroll {
    max-height: calc(6 * 40px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.select-content label {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.select-content label:hover {
  background-color: var(--color-secondary-lightest);
}

.select-content .selected {
  background-color: #fff;
}

.show {
  display: inline-block;
  border: 1px solid var(--color-gray);
}
