.questionnaire {
  &__fieldset {
    border: 0 solid transparent;
    legend {
      padding: 0;
    }
  }
  &__list {
    list-style: none;
    padding: var(--spacing-large) 0;
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    border-bottom: var(--border-width) solid var(--color-gray);
    padding: var(--spacing-large) var(--spacing-medium);
  }

  &__list-item:nth-child(1) {
    border-top: var(--border-width) solid var(--color-gray);
  }

  h2 {
    margin-top: var(--row-height);
    margin-bottom: var(--spacing-large);
  }

  @media (min-width: 768px) {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 var(--gutter-width);
    }

    &__list-item:nth-child(2) {
      border-top: var(--border-width) solid var(--color-gray);
    }

    &__list-item {
      .button {
        padding: var(--spacing-giant) var(--spacing-medium);
      }
    }
  }
}
