.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0 solid transparent;
  z-index: 1000000;
  justify-content: center;
  align-items: center;
  display: none;

  &--open {
    display: flex;
  }

  &__container {
    max-width: 90%;
    max-height: 90vh;
    border-radius: var(--border-radius);
    padding: var(--spacing-giant);
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;

    @media (min-width: 768px) {
      max-width: 720px;
    }
  }

  &__title {
    align-self: start;
    color: var(--font-color-heading-2);
    font-family: var(--font-family-heading-2);
    font-size: var(--font-size-heading-2);
    line-height: var(--font-line-height-heading-2);
    margin: 0;
    padding: 0 0 18px;
    text-align: left;
  }

  &__text {
    color: var(--font-color-body);
    flex-grow: 1;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-body);
    margin: 0;
    max-width: none;
    padding: 0 0 30px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: var(--spacing-medium);

    &--align-right {
      justify-content: right;
    }
  }

  &__button:empty {
    display: none;
  }

  *[class*='icon'],
  *[class*='Icon'] {
    font-size: var(--font-size-heading-2);
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.25);
  }
}
