.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000000;
  justify-content: center;
  align-items: center;
  display: none;

  &--open {
    display: flex;
  }

  &__container {
    max-width: 700px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--spacing-giant);
  }

  &__title {
    align-self: start;
    color: var(--font-color-heading-2);
    font-family: var(--font-family-heading-2);
    font-size: var(--font-size-heading-2);
    line-height: var(--font-line-height-heading-2);
    margin: 0;
    padding: 0 0 18px;
    text-align: left;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: var(--spacing-medium);
  }

  &__button:empty {
    display: none;
  }
}
