.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-body {
  background-color: var(--color-white);
  padding: 40.8px 32px;
  height: 241px;
  width: 689px;
}

.modal-header {
  display: flex;
  color: var(--font-color-heading);
  font-family: var(--font-family-heading);
  line-height: var(--font-line-height-heading-1);
  font-size: var(--font-size-heading-1);
  font-weight: var(--font-weight-heading);
}

.modal-content {
  padding: 40px 0px;
  font-family: var(--font-family-body);
  color: var(--font-color-body);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
}

#close-button {
  display: flex;
  color: var(--color-gray-dark);
  height: 14px;
  width: 14px;
}
