{% load i18n button_tags card_tags %}
{% if categories %}
    <h2 class="h2">
        {{configurable_text.home_page.home_theme_title}}
        {% trans "Alle onderwerpen" as button_text %}
        <span class="spacer"></span>
        {% button href='products:category_list' text=button_text icon="arrow_forward" icon_position="after" %}
    </h2>
    <p class="p">{{configurable_text.home_page.home_theme_intro|linebreaksbr}}</p>

    {% card_container categories=categories columns=4 image_object_fit="cover" %}
{% endif %}
