.contactform__content {
  .form {
    /// Make required asterisk visible for this component
    .label__label--required {
      color: var(--color-red);
      padding-left: var(--spacing-tiny);
      //make asterisks invisible by default, only make them visible if component has the caption
      display: inline;
    }

    .form__control [class*='icon'] {
      transform: translateY(0);
    }

    // tablet sizes
    @media screen and (min-width: 360px) and (max-width: 767px) {
      &__control > .label .input {
        max-width: 100%;
      }
    }
  }
}
