# Feel free to use this for setting environment variables upon deploy
DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"
ALLOWED_HOSTS="{{ nginx_server_name }},www.{{ nginx_server_name }}"

DB_NAME="{{ dbname }}"
DB_USER="{{ dbuser }}"
DB_PASSWORD="{{ dbpassword }}"
DB_PORT="{{ dbport }}"

REDIS_URL="{{ redis_url }}"
ELASTICSEARCH_HOST="localhost:9200"
SECRET_KEY="{{ django_secret_key }}"

# Put these into a maykin-deployment generic ansible vault?
ELASTIC_APM_SERVER_URL="https://apm.maykinmedia.nl"
ELASTIC_APM_SECRET_TOKEN="JecviUnUn6HeisbysUlk"

{% if sentry_dsn is defined %}
SENTRY_DSN="{{ sentry_dsn }}"
{% endif %}

{% if git_result is defined %}
VERSION_TAG="{{ git_result.after }}"
{% endif %}
