.swal2-modal {
  border-radius: 0 !important;
  padding: var(--spacing-giant) !important;
  display: flex !important;
  flex-direction: column !important;

  .swal2-title {
    margin: 0;
    padding: 0 0 18px 0;
    text-align: left;
    color: var(--font-color-heading-2);
    font-family: var(--font-family-heading-2);
    font-size: var(--font-size-heading-2);
    line-height: var(--font-line-height-heading-2);
    align-self: start;
  }

  .swal2-html-container {
    flex-grow: 1;
    margin: 0;
    padding: 0 0 30px 0;
    max-width: none;
    display: block;
    color: var(--font-color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-body);
  }

  .swal2-actions {
    align-self: start;

    .swal2-confirm,
    .swal2-deny,
    .swal2-cancel {
      @extend .button;

      &:focus {
        box-shadow: none;
      }
    }

    .swal2-confirm {
      background-color: var(--color-primary);
      color: var(--color-white);

      &:hover {
        transform: translateY(-1px);
        background-color: var(--color-primary-darker);
      }
    }

    .swal2-cancel {
      background-color: var(--color-secondary);
      border: 1px solid var(--color-secondary);
      color: var(--color-font-secondary);

      &:hover {
        transform: translateY(-1px);
        background-color: var(--color-secondary-darker);
      }
    }

    .swal2-danger {
      background-color: var(--color-danger-lighter);
      color: var(--color-white);

      &:hover {
        transform: translateY(-1px);
        background-color: var(--color-danger-darker);
      }
    }
  }

  .swal-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: var(--spacing-medium);
    padding: 0;
    margin: 0;
  }

  .swal-button-container {
    margin: 0;
  }
}
