@import '~@utrecht/components/dist/heading-1/css/index.css';
@import '~microscope-sass/lib/responsive';

.utrecht-heading-1 {
  display: var(--oip-typography-heading-display);
  justify-content: var(--oip-typography-heading-justify-content);
}

.h1 {
  color: var(--font-color-heading-1);
  font-family: var(--font-family-heading-1);
  font-size: var(--font-size-heading-1);
  font-weight: var(--font-weight-heading-1);
  line-height: var(--font-line-height-heading-1);
  margin: var(--row-height) 0 0 0;
  display: flex;
  justify-content: space-between;

  @include mobile-only {
    flex-direction: column;
    align-items: flex-start;
    word-break: normal;
    overflow-wrap: break-word;
  }

  &:first-of-type {
    margin: 0;
  }

  &--bottom {
    margin-bottom: calc(var(--row-height) / 2) !important;
  }
}

.utrecht-heading-1 + .card-container,
h1 + .card-container {
  margin-top: var(--gutter-width);
}
