@import '~@utrecht/heading-1-css/dist/index.css';
@import '~microscope-sass/lib/responsive';

.utrecht-heading-1 {
  // Reverse font-family fallback order
  font-family:
    var(--utrecht-heading-font-family), var(--utrecht-heading-1-font-family);

  @include mobile-only {
    word-break: normal;
    overflow-wrap: break-word;
  }

  &:first-of-type {
    margin: 0;
  }
}

.utrecht-heading-1 + .card-container {
  margin-top: var(--gutter-width);
}
