.h2 {
  color: var(--font-color-heading-2);
  font-family: var(--font-family-heading-2);
  font-size: var(--font-size-heading-2);
  font-weight: var(--font-weight-heading-2);
  line-height: var(--font-line-height-heading-2);
  margin: 0;
}

.p + .h2 {
  margin-top: var(--spacing-large);
}
