@import '~microscope-sass/lib/responsive';

.utrecht-heading-2 {
  // Reverse font-family fallback order
  font-family: var(--utrecht-heading-font-family),
    var(--utrecht-heading-2-font-family);

  &--extra {
    margin: var(--row-height) 0 var(--spacing-medium) 0;
  }

  @include mobile-only {
    word-break: normal;
    overflow-wrap: break-word;
  }

  // when CMS is in edit mode
  &.cms-plugin {
    margin-top: var(--gutter-width);
  }

  &.indicator {
    display: inline-block;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
  }
}

.heading-2__indicator {
  display: flex;
  flex-direction: row;
}

///
/// Contextual.
///

.card + .utrecht-heading-2,
.dashboard + .utrecht-heading-2,
.status-list + .utrecht-heading-2,
.table + .utrecht-heading-2 {
  margin-top: var(--row-height);
}

.utrecht-paragraph + .utrecht-heading-2 {
  margin-top: var(--spacing-large);
}

///
/// Legacy styling
///

.h2 {
  color: var(--utrecht-heading-2-color);
  font-family: var(--utrecht-heading-2-font-family);
  font-size: var(--utrecht-heading-2-font-size);
  font-weight: var(--utrecht-heading-2-font-weight);
  line-height: var(--utrecht-heading-2-line-height);
  margin: 0;
  display: flex;
  justify-content: space-between;

  @include mobile-only {
    word-break: normal;
    overflow-wrap: break-word;
  }

  // when CMS is in edit mode
  &.cms-plugin {
    margin-top: var(--gutter-width);
  }

  &.indicator {
    display: inline-block;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
  }
}

.table + .h2 {
  margin-top: var(--row-height);
}

.p + .h2 {
  margin-top: var(--spacing-large);
}
