@import '~@utrecht/components/dist/heading-3/css/index.css';
@import '~microscope-sass/lib/responsive';

.utrecht-heading-3 {
  // Reverse font-family fallback order
  font-family: var(--utrecht-heading-font-family),
    var(--utrecht-heading-3-font-family);
}

.utrecht-paragraph + .utrecht-heading-3 {
  margin-top: var(--spacing-large);
}

///
/// Legacy styling
///

.h3 {
  color: var(--utrecht-heading-3-color);
  font-family: var(--utrecht-heading-3-font-family);
  font-size: var(--utrecht-heading-3-font-size);
  font-weight: var(--utrecht-heading-3-font-weight);
  line-height: var(--utrecht-heading-3-line-height);
  margin: 0;
  display: var(--oip-typography-heading-display);
  justify-content: var(--oip-typography-heading-justify-content);

  @include mobile-only {
    word-break: normal;
    overflow-wrap: break-word;
  }
}

.p + .h3 {
  margin-top: var(--spacing-large);
}
