@import '~@utrecht/components/dist/heading-3/css/index.css';
@import '~microscope-sass/lib/responsive';

.h3 {
  color: var(--utrecht-heading-3-color);
  font-family: var(--utrecht-heading-3-font-family);
  font-size: var(--utrecht-heading-3-font-size);
  font-weight: var(--utrecht-heading-3-font-weight);
  line-height: var(--utrecht-heading-3-line-height);
  margin: 0;

  @include mobile-only {
    word-break: normal;
    overflow-wrap: break-word;
  }
}

.p + .utrecht-heading-3,
.p + .h3 {
  margin-top: var(--spacing-large);
}
