li,
.li {
  color: var(--font-color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
  font-weight: normal;
  margin: 0;
}
