.link-list {
  .h4 {
    margin-bottom: var(--spacing-large);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: var(--spacing-small);

    &--wrap {
      white-space: normal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
