.p {
  color: var(--font-color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
  font-weight: normal;
  margin: 0;

  &#{&}--compact {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &--small {
    font-size: var(--font-size-body-small);
    line-height: var(--font-line-height-body-small);
  }

  &--muted {
    color: var(--color-mute);
  }

  &:empty {
    margin: 0 !important;
  }
}

*[class^='h'] + .p {
  margin-top: var(--spacing-small);
}
.p + .h1,
.p + .h2,
.p + .h3 {
  margin-top: var(--gutter-width);
}

.p + .h4 {
  margin-top: var(--row-height-small);
}

.p + .p {
  margin-top: var(--font-line-height-body);
}

.tag-list + .p {
  margin-top: var(--spacing-extra-large);
}

.p .link {
  //text-decoration: underline;
  .content {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
  }
  .material-icons {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.p--no-margin {
  margin-top: var(--spacing-small);

  & > .p {
    margin: 0 !important;
  }

  /// leaflet reset
  .link {
    text-decoration: underline;
  }
}
