@use '@utrecht/paragraph-css/dist/index.css';
// When shadow DOM is on, we need to import these styles for paragraphs that are not a web component:
@use '@nl-design-system-candidate/paragraph-css/paragraph.scss';

.utrecht-paragraph {
  // Takes style values from NLDS community

  &--oip {
    // Takes style values from our own design-tokens NPM package
    margin: 0;

    // Extensions of the utrecht-paragraph component with OIP-specific styles.
    &-muted {
      color: var(--oip-utrecht-paragraph-muted-color);
    }

    &-centered {
      text-align: var(--oip-utrecht-paragraph-centered-text-align);
    }

    &-compact {
      margin-block-start: var(
        --oip-utrecht-paragraph-compact-margin-block-start
      );
      margin-block-end: var(--oip-utrecht-paragraph-compact-margin-block-end);
    }
  }
}

body [class^='utrecht-heading'] + .utrecht-paragraph,
.oip-header-group + .utrecht-paragraph {
  margin-top: var(--spacing-small);
}

.utrecht-paragraph + .utrecht-heading-1,
.utrecht-paragraph + .utrecht-heading-2,
.utrecht-paragraph + .utrecht-heading-3 {
  margin-top: var(--gutter-width);
}

.utrecht-paragraph + .utrecht-heading-4 {
  margin-top: var(--row-height-small);
}

.utrecht-paragraph + .utrecht-paragraph {
  margin-top: var(--font-line-height-body);
}

.oip-tag-list + .utrecht-paragraph,
.utrecht-paragraph + .form {
  margin-top: var(--spacing-extra-large);
}

.utrecht-paragraph .link {
  .content {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: none;
  }

  .material-icons {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

/// Web components

// Context styles for elements that directly follow the web component paragraph

// Home page plug-ins
nl-paragraph + .card-container,
nl-paragraph + .map {
  margin-block-start: var(--spacing-large);
}

/// HTML only

// Product pages

.nl-paragraph + .card-container {
  margin-block-start: var(--spacing-large);
}

.nl-paragraph + .nl-paragraph {
  margin-block-start: var(--font-line-height-body);
}
