@import '~@utrecht/components/dist/paragraph/css/index.css';

.utrecht-paragraph {
  // Takes style values from NLDS community

  &--oip {
    // Takes style values from our own design-tokens NPM package
    margin: 0;

    &-small {
      font-size: var(--oip-utrecht-paragraph-small-font-size);
      line-height: var(--oip-utrecht-paragraph-small-line-height);
    }

    &-muted {
      color: var(--oip-utrecht-paragraph-muted-color);
    }

    &-centered {
      text-align: var(--oip-utrecht-paragraph-centered-text-align);
    }

    &-compact {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &:empty {
      margin: 0 !important;
    }
  }

  &:empty {
    margin: 0 !important;
  }
}

*[class^='utrecht-heading'] + .utrecht-paragraph {
  margin-top: var(--spacing-small);
}

.utrecht-paragraph + .utrecht-heading-1,
.utrecht-paragraph + .utrecht-heading-2,
.utrecht-paragraph + .utrecht-heading-3 {
  margin-top: var(--gutter-width);
}

.utrecht-paragraph + .utrecht-heading-4 {
  margin-top: var(--row-height-small);
}

.utrecht-paragraph + .utrecht-paragraph {
  margin-top: var(--font-line-height-body);
}

.tag-list + .utrecht-paragraph,
.utrecht-paragraph + .form {
  margin-top: var(--spacing-extra-large);
}

.utrecht-paragraph .link {
  .content {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
  }
  .material-icons {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

///
/// Legacy styling
///

.p {
  color: var(--utrecht-paragraph-color);
  font-family: var(--utrecht-paragraph-font-family);
  font-size: var(--utrecht-paragraph-font-size);
  line-height: var(--utrecht-paragraph-line-height);
  font-weight: normal;
  margin: 0;

  &:empty {
    margin: 0 !important;
  }
}

*[class^='h1'] + .p,
*[class^='h2'] + .p,
*[class^='h3'] + .p,
*[class^='h4'] + .p {
  margin-top: var(--spacing-small);
}

.p + .h1,
.p + .h2,
.p + .h3 {
  margin-top: var(--gutter-width);
}

.p + .h4 {
  margin-top: var(--row-height-small);
}

.p + .p {
  margin-top: var(--font-line-height-body);
}

.tag-list + .p,
.p + .form {
  margin-top: var(--spacing-extra-large);
}

.p .link {
  .content {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
  }
  .material-icons {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
