.oip-filter {
  &:is(fieldset) {
    border: none;
    padding: 0;
    margin: 0;
  }

  &--dropdown {
    position: relative;
    min-width: var(--oip-filter-dropdown-min-width);
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    gap: var(--oip-filter-mobile-gap);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--oip-filter-button-gap);

    width: 100%;
    min-width: var(--oip-filter-button-min-width);
    max-width: var(--oip-filter-button-max-width);

    padding: var(--oip-filter-button-padding);
    border: 1px solid var(--oip-filter-button-border-color);
    border-radius: var(--oip-filter-button-border-radius);
    background-color: var(--oip-filter-button-background-color);
    color: var(--oip-filter-button-color);
    font-family: var(--oip-filter-button-font-family);
    font-size: var(--oip-filter-button-font-size);
    font-weight: var(--oip-filter-button-font-weight);
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: background-color, border-color, color;

    &:hover {
      background-color: var(--oip-filter-button-hover-background-color);
    }

    &--active {
      color: var(--oip-filter-button-active-color);
      border-color: var(--oip-filter-button-active-border-color);
      font-weight: var(--oip-filter-button-active-font-weight);
    }

    &--open {
      border-radius: var(--oip-filter-button-border-radius)
        var(--oip-filter-button-border-radius) 0 0;

      span[class*='icon'] {
        transform: rotate(180deg);
      }
    }

    span[class*='icon'] {
      font-size: var(--oip-filter-button-icon-size);
      width: var(--oip-filter-button-icon-size);
      flex-shrink: 0;
      transition: 0.2s ease;
      transition-property: transform;
    }
  }

  &__label {
    flex: 1;
    font-family: var(--oip-filter-button-font-family);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    font-size: var(--oip-filter-title-font-size);
    font-weight: var(--oip-filter-title-font-weight);
    color: var(--oip-filter-title-color);
    margin: 0;
    padding: 0;
  }

  &--mobile &__title {
    margin-bottom: var(--oip-filter-mobile-gap);
  }

  &__choices {
    display: flex;
    flex-direction: column;
  }

  &--dropdown &__button[aria-expanded='false'] ~ &__choices {
    display: none;
  }

  &--dropdown &__choices {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    background-color: var(--oip-filter-choices-background-color);
    color: var(--oip-filter-choices-color);
    border: 1px solid var(--oip-filter-choices-border-color);
    border-radius: 0 0 var(--oip-filter-choices-border-radius)
      var(--oip-filter-choices-border-radius);
    box-shadow: var(--oip-filter-choices-box-shadow);
    overflow: hidden;
    z-index: 1100;
    max-height: 300px;
    max-width: calc(var(--oip-filter-button-max-width) - 2px);
    overflow-y: auto;
  }

  &--mobile &__choices {
    gap: var(--oip-filter-choices-gap);
  }
}
