.messages {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    align-items: center;
    background-color: var(--color-gray-lightest);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--spacing-medium) var(--spacing-large);
  }

  &__body {
    overflow-y: auto;
  }

  &__header .p {
    margin-top: 0 !important;
  }

  &__days,
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__day-header {
    display: flex;
    justify-content: center;
  }

  &__day-header > .p:first-child {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__day-header > .p:first-child:before,
  &__day-header > .p:first-child:after {
    border-top: 1px solid var(--color-gray-lightest);
    content: '';
    margin: var(--spacing-large);
    width: 100%;
  }

  &__day-header > .p:first-child:before {
    margin-left: 0;
  }

  &__day-header > .p:first-child:after {
    margin-right: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-large);
  }

  .message {
    max-width: 85%;
    align-self: baseline;

    @media (min-width: 768px) {
      max-width: 50%;
    }
  }

  .message--ours {
    align-self: flex-end;
  }
}
