{% load i18n ssd_tags button_tags icon_tags button_tags icon_tags %}
<div class="notification{% if contents %} notification--contents{% endif %}{% if type %} notification--{{ type }}{% endif %}{% if compact %} notification--compact{% endif %} {% if ctx %}notification--{{ ctx }}{% endif %}" role="alert">
    {% if not icon == False %}
        <div class="notification__icon">
            {% icon icon %}
        </div>
    {% endif %}

    <div class="notification__content">
        {% if title %}<h2 class="h2">{{ title }}</h2>{% endif %}
        {% if notification %}<p class="p">{{ notification }}</p>{% endif %}
        {% if action %}{% button href=action text=action_text %}{% endif %}
        {% if contents %}
            {{ contents }}
        {% else %}
            {% if as_markdown %}
                {{ message|markdown|safe }}
            {% else %}
                <p class="p p--compact">{{ message }}</p>
            {% endif %}
        {% endif %}
    </div>

    {% if closable %}
        {% button extra_classes='notification__close' text=_('Sluit deze melding') hide_text=True transparent=True icon='close' %}
    {% endif %}
</div>
