{% load icon_tags button_tags icon_tags %}
<div class="notification{% if contents %} notification--contents{% endif %}{% if type %} notification--{{ type }}{% endif %}">
    {% if not icon == False %}
        <div class="notification__icon">
            {% icon icon|default:'change_history' %}
        </div>
    {% endif %}

    <div class="notification__content">
        {% if title %}<h2 class="h2">{{ title }}</h2>{% endif %}
        {% if notification %}<p class="p">{{ notification }}</p>{% endif %}
        {% if action %}{% button href=action text=action_text %}{% endif %}
        {% if contents %}
            {{ contents }}
        {% else %}
            <p class="p p--compact">{{ message }}</p>
        {% endif %}
    </div>

    {% if closable %}
        {% icon icon="close" extra_classes="notification__close" %}
    {% endif %}
</div>
