{% extends 'master.html' %}
{% load i18n button_tags card_tags form_tags file_tags grid_tags render_tags step_tags string_tags %}

{% block content %}
    {% render_grid %}
        {% render_column span=9 %}
            <h1 class="h1" data-title="{{ form.instance.get_title }}" data-code="{{ form.instance.code }}">
                <span>{{ form.instance.get_title }}</span>
                {% if not form.instance.get_children %}
                    {% button href="questionnaire:questionnaire_export" text=_("Export pdf") primary=True icon="file-pdf" icon_position="after" title=_("Your results are also saved to your profile if you are logged in.") %}
                {% endif %}
            </h1>

            {% if form.instance.get_description %}
                <p class="p">{{ form.instance.get_description }}</p>
            {% endif %}

            {% step_indicator form.instance.depth form.instance.depth object_list=form.instance.get_tree_path object_list_str='question_subject' %}

            <h4 class="h4" id="question">{{ form.instance.question }}</h4>

            {% if form.instance.help_text %}
                <p class="p p--compact">{{ form.instance.help_text }}</p>
            {% endif %}

            {% firstof form.instance.get_parent.get_absolute_url as secondary_href %}
            {% firstof request.path as form_action %}

            {% if form.instance.get_children %}
                {% trans 'Volgende' as submit_text %}
            {% elif request.user.is_authenticated %}
                {% trans 'Naar profiel' as submit_text %}
                {% url 'questionnaire:reset' as form_action %}
            {% else %}
                {% trans 'Naar home' as submit_text %}
                {% url 'questionnaire:reset' as form_action %}
            {% endif %}

            {% render_form id="questionnaire_step" form_action=form_action auto_render=True autosubmit=True extra_classes='form--compact' form=form method='POST' submit_text=submit_text secondary_href=secondary_href secondary_icon='arrow_backward' secondary_icon_position='before' secondary_text=_('Vorige') %}
                {% csrf_token %}

                {% if form.instance.content %}
                    {{ form.instance.content|ckeditor_content|safe }}
                {% endif %}

                {% if form.instance.questionnairestepfile_set.exists %}
                    <hr class="divider">
                    {% file_list files=form.instance.questionnairestepfile_set.all title=_("Bestanden") %}
                {% endif %}

                {% if form.instance.related_products.published.exists %}
                    <hr class="divider">
                    {% card_container products=form.instance.related_products.published small=True %}
                {% endif %}
            {% endrender_form %}

        {% endrender_column %}
    {% endrender_grid %}
{% endblock %}
