{% load i18n form_tags button_tags %}

{# Wrapper for multiple filters #}
<div class="filter-bar" id="filterBar">
    <form class="form" method="{{ method }}"
          {% if no_action %}action=""{% else %}action="{% firstof form_action request.path %}"{% endif %}
          {% if id %}id="{{ id }}"{% endif %}>
        {# Note: each element inside the form is a flex column #}
        {{ contents }}

        <div class="form__actions form__actions--fullwidth form__actions--reset">
            {% button bordered=False text=_("Wis alle filters") id="resetFilters" type="button" transparent=True primary=True %}
        </div>
    </form>
</div>
