{% load i18n l10n form_tags icon_tags %}

<span>Filter op status:</span>
<button id="selectButton" type="button" class="button__select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false">
        {% trans 'Status' %}:
        {% icon icon="expand_more" icon_position="after" icon_outlined=True %}
</button>
<div id="selectMenu" class="select-content">
    {% for option in statusfrequencies %}
        <label tabindex="0" for="id_status_{{ forloop.counter }}">
            <input type="checkbox" name="status" value="{{ option.0 }}" id="id_status_{{ forloop.counter }}" {% if option.checked %}checked="checked"{% endif %}>
            {{ option.0 }} <span class="frequencyCounter">({{ option.1 }})</span>
        </label>
    {% endfor %}
    <p>
        <button class="button button--primary" type="submit" value="" title="{% trans 'Filter cases' %}" aria-label="{% trans 'Filter cases' %}" id="filter_cases">
            {% trans 'Filter cases' %}
        </button>
    </p>
</div>
