{% load i18n l10n form_tags icon_tags %}

<div class="filter-bar__multiselect-listbox multiselect-listbox">
    <button id="selectButton" type="button" class="button button__select" aria-haspopup="listbox" aria-expanded="false">
        {% trans 'Status' %}:
        {% icon icon="expand_more" icon_position="after" icon_outlined=True %}
    </button>
    <div id="listboxDropdown" class="multiselect-listbox__content" role="listbox" aria-labelledby="selectButton">
        <div class="multiselect-listbox__scroll" role="presentation">
            {% for option in statusfrequencies %}
                <div class="checkbox" role="option">
                    <input type="checkbox" name="status" value="{{ option.0 }}" id="id_status_{{ forloop.counter }}" {% if option.checked %}checked="checked"{% endif %} class="checkbox__input">
                    <label class="checkbox__label" for="id_status_{{ forloop.counter }}">
                        {{ option.0 }} <span class="frequencyCounter">({{ option.1 }})</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        {# Submit button appears on select #}
        <div class="form__actions form__actions--fullwidth" id="filterFormActions">
            <button class="button button--primary hide" type="submit" value="" title="{% trans 'Toon resultaten' %}" aria-label="{% trans 'Toon resultaten' %}" id="filterCases">
                {% trans 'Toon' %}<span class="filter-bar__frequency-sum" id="frequencySum">0</span>{% trans 'resultaten' %}
            </button>
        </div>
    </div>
</div>
