{% extends 'master.html' %}
{% load i18n form_tags grid_tags button_tags link_tags list_tags messages_tags pagination_tags querystring_tags %}


{% block main_inner %}
    {% render_grid %}
        {% render_column start=1 span=9 %}
            <h1 class="utrecht-heading-1">{% trans 'Mijn berichten' %}</h1>
        {% endrender_column %}

        {% render_column start=10 span=3 extra_classes="fix__align-right" %}
            {% button primary=True href='inbox:start' text=_('Nieuw bericht versturen') %}
        {% endrender_column %}
    {% endrender_grid %}
    {{ block.super }}
{% endblock %}


{% block sidebar_content %}
    <div class="sticky">
        {% render_list %}
            {% for conv in conversations.page_obj %}
                {% with conv_thread_url=conv.thread_url|qs_page:conversations.page_obj.number %}
                    {% if other_user.uuid == conv.other_user_uuid %}
                        {% list_item conv.other_user_full_name|truncatechars:25 conv.content|truncatechars:25 conv_thread_url active=True %}
                    {% else %}
                        {% list_item conv.other_user_full_name|truncatechars:25 conv.content|truncatechars:25 conv_thread_url %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endrender_list %}

    {%  if conversations.is_paginated %}
        {% pagination page_obj=conversations.page_obj paginator=conversations.paginator request=request lookaround=1 %}
    {% endif %}
    </div>
{% endblock %}


{% block content %}
    {% if conversation_messages or other_user %}
        {% messages message_list=conversation_messages user=request.user form=form other_user=other_user status=status %}
    {% endif %}
{% endblock %}
