{% extends 'master.html' %}
{% load i18n form_tags %}


{% block content %}
<h1 class="h1">
    {% trans "Accept an invitation" %}
</h1>
<p class="p">
    {% blocktranslate with inviter_name=object.inviter.get_full_name %}Accept invitation from {{ inviter_name }} and join Open Inwoner Platform {% endblocktranslate %}
</p>

{% render_form id="invite-form" method="POST" form=form extra_classes="form--flex" %}
    {% csrf_token %}
    {% hidden form.accepted %}
    {% form_actions primary_text=_("Aanvaard") primary_icon="arrow_forward" secondary_href='/' secondary_text=_('Terug') secondary_icon='arrow_backward' %}
{% endrender_form %}

{% endblock content %}
