{% extends 'master.html' %}
{% load i18n static form_tags card_tags grid_tags solo_tags icon_tags %}

{% block content %}
<div class="registration-grid">
    {% render_grid %}
        {% render_column start=5 span=5 %}
            {% get_solo 'configurations.SiteConfiguration' as config %}
            <h1 class="utrecht-heading-1">{% trans "Registratie voltooien" %}</h1><br>
            {% if config.registration_text %}<p class="utrecht-paragraph">{{ config.registration_text|urlize|linebreaksbr }}</p>{% endif %}
            <form method="POST" id="necessary-form" action="{{ request.get_full_path }}" class="form form__choice-list" novalidate>
                {% csrf_token %}

                {% if form.first_name %}
                    {% input form.first_name %}
                {% endif %}

                {% if form.infix %}
                    {% input form.infix %}
                {% endif %}

                {% if form.last_name %}
                    {% input form.last_name %}
                {% endif %}

                {% if form.email %}
                    {% input form.email %}
                {% endif %}

                {% if form.invite %}
                    {% input form.invite no_label=True %}
                {% endif %}


                {% if config.any_notifications_enabled %}
                    <h3 class="utrecht-heading-3">{% trans "Notification preferences" %}</h3>

                    {# Start of multiple checkbox fields #}
                    <ul class="choice-list choice-list-multiple">

                        {% if form.cases_notifications %}
                            <li class="choice-list-multiple__item">
                                <div class="choice-list-multiple__content">
                                    {% checkbox form.cases_notifications %}
                                </div>
                            </li>
                        {% endif %}

                        {% if form.messages_notifications %}
                            <li class="choice-list-multiple__item">
                                <div class="choice-list-multiple__content">
                                    {% checkbox form.messages_notifications %}
                                </div>
                            </li>
                        {% endif %}

                        {% if form.plans_notifications %}
                            <li class="choice-list-multiple__item">
                                <div class="choice-list-multiple__content">
                                    {% checkbox form.plans_notifications %}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                    {# End of multiple checkbox fields #}

                {% if config.notifications_cases_enabled %}
                    {# Info on notifications that cannot be disabled #}
                    <div class="choice-list__information">
                        <p class="choice-list-multiple__heading-4">{% icon icon="check" outlined=True %} {% trans "Zaaknotificaties - actie is nodig" %}</p>
                        <p class="choice-list__p">{% trans "E-mailnotificaties wanneer er actie nodig is voor een zaak (kan niet uitgeschakeld worden)" %}</p>
                    </div>

                    {# Choice of zaken notification channel #}
                    {% if form.case_notification_channel %}
                        <p class="utrecht-paragraph choice-list__p">{% trans "Hoe wilt u deze notificaties ontvangen?" %}</p>
                        {% with form.case_notification_channel as field %}
                            {% choice_list single=True cols=True %}
                                {% for choice in field.field.choices %}
                                    {% choice_list_item input_type_radio=True choice=choice name=field.name data=field.value index=forloop.counter initial=field.form.initial icon_symbol=choice.1|get_icon_symbol %}
                                {% endfor %}
                            {% endchoice_list %}
                        {% endwith %}
                    {% endif %}
                {% endif %}

                <div class="choice-list__information--bottom-border"></div>

                {% form_actions primary_icon='east' primary_text="Voltooi registratie" fullwidth=True %}
            </form>
        {% endrender_column %}
    {% endrender_grid %}
</div>
{% endblock content %}
