{% extends 'master.html' %}
{% load i18n static form_tags card_tags grid_tags solo_tags %}

{% block content %}
<div class="registration-grid">
{% render_grid %}
    {% render_column span=9 %}
        {% render_card tinted=True  %}
            {% get_solo 'configurations.SiteConfiguration' as config %}
            <h1 class="h1">{% trans "Registratie voltooien" %}</h1><br>
            {% if config.registration_text %}<p class="p">{{ config.registration_text|urlize|linebreaksbr }}</p><br>{% endif %}
            <form method="POST" id="necessary-form" action="{% url 'profile:registration_necessary' %}" class="form" novalidate>
                {% csrf_token %}

                {% for field in form.fields %}
                    {% autorender_field form field %}
                {% endfor %}

                    <div class="form__control">
                        {# pseudo checkbox for notifications that cannot be disabled #}
                        <div class="checkbox">
                            <span role="checkbox" aria-disabled="true" aria-checked="true" class="checkbox__input checkbox__pseudo checkbox__input--disabled" aria-labelledby="id_cases_notifications_action_required" tabindex="0"></span>
                            <span class="checkbox__label checkbox__pseudo-label" id="id_cases_notifications_action_required">{% trans "Zaaknotificaties - actie is nodig" %}</span>
                            <p class="p">{% trans "E-mailnotificaties wanneer er actie nodig is voor een zaak (kan niet uitgeschakeld worden)" %}</p>
                        </div>
                    </div>

                {% form_actions primary_icon='arrow_forward' primary_text="Verzenden" %}
            </form>
        {% endrender_card %}
    {% endrender_column %}
{% endrender_grid %}
</div>
{% endblock content %}
