{% load i18n button_tags %}

{% if root_nodes.exists %}
    <h1 class="h1">{% trans "Waar bent u naar op zoek?" %}</h1>
    <h4 class="h4">{% trans "Wij helpen u graag op weg." %}</h4>

    <ul class="questionnaire__list">
        {% for node in root_nodes %}
            <li class="questionnaire__list-item">
                {% button href=node.get_absolute_url icon='arrow_forward' icon_position='after' text=node.title|truncatechars:51 %}
            </li>
        {% endfor %}
    </ul>
{% endif %}