{% extends 'master.html' %}
{% load i18n l10n card_tags link_tags tag_tags file_tags utils icon_tags %}

{% block sidebar_content %}
<aside class="anchor-menu">
    <ul class="anchor-menu__list">
        <li class="anchor-menu__list-item">
            <a class="link" href="#title">{{object.name}}</a>
        </li>
        {% if object.files.exists %}
            <li class="anchor-menu__list-item">
                <a class="link" href="#files">{% trans "Bestanden" %}</a>
            </li>
        {% endif %}
        {% if object.locations.exists %}
            <li class="anchor-menu__list-item">
                <a class="link" href="#locations">{% trans "Locaties" %}</a>
            </li>
        {% endif %}
        {% if object.links.exists %}
            <li class="anchor-menu__list-item">
                <a class="link" href="#links">{% trans "Links" %}</a>
            </li>
        {% endif %}
        {% if object.related_products.exists %}
            <li class="anchor-menu__list-item">
                <a class="link" href="#see">{% trans "Zie ook" %}</a>
            </li>
        {% endif %}
        <li class="anchor-menu__list-item">
            <a class="link" href="#share">{% trans "Delen" %}</a>
        </li>
        <li class="anchor-menu__list-item anchor-menu__list-item--top">
            <a class="link link--primary" href="#top">
                {% icon icon="arrow_upward" %}
                Terug naar boven
            </a>
        </li>
    </ul>
</aside>
{% endblock sidebar_content %}

{% block content %}
<h1 class="h1" id="title">{{object.name}}</h1>
{% tag tags=object.tags.all %}
<p class="p">{{object.summary}}</p>
{{ object.get_rendered_content|safe }}
{% if object.files.exists %}
    <hr class="divider">
    {% file_list files=object.files.all %}
{% endif %}
{% if object.locations.exists %}
    <hr class="divider">
    <nav class="location-card-list">
        <h4 class="h4" id="locations">{% trans "Locaties" %}</h4>
        <ul class="location-card-list__list">
            {% for location in object.locations.all %}
                <li class="location-card-list__list-item">
                    <aside class="card">
                        {% localize off %}
                        <div class="leaflet--map leaflet--map--small" data-lan="{{ location.geometry.y }}" data-lng="{{ location.geometry.x }}" data-zoom="18"></div>
                        {% endlocalize %}
                        <div class="card__body">
                            <h4 class="h4">{{location.name}}</h4>
                            <p class="p">
                                {{location.street}} {{location.number}}<br>
                                {{location.postcode}} {{location.city}}
                            </p>
                        </div>
                    </aside>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
<hr class="divider">

<div class="grid">
    {% if object.links.exists %}
        <nav class="link-list">
            <h4 class="h4" id="links">{% trans "Links" %}</h4>
            <ul class="link-list__list">
                {% for link in object.links.all %}
                    <li class="link-list__list-item">
                        {% link href=link.url secondary=True text=link.name %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    <aside>
        {% if object.related_products.exists %}
            <nav class="link-list">
                <h4 class="h4" id="see">{% trans "Zie ook" %}</h4>
                <ul class="link-list__list">
                    {% for related in object.related_products.all %}
                        <li class="link-list__list-item">
                            {% url 'pdc:product_detail' slug=related.slug as product_url %}
                            {% link href=product_url text=related.name secondary=True %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <nav class="social">
            <h4 class="h4" id="share">{% trans "Delen" %}</h4>
            {% link social_icon="facebook" href="#" extra_classes="social__link" %}
            {% link social_icon="twitter" href="#" extra_classes="social__link" %}
            {% link social_icon="whatsapp" href="#" extra_classes="social__link" %}
            {% link social_icon="linkedin" href="#" extra_classes="social__link" %}
        </nav>
    </aside>
</div>
{% endblock content %}
