{% extends 'master.html' %}
{% load i18n l10n button_tags card_tags faq_tags file_tags grid_tags icon_tags link_tags map_tags notification_tags tag_tags utils condition_tags render_tags anchor_menu_tags product_tags string_tags %}

{% block header_image %}
{% if object.image %}
    <aside class="banner" aria-hidden="true">
        <img class="main-image main-image--start-after" src="{{ object.image.url }}">
    </aside>
{% endif %}
{% endblock header_image %}

{% block sidebar_content %}
    {% anchor_menu anchors=anchors desktop=True %}
        {% if not product.has_cta_tag %}
            {% if product.form %}
                <li class="anchor-menu__list-item">
                    {% button href=product.form_link size="big" text=_("Aanvraag starten") primary=True icon="arrow_forward" icon_position="before" %}
                </li>
            {% elif product.link %}
                <li class="anchor-menu__list-item">
                    {% button href=product.link size="big" text=_("Aanvraag starten") primary=True icon="arrow_forward" icon_position="before" %}
                </li>
            {% endif %}
        {% endif %}
    {% endanchor_menu %}
{% endblock sidebar_content %}

{% block content %}
    <h1 class="h1" id="title">
        {{ object.name }}
        {% if request.user.is_staff %}
            {% button icon="edit" text=_("Bewerken in de Admin") hide_text=True href="admin:pdc_product_change" object_id=object.pk %}
        {% endif %}
    </h1>
    {% tag tags=object.tags.all %}
    <p class="p">{{ object.summary }}</p>
    {{ object|product_ckeditor_content|safe }}

    {% if object.question_set.exists %}
        <hr class="divider">
        {% faq object.question_set.all %}
    {% endif %}

    {% if object.files.exists %}
        <hr class="divider">
        {% file_list files=object.files.all title=_("Bestanden") %}
    {% endif %}

    {# Conditions #}
    {% if object.conditions.exists %}
        <hr class="divider">

        {% render_grid %}
            {% render_column span=6 compact=True %}
                <h3 class="h3">{% trans "U komt in aanmerking" %}</h3>
                {% condition_list conditions=object.conditions.all %}
            {% endrender_column %}

            {% render_column start=7 span=6 compact=True %}
                <h3 class="h3">{% trans "U komt niet in aanmerking" %}</h3>
                {% condition_list conditions=object.conditions.all negative=True %}
            {% endrender_column %}
        {% endrender_grid %}
    {% endif %}

    {# Locations #}
    {% if object.locations.exists %}
        <hr class="divider">

        {% with centroid=object.locations.get_centroid %}
            {% map centroid.lat centroid.lng id="locations" title=_('Locaties') geojson_feature_collection=object.locations.get_geojson_feature_collection %}
        {% endwith %}

        {% render_card_container columns=3 %}
            {% for location in object.locations.all %}
                {% with location_name=location.name phonenumber=location.phonenumber email=location.email %}
                    <div class="card card__body">
                        {% if location_name %}
                            {% link href=location.get_absolute_url primary=True text=location_name extra_classes="h3" %}
                        {% endif %}
                        <div class="card__body--flex p--no-margin">
                            <p class="p">{{ location.address_line_1 }}</p>
                            <p class="p">{{ location.address_line_2 }}</p>
                            {% if phonenumber %}
                                {% link href='tel:'|addstr:phonenumber secondary=True text=phonenumber %}
                            {% endif %}
                            {% if email %}
                                {% link href='mailto:'|addstr:email secondary=True text=email %}
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endrender_card_container %}
    {% endif %}

    <hr class="divider">

    {% render_grid %}
        {% render_column span=5 %}
            {# Links. #}
            {% if product_links.exists %}
                <nav class="link-list" aria-label="{% trans "links" %}">
                    <h3 class="h3" id="links">{% trans "Links" %}</h3>
                    <ul class="link-list__list">
                        {% for link in product_links %}
                            <li class="link-list__list-item link-list__list-item--wrap">
                                {% link href=link.url secondary=True text=link.name %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        {% endrender_column %}

        {% render_column start=related_products_start span=4 compact=True %}
            {# Related products. #}
            {% if object.related_products.published.exists %}
                <nav class="link-list" aria-label="{% trans "Gerelateerde links" %}">
                    <h3 class="h3" id="see">{% trans "Zie ook" %}</h3>
                    <ul class="link-list__list">
                        {% for related in object.related_products.published %}
                            <li class="link-list__list-item link-list__list-item--wrap">
                                {% url 'products:product_detail' slug=related.slug as product_url %}
                                {% link href=product_url text=related.name secondary=True %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        {% endrender_column %}


        {% render_column span=9 %}
            {% if object.contacts.exists %}
                {% render_notification type='success' icon=False %}
                    <h3 class="h3" id="contact">{% trans 'Contact' %}</h3>

                    {% for contact in object.contacts.all %}
                        {% render_grid compact=True %}
                            {% render_column span=12 %}
                                <h4 class="h4">{{ contact.first_name }} {{ contact.last_name }}</h4>
                            {% endrender_column %}

			    {% if contact.phonenumber %}
                            {% render_column span=6 %}
                                <span class="p">{{ contact.role|default:_('Telefoonnummer') }}</span>
                            {% endrender_column %}

                            {% render_column start=7 span=6 %}
                                {% link href='tel:'|add:contact.phonenumber text=contact.phonenumber primary=True %}
                            {% endrender_column %}
			    {% endif %}

			    {% if contact.email %}
                            {% render_column span=6 %}
                                <p class="p">{{ contact.organization|default:_('E-mail')}}</p>
                            {% endrender_column %}

                            {% render_column start=7 span=6 %}
                                {% link href='mailto:'|add:contact.email text=contact.email primary=True %}
			    {% endrender_column %}
			    {% endif %}
                        {% endrender_grid %}
                    {% endfor %}
                {% endrender_notification %}
            {% endif %}
        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
