{% extends "pages/product/detail.html" %}
{% load openforms button_tags tag_tags %}

{% block extra_css %}

    {{ block.super }}
    {% openforms_sdk_media %}

{% endblock %}

{% block content %}

    <h1 class="h1" id="title">
        {{ object.name }}
        {% if request.user.is_staff %}
            {% button icon="edit" text=_("Bewerken in de Admin") hide_text=True href="admin:pdc_product_change" object_id=object.pk %}
        {% endif %}
    </h1>
    {% tag tags=object.tags.all %}
    <p class="p">{{ object.summary }}</p>

    {% if object.form %}
        {% openforms_form object.form  csp_nonce=request.csp_nonce %}
    {% endif %}

{% endblock %}