{% extends 'master.html' %}
{% load i18n l10n grid_tags %}


{% block content %}
    <div class="location">
        <h1 class="h1">{{ object.name }}</h1>

        <div class="location__details">
            <div class="location__address">
                {% if object.address_line_1 %}
                    <p class="p">{{ object.address_line_1 }}</p>
                {% endif %}
                <p class="p">{{ object.address_line_2 }}</p>
            </div>
            <div class="location__contact">
                {% if object.phonenumber %}
                    <p class="p">{{ object.phonenumber }}</p>
                {% endif %}
                {% if object.email %}
                    <p class="p">{{ object.email }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if products %}
        {% include "components/Card/CardContainer.html" with products=products small=True only %}
    {% else %}
        {% trans "There are no products available at this location." %}
    {% endif %}
{% endblock content %}
