.profile-section {
  &--bordered {
    border-bottom: 1px solid var(--color-gray-light);
    padding-bottom: var(--spacing-large);
  }

  h2,
  .h2 {
    height: var(--row-height);
    margin: calc(var(--row-height)) 0 0 0;
  }

  .h2 + .grid {
    margin-top: 0;
  }

  .profile-list {
    .list-item--compact {
      padding: var(--spacing-small) 0;
    }
  }
}
