.profile-section {
  &--bordered {
    border-bottom: 1px solid var(--color-gray-light);
    padding-bottom: var(--spacing-large);
  }

  .h2 {
    display: block;
    height: initial;
    margin: calc(var(--row-height)) 0 0 0;

    @media (min-width: 768px) {
      display: flex;
      height: var(--row-height);
    }
  }

  .h2 + .grid {
    margin-top: 0;
  }

  .list {
    .list-item--compact {
      padding: var(--spacing-small) 0;
    }
  }

  .button {
    &--error {
      font-weight: bold;
    }
  }

  .profile-cards {
    @media (min-width: 500px) and (max-width: 767px) {
      &.card-container {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }

    .card {
      min-height: 190px;
    }
  }

  .form {
    padding: 0;
  }

  .checkbox {
    &__label {
      color: var(--color-black);
      font-family: var(--font-family-heading);
      font-weight: bold;
    }

    .checkbox__p {
      color: var(--color-gray-dark-900);
      font-size: var(--font-size-body-small);
      line-height: var(--font-line-height-body-small);
      padding-left: calc(var(--gutter-width) + var(--spacing-small));
    }
  }

  &.profile-section__newsletters {
    .button {
      padding: var(--spacing-medium) var(--spacing-giant);
    }
  }
}
