.profile-section {
  &--bordered {
    border-bottom: 1px solid var(--color-gray-light);
    padding-bottom: var(--spacing-large);
  }

  h2,
  .h2 {
    display: block;
    height: initial;
    margin: calc(var(--row-height)) 0 0 0;

    @media (min-width: 768px) {
      display: flex;
      height: var(--row-height);
    }
  }

  .h2 + .grid {
    margin-top: 0;
  }

  .profile-list {
    .list-item--compact {
      padding: var(--spacing-small) 0;
    }
  }

  .button {
    &--error {
      font-weight: bold;
    }
  }

  .profile-cards .card {
    min-height: 190px;
  }
}
