{% load form_tags %}

<div>
    <aside class="filter filter--open">
        <h4 class="h4 filter__title">
            {{ filter.label }}
            <span class="material-icons">expand_more</span>
        </h4>
         <div class="filter__list">
            {% for option in filter.field.choices %}
                {% choice_checkbox choice=option name=filter.name data=filter.data index=forloop.counter %}
            {% endfor %}
         </div>
    </aside>
    <hr class="divider divider--small">
</div>
