{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags utils icon_tags file_tags action_tags dropdown_tags anchor_menu_tags %}

{% block content %}
    {# needs breadcrums #}
    <nav class="breadcrumbs" aria-label="broodkruimels">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list-item">
                <a class="link link--secondary" href="/" title="Home" aria-label="Home">
                    <span aria-hidden="true" class="material-icons-outlined ">home</span>
                </a>
            </li>
            <li class="breadcrumbs__list-item">
                <span aria-hidden="true" class="material-icons ">chevron_right</span>
                <a class="link " href="/myservices/">
                    Mijn berichten
                </a>
            </li>
        </ul>
    </nav>

    <div class="serviceslist">
        <h1 class="utrecht-heading-1" id="title">
            Mijn berichten
        </h1>
        <p class="utrecht-paragraph">Lorem ipsum</p>

        <div class="servicelist">
            <table class="table plans-extended">
                <thead class="table__heading">
                <tr>
                    <td class="table__item" colspan="2">Onderwerp</td>
                    <td class="table__item">Einddatum</td>
                    <td class="table__item">Status</td>
                    <td class="table__item" colspan="2">Openstaande acties&nbsp;</td>
                    <td class="table__item">&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="table__header">
                        <a href="/samenwerken/181294c7-b40e-4fb0-a5a4-557eee44938a/" class="link" aria-label="Samenwerking voorbeeld" title="Samenwerking voorbeeld">
                            <span class="link__text">Samenwerking voorbeeld</span>
                        </a>
                    </th>
                    <td class="table__item table__item--no-lb">01 mei 2025</td>
                    <td class="table__item">Open</td>
                    <td class="table__item">0</td>
                    <td class="table__item">
                    </td>
                    <td class="table__item">
                        <a class="button button--textless button--icon button--transparent" href="/myservices/detail-1/" title="Samenwerking voorbeeld" aria-label="Samenwerking voorbeeld">
                            <span aria-hidden="true" class="material-icons-outlined ">arrow_forward</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="table__header">
                        <a href="/samenwerken/f2db5565-9b80-466b-8365-72359652160e/" class="link" aria-label="Test" title="Test">
                            <span class="link__text">Test</span>
                        </a>
                    </th>
                    <td class="table__item table__item--no-lb">01 juni 2025</td>
                    <td class="table__item">Open</td>
                    <td class="table__item">2</td>
                    <td class="table__item">
                        <div class="table__item--notification-danger">Actie vereist</div>
                    </td>
                    <td class="table__item">
                        <a class="button button--textless button--icon button--transparent" href="/myservices/detail-1/" title="Test" aria-label="Test">
                            <span aria-hidden="true" class="material-icons-outlined ">arrow_forward</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="table__header">
                        <a href="/samenwerken/67185d74-6f3b-451c-b056-79eebb069a22/" class="link" aria-label="Sjabloon samenwerk voorbeeld" title="Sjabloon samenwerk voorbeeld">
                            <span class="link__text">Sjabloon samenwerk voorbeeld</span>
                        </a>
                    </th>
                    <td class="table__item table__item--no-lb">01 juli 2024</td>
                    <td class="table__item">Afgerond</td>
                    <td class="table__item">3</td>
                    <td class="table__item">
                        <div class="table__item--notification-danger">Actie vereist</div>
                    </td>
                    <td class="table__item">
                        <a class="button button--textless button--icon button--transparent" href="/myservices/detail-1/" title="Sjabloon samenwerk voorbeeld" aria-label="Sjabloon samenwerk voorbeeld">
                            <span aria-hidden="true" class="material-icons-outlined ">arrow_forward</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="table__header">
                        <a href="/samenwerken/bff2d7a0-acd5-4d48-a5fc-5347e76a4186/" class="link" aria-label="Voorbeeld" title="Voorbeeld">
                            <span class="link__text">Voorbeeld</span>
                        </a>
                    </th>
                    <td class="table__item table__item--no-lb">28 juni 2024</td>
                    <td class="table__item">Afgerond</td>
                    <td class="table__item">3</td>
                    <td class="table__item">
                        <div class="table__item--notification-danger">Actie vereist</div>
                    </td>
                    <td class="table__item">
                        <a class="button button--textless button--icon button--transparent" href="/myservices/detail-1/" title="Voorbeeld" aria-label="Voorbeeld">
                            <span aria-hidden="true" class="material-icons-outlined ">arrow_forward</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            {#        end service list#}
        </div>

    </div>
{% endblock %}
