{% extends 'master.html' %}
{% load i18n button_tags utils icon_tags anchor_menu_tags %}

{#{% block sidebar_content %}#}
{#&nbsp;#}
{#{% endblock sidebar_content %}#}

{% block content %}
    {# needs breadcrums #}
    <nav class="breadcrumbs" aria-label="broodkruimels">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list-item">
                <a class="link link--secondary" href="/" title="Home" aria-label="Home">
                    <span aria-hidden="true" class="material-icons-outlined ">home</span>
                </a>
            </li>
            <li class="breadcrumbs__list-item">
                <span aria-hidden="true" class="material-icons ">chevron_right</span>
                <a class="link " href="/myservices/detail-1">
                    Bericht detail
                </a>
            </li>
        </ul>
    </nav>

    <div class="servicedetail column column--start-0 column--span-8">
        <h1 class="utrecht-heading-1" id="title">
            Mijn berichten
        </h1>

        <div class="denhaag-page-content__header">
            <h2 class="utrecht-heading-2">Betalen van uw parkeerbon</h2>
            <p class="utrecht-paragraph"> Bericht ontvangen op 15 januari 2023 om 15.24 uur</p>
        </div>
        <div class="denhaag-action denhaag-action--multi denhaag-page-content__task">
            <div class="denhaag-action__content">Betaal uw parkeerbon van € 74,90 voor het parkeren bij Valeriusplein</div>
            <div class="denhaag-action__details">
                <div class="denhaag-action__date denhaag-action__date--warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 21" class="denhaag-action__warning-icon" focusable="false" aria-hidden="true" shape-rendering="auto">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" clip-path="url(#alert-triangle-filled_svg__a)">
                            <path fill="#E15601" stroke="#E15601" d="M8.575 3.717 1.516 15.5A1.667 1.667 0 0 0 2.941 18h14.117a1.665 1.665 0 0 0 1.425-2.5L11.425 3.717a1.667 1.667 0 0 0-2.85 0"></path>
                            <path stroke="#fff" d="M10 14.667h.008M10 8v3.333"></path>
                        </g>
                        <defs>
                            <clipPath id="alert-triangle-filled_svg__a">
                                <path fill="#fff" d="M0 .5h20v20H0z"></path>
                            </clipPath>
                        </defs>
                    </svg>
                    <time datetime="2023-09-30T19:47:36.593Z">nog 1 dag</time>
                </div>
                <div class="denhaag-action__actions"><a href="#example" class="utrecht-button-link utrecht-button-link--html-a utrecht-button-link--external" rel="external noopener noreferrer">Betalen</a></div>
            </div>
        </div>
        <p class="utrecht-paragraph denhaag-page-content__message"> Beste mevrouw Klap,<br><br>U heeft te weinig of geen parkeerkosten betaald voor het parkeren bij Valeriusplein. Daarom heeft u een parkeerbon gekregen.<br><br>Betaal vóór 1 maart 2023 uw parkeerbon van € 74.90.<br><br>Bent u het niet eens met deze parkeerbon? Dan kunt u bezwaar maken. Vul het formulier Bezwaar maken tegen een parkeerbon in.<br><br>Met vriendelijke groet,<br>Gemeente Den Haag</p>
        <div class="denhaag-action denhaag-action--multi denhaag-page-content__task">
            <div class="denhaag-action__content">Betaal uw parkeerbon van € 74,90 voor het parkeren bij Valeriusplein</div>
            <div class="denhaag-action__details">
                <div class="denhaag-action__date denhaag-action__date--warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 20 21" class="denhaag-action__warning-icon" focusable="false" aria-hidden="true" shape-rendering="auto">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" clip-path="url(#alert-triangle-filled_svg__a)">
                            <path fill="#E15601" stroke="#E15601" d="M8.575 3.717 1.516 15.5A1.667 1.667 0 0 0 2.941 18h14.117a1.665 1.665 0 0 0 1.425-2.5L11.425 3.717a1.667 1.667 0 0 0-2.85 0"></path>
                            <path stroke="#fff" d="M10 14.667h.008M10 8v3.333"></path>
                        </g>
                        <defs>
                            <clipPath id="alert-triangle-filled_svg__a">
                                <path fill="#fff" d="M0 .5h20v20H0z"></path>
                            </clipPath>
                        </defs>
                    </svg>
                    <time datetime="2023-09-30T19:47:36.593Z">nog 1 dag</time>
                </div>
                <div class="denhaag-action__actions"><a href="#example" class="utrecht-button-link utrecht-button-link--html-a utrecht-button-link--external" rel="external noopener noreferrer">Betalen</a></div>
            </div>
        </div>
    </div>
{% endblock %}
