.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Heading', Arial, sans-serif;
  height: var(--image-height-mobile);
  margin: 0;
  text-align: center;

  @media (min-width: 500px) {
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    margin: 100px 0 0 0;
  }

  &--hide {
    display: none;
  }

  &--compact {
    height: auto;
    margin: var(--spacing-extra-large) 0;

    @media (min-width: 500px) {
      height: auto;
      margin: var(--spacing-extra-large) 0;
    }
  }

  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color-body);
    font-size: var(--font-size-body);

    &__content {
      margin-top: var(--spacing-large);
    }
  }

  .spinner-icon {
    display: inline-block;
    font-size: 50px;
    color: var(--color-gray-dark);
    width: 50px;
    height: 50px;
  }

  .rotate {
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }

    animation: rotate 1.5s linear infinite;
  }
}
