{% extends "eherkenning/mock/eherkenning_base.html" %}
{% load static %}

{% block body %}
    <div class="eherkenningmock-notification">
        <strong>Dit is een mockup van de eHerkenning login flow voor test en demonstratie doeleinden.</strong>
        <br>
        Vul niet uw echte eHerkenning logingegevens in.
    </div>
    <h1>Kies hoe u wilt inloggen</h1>

        <p>U wilt inloggen bij <strong>Open Inwoner</strong>. U heeft hiervoor een inlogmiddel nodig van minimaal <strong>betrouwbaarheidsniveau EH3</strong>.</p>

    <div class="niveau">
        <img src="{% static 'eherkenning/niveau300.svg' %}" alt="EH3" width="160" height="23">
    </div>
    <form class="mdc-card cng-small-card--centered" method="post">{% csrf_token %}
        <label for="selectedIdp" class="leverancier">Kies de leverancier van uw inlogmiddel</label>
            <select name="selectedIdp" id="selectedIdp" required="required">
            <option value="" selected="">Maak een keuze</option>
            <option value="Digidentity">Digidentity</option>
            <option value="KPN">KPN</option>
            <option value="QuoVadis">QuoVadis</option>
            <option value="Reconi">Reconi</option>
            <option value="We-ID">We-ID</option>
            <option value="Z login">Z login</option>
            <option value="basic">Gebruikersnaam en wachtwoord</option>
        </select>

        <div class="checkbox-wrapper">
            <input type="checkbox" name="rememberMe" id="rememberMe" checked="checked">
            <label for="rememberMe">Onthoud mijn keuze</label>
        </div>
        <div class="submit-wrapper">
            <a class="form-button" href="{{ password_login_url }}">Verder</a>
        </div>
    </form>

    <div class="submit-wrapper">
        <a href="{% url 'login' %}" class="annuleren">Annuleren</a>
    </div>
{% endblock %}
