{% extends "eherkenning/mock/eherkenning_base.html" %}
{% load static %}

{% block body %}
<div class="eherkenningmock-notification">
    <strong>Dit is een mockup van de eHerkenning login flow voor test en demonstratie doeleinden.</strong>
    <br>
    Vul niet uw echte eHerkenning logingegevens in.
</div>
<h2>Vul hieronder uw gebruikersnaam en wachtwoord in</h2>

<form class="remember_login" id="new_authentication" action="{{ action_url }}"
    accept-charset="UTF-8" method="post">
    {% csrf_token %}
    <input name="utf8" type="hidden" value="✓">

    <div class="normal-login" id="normal-login">
        <header class="form__header"></header>

        <form class="mdc-card cng-small-card--centered">
        <fieldset class="form__item" id="username-field">
            <label class="form__item__label" for="authentication_username">eHerkenning gebruikersnaam</label>
            <input class="form__item__field" spellcheck="false" placeholder=" " type="text"
                name="{{ form.auth_name.name }}" value="{% firstof form.auth_name.value '' %}" id="authentication_username" data-eherkenningmock-empty="authentication_username__empty">

            {% if form.auth_name.errors %}
                <ul class="form__item__errors eherkenningmock-error">
                    <li><strong>{{ form.auth_name.errors }}</strong></li>
                </ul>
            {% endif %}
        </fieldset>

        <fieldset class="form__item show_password_field" id="password-field">
            <label class="form__item__label" for="authentication_password">Wachtwoord</label>
            <input class="form__item__field" placeholder=" " type="password" name="{{ form.auth_pass.name }}"
                value="{% firstof form.auth_pass.value '' %}" id="authentication_password" data-eherkenningmock-empty="authentication_password__empty"><i class="icon-1008-oog"></i>

            {% if form.auth_name.errors %}
                <ul class="form__item__errors eherkenningmock-error">
                    <li><strong>{{ form.auth_pass.errors }}</strong></li>
                </ul>
            {% endif %}
        </fieldset>
    </form>

        <label class="form__item__box-label checkbox_container eherkenningmock-anchor-placeholder"
            for="authentication_remember_login">
            Onthoud mijn eHerkenning gebruikersnaam
            <input type="checkbox" value="1" name="remember_login"><span class="checkbox_checkmark"></span>
        </label>

        <div class="actions">
            <button name="commit" type="submit" class="form-button"
                data-disable-with="Inloggen" id="submit-button" arrow="true" value="Inloggen">
                Inloggen
            </button>
        </div>
    </div>
</form>

<div class="submit-wrapper">
    <a href="{% url 'login' %}" class="annuleren">Annuleren</a>
</div>

{% endblock %}
