{% load static %}
<!DOCTYPE html>
<html class='no-javascript' lang='nl'>
<head>
    <meta charset='utf-8'/>
    <meta
        content='Met eHerkenning kunt u zich identificeren op websites van de overheid. Zo weten overheidsinstellingen dat ze echt met u te maken hebben.'
        name='description'/>
    <meta content='eHerkenning, inloggen, aanvragen, activeren, Mijn DigiD' name='keywords'/>
    <meta content='index, follow' name='robots'/>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta content='none' name='msapplication-config'/>

    <title>{{ page_title }}</title>

    <link href="{% static 'eherkenning/eherkenning.styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'eherkenning/extra.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="eherkenning">
    <div class="login">
        <header id="section-header">
            <a href="#"><img src="{% static 'eherkenning/logo.svg' %}" alt="eHerkenning" class="logo" width="320" height="55"></a>
        </header>

        <section id="section-content">
            {% block body %}{% endblock %}
        </section>
        <footer id="section-footer">
            <p>Heeft u nog geen inlogmiddel? Ga dan naar de <a href="#" class="info">website<span> Opent een nieuw tabblad</span></a> van eHerkenning en vraag een middel aan.</p>
        </footer>
    </div>
</body>
</html>
