.dashboard {
  margin-bottom: var(--row-height);

  &__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: var(--border-width-thin) solid var(--color-gray);

    @media (min-width: 900px) {
      display: flex;
      gap: 0;
      border-top: var(--border-width-thin) solid var(--color-gray);
    }
  }

  &__list-item {
    padding: var(--spacing-large) 0;
    color: var(--color-gray-dark);
    white-space: nowrap;
    border-top: var(--border-width-thin) solid var(--color-gray);
    @media (min-width: 900px) {
      border-top: none;
      margin-left: var(--spacing-extra-large);
    }

    &:first-child {
      margin-left: 0;
    }

    p::after {
      color: var(--color-gray);
      @media (min-width: 900px) {
        content: '|';
        margin-left: var(--spacing-extra-large);
      }
    }

    &:last-child p::after {
      @media (min-width: 900px) {
        content: none;
      }
    }

    @media (min-width: 900px) {
      text-align: start;
    }
  }

  &__item-label {
    color: var(--color-gray-90);
  }

  .h4 {
    @media (min-width: 768px) {
      margin-top: var(--spacing-large);
    }
  }
}

.h1 + .dashboard,
.utrecht-heading-1 + .dashboard {
  margin-top: var(--spacing-large);

  @media (min-width: 768px) {
    margin-top: var(--row-height);
  }
}
