{% extends "master.html" %}
{% load i18n grid_tags %}

{% block title %}{{ page_heading }} - {{ site_name }}{% endblock %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    {% render_grid %}
        {% render_column start=1 span=12 %}
            <h1 class="nl-heading nl-heading--level-1" id="title">{{ page_heading }}</h1>
            {% if page_description %}
                <p class="utrecht-paragraph utrecht-paragraph--lead">{{ page_description }}</p>
            {% endif %}
            {{afval_data|json_script:"afval_data"}}
            <oip-chart data-id="afval_data"></oip-chart>
            {% for afval_obj in afval_data %}
                <article class="afval-object">
                    {# Accordion wrapping address and all containers #}
                    <oip-accordion title="{{ afval_obj.object_address }}" subtitle="{% trans "Totaal afgelopen periode:" %} {{ afval_obj.totaal_gewicht }}" initial-open="{{ forloop.first|lower }}">
                        {# Container Sections - Same rendering for all types #}
                        {% for container in afval_obj.containers %}
                            <section class="afval-container">
                                <div class="afval-container__table-wrapper">
                                    {% with script_id="table-"|add:container.identifier %}
                                        {{ container.table_data|json_script:script_id }}
                                        <oip-table json-script-id="{{ script_id }}"></oip-table>
                                    {% endwith %}
                                </div>
                            </section>
                        {% endfor %}
                    </oip-accordion>
                </article>
            {% empty %}
                <nl-paragraph>{% trans "Geen afvalgegevens beschikbaar." %}</nl-paragraph>
            {% endfor %}
        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
