{% extends "master.html" %}
{% load i18n grid_tags %}

{% block title %}{{ page_heading }} - {{ site_name }}{% endblock %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    {% render_grid %}
        {% render_column start=1 span=12 %}
            <h1 class="utrecht-heading-1" id="title">{{ page_heading }}</h1>
            {% if page_description %}
                <p class="utrecht-paragraph utrecht-paragraph--lead">{{ page_description }}</p>
                <nl-paragraph purpose="lead">{{ page_description }}</nl-paragraph>
            {% endif %}
            {% if filter_options %}
                {# Filter Component #}
                {{ filter_options|json_script:"filter_options" }}
                <oip-afval-filters data-id="filter_options"></oip-afval-filters>
            {% endif %}
            {% if afval_data %}
                {# chart #}
                {{afval_data|json_script:"afval_data"}}
                <oip-chart data-id="afval_data"></oip-chart>
            {% endif %}
            {# Afval Data Display #}
            {% for afval_obj in afval_data %}
                <article class="afval-object">
                    {# Accordion wrapping address and all containers #}
                    <oip-accordion initial-open="{{ forloop.first|lower }}">
                        {# hidden is added to avoid a flash of unstyled content (value resetted inside the web component) #}
                        <div class="accordion__heading" slot="summary" hidden>
                            <h3 class="utrecht-heading-3">{{ afval_obj.object_address }}</h3>
                            <p class="utrecht-paragraph">{% trans "Totaal afgelopen periode:" %} {{ afval_obj.totaal_gewicht }}</p>
                        </div>
                        <material-icon name="keyboard_arrow_down" extra-class-name='accordion__icon' slot="icon"></material-icon>
                        {# Container Sections - Same rendering for all types #}
                        {% for container in afval_obj.containers %}
                            <section class="afval-container">
                                <div class="afval-container__table-wrapper">
                                    {% with script_id="table-"|add:container.identifier %}
                                        {{ container.table_data|json_script:script_id }}
                                        <oip-table json-script-id="{{ script_id }}"></oip-table>
                                    {% endwith %}
                                </div>
                            </section>
                        {% endfor %}
                    </oip-accordion>
                </article>
            {% empty %}
                <nl-paragraph>{% trans "Geen afvalgegevens beschikbaar." %}</nl-paragraph>
            {% endfor %}
        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
