{% extends "master.html" %}
{% load i18n grid_tags %}

{% block title %}{{ page_heading }} - {{ site_name }}{% endblock %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    {% render_grid %}
        {% render_column start=1 span=12 %}
            <h1 class="utrecht-heading-1" id="title">{{ page_heading }}</h1>
            {% if page_description %}
                <p class="utrecht-paragraph utrecht-paragraph--lead">{{ page_description }}</p>
            {% endif %}

            {% for afval_obj in afval_data %}
                <article class="afval-object">
                    {# Address and Total Weight Section #}
                    <oip-accordion title="{{ afval_obj.object_address }}" subtitle="{% trans "Totaal gewicht:" %} {{ afval_obj.totaal_gewicht }}">
                        {# GFT Afval Section #}
                        {% for container in afval_obj.containers %}
                            {% if container.type == "GFT" %}
                                <section class="afval-container">
                                    <h3 class="utrecht-heading-3">{% trans "GFT Afval" %}</h3>
                                    <p class="utrecht-paragraph">
                                        <strong>{% trans "Container nummer:" %}</strong> {{ container.identifier }}
                                    </p>
                                    <p class="utrecht-paragraph">
                                        <strong>{% trans "Totaal gewicht:" %}</strong> {{ container.totaal_gewicht }}
                                    </p>

                                    {% if container.ledigingen %}
                                        <div class="afval-container__table-wrapper">
                                            <table class="afval-table">
                                                <thead>
                                                    <tr>
                                                        <th>{% trans "Datum ophalen" %}</th>
                                                        <th>{% trans "Tijd ophalen" %}</th>
                                                        <th>{% trans "Gewicht van lediging" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for lediging in container.ledigingen %}
                                                        <tr>
                                                            <td>{{ lediging.tijdstip_datum }}</td>
                                                            <td>{{ lediging.tijdstip_tijd }}</td>
                                                            <td>{{ lediging.gewicht }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </section>
                            {% endif %}
                        {% endfor %}

                        {# Restafval Section #}
                        {% for container in afval_obj.containers %}
                            {% if container.type == "Restafval" %}
                                <section class="afval-container">
                                    <h3 class="utrecht-heading-3">{% trans "Restafval" %}</h3>
                                    <p class="utrecht-paragraph">
                                        <strong>{% trans "Container nummer:" %}</strong> {{ container.identifier }}
                                    </p>
                                    <p class="utrecht-paragraph">
                                        <strong>{% trans "Totaal gewicht:" %}</strong> {{ container.totaal_gewicht }}
                                    </p>

                                    {% if container.ledigingen %}
                                        <div class="afval-container__table-wrapper">
                                            <table class="afval-table">
                                                <thead>
                                                    <tr>
                                                        <th>{% trans "Datum" %}</th>
                                                        <th>{% trans "Tijd van lediging" %}</th>
                                                        <th>{% trans "Gewicht van lediging" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for lediging in container.ledigingen %}
                                                        <tr>
                                                            <td>{{ lediging.tijdstip_datum }}</td>
                                                            <td>{{ lediging.tijdstip_tijd }}</td>
                                                            <td>{{ lediging.gewicht }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </section>
                            {% endif %}
                        {% endfor %}
                    </oip-accordion>
                </article>
            {% empty %}
                <p class="utrecht-paragraph">{% trans "Geen afvalgegevens beschikbaar." %}</p>
            {% endfor %}
        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
