<nav class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item">
            <a class="link link--secondary" href="/">
                <span class="material-icons">apps</span>
            </a>
        </li>
        <li class="breadcrumbs__list-item">
            <span class="material-icons">chevron_right</span>
            <a class="link link--secondary" href="/themas">Thema's</a>
        </li>
        <li class="breadcrumbs__list-item">
            <span class="material-icons">chevron_right</span>
            <a class="link" href="/themas/opvoeding-en-gezin">Opvoeding en gezin</a>
        </li>
    </ul>
</nav>
