{% load i18n logo_tags header_tags form_tags button_tags link_tags solo_tags icon_tags thumbnail string_tags %}

{% get_solo "configurations.SiteConfiguration" as config %}

{% accessibility_header request=request %}
<header class="header" aria-label="Navigatie header">
    <div class="header__container">
        {% firstof config.logo.default_alt_text config.name as logo_alt_text %}
        {% logo src=config.logo.file.url alt=logo_alt_text svg_height=75 %}

        <div class="header__menu">
            <button class="header__button">
                <div class="header__menu-icon">
                    <span class="closed">{% icon icon="menu" %}</span><span class="open">{% icon icon="close" %}</span>
                </div>
            </button>

            <dialog class="header__submenu">
                <nav class="header__actions" aria-label="Zoek navigatie mobiel">
                    {% url 'search:search' as search_url %}
                    {% render_form form=search_form method="GET" form_action=search_url inline=True spaceless=False %}
                        {% input search_form.query no_label=True %}
                        {% form_actions primary_icon="search" primary_text=_("Zoeken") hide_primary_text=True %}
                    {% endrender_form %}
                </nav>

                <nav class="primary-navigation" aria-label="Hoofd navigatie">
                    <ul class="primary-navigation__list">
                        <li class="primary-navigation__list-item">
                            {% trans "Home" as link_text %}
                            {% url 'root' as link %}
                            {% link text=link_text href=link icon="apps" icon_position="before" %}
                        </li>
                        <li class="primary-navigation__list-item dropdown-nav__toggle">
                            <a href="#" class="link desktop-link--toggle link--icon link--icon-position-before" aria-label="Thema's" title="Thema's">
                                <span >{% trans "Thema's" %}</span>
                                <span aria-hidden="true" class="material-icons-outlined ">description</span>
                                {% icon icon="expand_more" icon_position="after" icon_outlined=True %}
                            </a>

                            {% if categories %}
                                <ul class="primary-navigation__list subpage-list">
                                    {% for category in categories %}
                                        <li class="primary-navigation__list-item">
                                            {% url 'pdc:category_detail' slug=category.slug as category_href %}
                                            {% link text=category.name href=category_href %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>

                        {% if request.user.is_authenticated %}
                            <li class="primary-navigation__list-item">
                                {% link text=_("Mijn profiel") href='accounts:my_profile' icon="inventory_2" icon_position="before" icon_outlined=True %}
                            </li>
                            <li class="primary-navigation__list-item">
                                {% link text=_('Mijn berichten') href='accounts:inbox' icon="inbox" icon_position="before" %}
                                {% with request.user.get_new_messages_total as total_messages %}
                                    {% if total_messages %}
                                        {% with "("|addstr:total_messages|addstr:")" as message_total %}
                                            {% link text=message_total href='accounts:inbox' secondary=True %}
                                        {% endwith %}
                                    {% endif %}
                                {% endwith %}
                            </li>

                            {% get_solo 'configurations.SiteConfiguration' as config %}

                            {% if request.user.bsn and show_cases %}
                                <li class="primary-navigation__list-item">
                                    {% link text=_('Mijn aanvragen') href='accounts:my_open_cases' icon="inventory_2" icon_position="before" icon_outlined=True %}
                                </li>
                            {% endif %}
                            {% if show_plans %}
                                <li class="primary-navigation__list-item">
                                    {% link text=_('Samenwerken') href='plans:plan_list' icon="people" icon_outlined=True icon_position="before" %}
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if has_general_faq_questions %}
                            <li class="primary-navigation__list-item">
                                {% link text=_('FAQ') href='general_faq' icon="help_outline" icon_position="before" icon_outlined=True %}
                            </li>
                        {% endif %}
                    </ul>
                </nav>

                <nav class="header__actions" aria-label="Navigatie mobiel voor inloggen en uitloggen">
                    <div class="header__text-actions">
                        <p class="p">
                            {% if request.user.is_authenticated %}{% icon icon="person_outline" %}{% trans "Welkom" %} {{ request.user.get_short_name }}{% endif %}
                        </p>

                        {% if request.user.is_authenticated %}
                            <ul class="header__list">
                                <li class="header__list-item">
                                    {% trans "Logout" as logout %}
                                    {% link text=logout href=request.user.get_logout_url icon="arrow_forward" icon_position="before" primary=True %}
                                </li>
                            </ul>
                        {% elif config.login_show %}
                            <ul class="header__list">
                                <li class="header__list-item">
                                    {% url 'login' as login_url %}
                                    {% trans "Login" as login %}
                                    {% button text=login href=login_url icon="person" icon_position="before" primary=True icon_outlined=True transparent=True %}
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>
            </dialog>
        </div>

        <nav class="header__actions" aria-label="Zoek navigatie desktop">
            <div class="header__text-actions">
                <p class="p">
                    {% if request.user.is_authenticated %}{% trans "Welkom" %} {{ request.user.get_full_name }}{% endif %}
                </p>

                {% if request.user.is_authenticated %}
                    <ul class="header__list">
                        <li class="header__list-item">
                            {% trans "Logout" as logout %}
                            {% link text=logout href=request.user.get_logout_url primary=True %}
                        </li>
                    </ul>
                {% elif config.login_show %}
                    <ul class="header__list">
                        <li class="header__list-item">
                            {% url 'login' as login_url %}
                            {% trans "Login" as login %}
                            {% link text=login href=login_url primary=True %}
                        </li>
                    </ul>
                {% endif %}
            </div>

            {% url 'search:search' as search_url %}
            {% render_form form=search_form method="GET" form_action=search_url inline=True spaceless=True %}
                {% input search_form.query no_label=True %}
                {% form_actions primary_icon="search" primary_text=_("Zoeken") hide_primary_text=True %}
            {% endrender_form %}
        </nav>

        {% primary_navigation categories=categories request=request has_general_faq_questions=has_general_faq_questions show_plans=show_plans %}
    </div>
</header>
