{% load i18n logo_tags header_tags form_tags link_tags solo_tags icon_tags thumbnail %}

{% get_solo "configurations.SiteConfiguration" as config %}

{% accessibility_header request=request %}
<header class="header" aria-label="Navigatie header">
    <div class="header__container">
        {% firstof config.logo.default_alt_text config.name as logo_alt_text %}
        {% logo src=config.logo.file.url alt=logo_alt_text %}

        <div class="header__menu">
            <button class="header__button">
                <div class="header__menu-icon">
                    {% icon icon="menu" %}
                </div>
            </button>

            <dialog class="header__submenu">
                <nav class="header__actions" aria-label="Zoek navigatie mobiel">
                    <div class="header__text-actions">
                        <p class="p">
                            {% if request.user.is_authenticated %}{% trans "Welkom" %} {{ request.user.get_full_name }}{% endif %}
                        </p>

                        {% if request.user.is_authenticated %}
                            <ul class="header__list">
                                <li class="header__list-item">
                                    {% trans "Logout" as logout %}
                                    {% link text=logout href=request.user.get_logout_url primary=True %}
                                </li>
                            </ul>
                        {% elif config.login_show %}
                            <ul class="header__list">
                                <li class="header__list-item">
                                    {% url 'login' as login_url %}
                                    {% trans "Login" as login %}
                                    {% link text=login href=login_url primary=True %}
                                </li>
                            </ul>
                        {% endif %}
                    </div>

                    {% url 'search:search' as search_url %}
                    {% render_form form=search_form method="GET" form_action=search_url inline=True spaceless=True %}
                        {% input search_form.query no_label=True %}
                        {% form_actions primary_icon="search" primary_text=_("Zoeken") hide_primary_text=True %}
                    {% endrender_form %}
                </nav>

                {% primary_navigation categories=categories request=request has_general_faq_questions=has_general_faq_questions show_plans=config.show_plans %}
            </dialog>
        </div>

        <nav class="header__actions" aria-label="Zoek navigatie desktop">
            <div class="header__text-actions">
                <p class="p">
                    {% if request.user.is_authenticated %}{% trans "Welkom" %} {{ request.user.get_full_name }}{% endif %}
                </p>

                {% if request.user.is_authenticated %}
                    <ul class="header__list">
                        <li class="header__list-item">
                            {% trans "Logout" as logout %}
                            {% link text=logout href=request.user.get_logout_url primary=True %}
                        </li>
                    </ul>
                {% elif config.login_show %}
                    <ul class="header__list">
                        <li class="header__list-item">
                            {% url 'login' as login_url %}
                            {% trans "Login" as login %}
                            {% link text=login href=login_url primary=True %}
                        </li>
                    </ul>
                {% endif %}
            </div>

            {% url 'search:search' as search_url %}
            {% render_form form=search_form method="GET" form_action=search_url inline=True spaceless=True %}
                {% input search_form.query no_label=True %}
                {% form_actions primary_icon="search" primary_text=_("Zoeken") hide_primary_text=True %}
            {% endrender_form %}
        </nav>

        {% primary_navigation categories=categories request=request has_general_faq_questions=has_general_faq_questions show_plans=config.show_plans %}
    </div>
</header>
