{% load i18n logo_tags header_tags view_breadcrumbs form_tags link_tags solo_tags %}

{% get_solo "configurations.SiteConfiguration" as config %}

{% accessibility_header request=request%}
<header class="header">
    {% logo src=config.logo.file.url alt="" %}

    <nav class="header__actions">
        <div class="header__text-actions">
            <p class="p">
                {% trans "Welkom" %}
                {% if request.user %}{{ request.user.get_full_name }}{% endif %}
            </p>

            {% if request.user.is_authenticated %}
                <ul class="header__list">
                    <li class="header__list-item">
                        {% url 'logout' as logout_url %}
                        {% trans "Logout" as logout %}
                        {% link text=logout href=logout_url primary=True %}
                    </li>
                </ul>
            {% else %}
                <ul class="header__list">
                    <li class="header__list-item">
                        {% url 'login' as login_url %}
                        {% trans "Login" as login %}
                        {% link text=login href=login_url primary=True %}
                    </li>
                </ul>
            {% endif %}
        </div>

        {% url 'search:search' as search_url %}
        {% render_form form=search_form method="GET" form_action=search_url inline=True spaceless=True %}
            {% input search_form.query no_label=True %}
            {% form_actions primary_icon="search" %}
        {% endrender_form %}
    </nav>

    {% primary_navigation categories=categories request=request %}
    {% render_breadcrumbs "components/Header/Breadcrumbs.html" %}
</header>
