{% load i18n form_tags icon_tags link_tags string_tags solo_tags custom_session_tags menu_tags button_tags %}

{% get_solo "configurations.SiteConfiguration" as config %}

{% if request.user.is_authenticated %}

    <nav class="primary-navigation primary-navigation--desktop primary-navigation__authenticated" aria-label="Navigatie na inloggen">
        <ul class="primary-navigation__list">
            <li class="primary-navigation__list-item">
                <span class="nav-login__icon">{% icon icon="how_to_reg" icon_position="before" outlined=True %}</span>
                {% if user.is_eherkenning_user and user.vestiging %}
                    {% button text=user.branch_name type="button" icon="expand_more" icon_position="after" icon_outlined=True transparent=True extra_classes="primary-navigation--toggle" ariaExpanded="false" ariaControls="authenticated-navigation-submenu" %}
                {% elif user.is_eherkenning_user %}
                    {% button text=user.company_name type="button" icon="expand_more" icon_position="after" icon_outlined=True transparent=True extra_classes="primary-navigation--toggle" ariaExpanded="false" ariaControls="authenticated-navigation-submenu" %}
                {% else %}
                    {% button text=user.display_name type="button" icon="expand_more" icon_position="after" icon_outlined=True transparent=True extra_classes="primary-navigation--toggle" ariaExpanded="false" ariaControls="authenticated-navigation-submenu" %}
                {% endif %}

                {% if request.user.num_indicators %}
                    {# num_indicators is set from a modifier in show_menu_below_id #}
                    <span class="indicator"><span class="indicator__dot"></span></span>
                {% endif %}

                <ul id="authenticated-navigation-submenu" class="primary-navigation__list subpage-list">
                    {{ rendered_cms_menu__home }}
                    {% if user.is_eherkenning_user %}
                        {% session_is_branch_restricted as is_branch_restricted %}
                        {% if not is_branch_restricted %}
                            <li class="primary-navigation__list-item primary-navigation__list-item--always-visible">
                                {% link text=_("Wissel van vestiging") href="kvk:branches" icon="autorenew" icon_position="before" primary=True icon_outlined=True %}
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="primary-navigation__list-item primary-navigation__list-item--always-visible">
                        {% with logout_url=request.user.get_logout_url %}
                            <form method="post" action="{{ logout_url }}">
                                {% csrf_token %}
                                <button type="submit" class="link link--primary link--icon link--icon-position-before">
                                    <span class="link__text">{% trans "Uitloggen" %}</span>
                                    {% icon icon="logout" %}
                                </button>
                            </form>
                        {% endwith %}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% elif config.login_show %}
    <div class="desktop-login">
        <span class="desktop-login__link">
            {% button text=_("Inloggen") href="login" icon="person" icon_position="before" primary=True icon_outlined=True %}
        </span>
    </div>
{% endif %}
