{% load i18n header_tags form_tags icon_tags link_tags string_tags solo_tags menu_tags button_tags %}

{% get_solo "configurations.SiteConfiguration" as config %}

{% if request.user.is_authenticated %}

    <nav class="primary-navigation primary-navigation__authenticated" aria-label="Navigatie na inloggen">
        <ul class="primary-navigation__list">
            <li class="primary-navigation__list-item">
            {% button text=_('Welkom ')|addstr:request.user.get_short_name type="button" icon="expand_more" icon_position="after" icon_outlined=True transparent=True extra_classes="primary-navigation--toggle" %}

                <ul class="primary-navigation__list subpage-list">
                    {% show_menu_below_id "home" 0 100 100 100 "cms/menu/primary.html" %}

                    {% if has_general_faq_questions %}
                        <li class="primary-navigation__list-item">
                            {% link text=_('FAQ') href='general_faq' icon="help_outline" icon_position="before" icon_outlined=True %}
                        </li>
                    {% endif %}

                    <li class="header__list-item">
                        {% trans "Logout" as logout %}
                        {% link text=logout href=request.user.get_logout_url icon="logout" icon_position="before" primary=True %}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% elif config.login_show %}
    <div class="desktop-login">
        <span class="desktop-login__link">
            {% url 'login' as login_url %}
            {% trans "Inloggen" as login %}
            {% button text="Inloggen" href=login_url icon="person" icon_position="before" primary=True icon_outlined=True transparent=True %}
        </span>
    </div>
{% endif %}
