{% load i18n header_tags form_tags icon_tags link_tags string_tags solo_tags menu_tags button_tags %}

{% get_solo "configurations.SiteConfiguration" as config %}

<nav class="primary-navigation primary-navigation__main" aria-label="Hoofd navigatie">
    <ul class="primary-navigation__list">

        {% if cms_apps.products and categories %}
        <li class="primary-navigation__list-item">
            {% button text=_('Onderwerpen') type="button" icon="expand_more" icon_position="after" icon_outlined=True transparent=True extra_classes="primary-navigation--toggle" %}

            {% if categories %}
                <ul class="primary-navigation__list subpage-list">
                    {% for category in categories %}
                        <li class="primary-navigation__list-item">
                            {% url 'products:category_detail' slug=category.slug as category_href %}
                            {% link text=category.name href=category_href %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endif %}
    </ul>
</nav>
