{% load i18n icon_tags link_tags string_tags solo_tags menu_tags %}

<nav class="primary-navigation" aria-label="Hoofd navigatie">
    <ul class="primary-navigation__list">
        {% show_menu 0 100 100 100 "cms/menu/primary.html" %}

{#        <li class="primary-navigation__list-item">#}
{#            {% trans "Home" as link_text %}#}
{#            {% url 'root' as link %}#}
{#            {% link text=link_text href=link icon="apps" icon_position="before" %}#}
{#        </li>#}
{#        <li class="primary-navigation__list-item">#}
{#            {% link text=_("Onderwerpen") href='products:category_list' icon="description" icon_position="before" icon_outlined=True %}#}
{#            {% icon icon="expand_more" %}#}
{##}
{#            {% if categories %}#}
{#                <ul class="primary-navigation__list subpage-list">#}
{#                    {% for category in categories %}#}
{#                        <li class="primary-navigation__list-item">#}
{#                            {% url 'products:category_detail' slug=category.slug as category_href %}#}
{#                            {% link text=category.name href=category_href %}#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </li>#}
{#        {% if request.user.is_authenticated %}#}
{#            <li class="primary-navigation__list-item">#}
{#                {% link text=_("Mijn profiel") href='profile:detail' icon="inventory_2" icon_position="before" icon_outlined=True %}#}
{#            </li>#}
{#            <li class="primary-navigation__list-item">#}
{#                {% link text=_('Mijn berichten') href='inbox:index' icon="inbox" icon_position="before" %}#}
{#                {% with request.user.get_new_messages_total as total_messages %}#}
{#                    {% if total_messages %}#}
{#                        {% with "("|addstr:total_messages|addstr:")" as message_total %}#}
{#                            {% link text=message_total href='inbox:index' secondary=True %}#}
{#                        {% endwith %}#}
{#                    {% endif %}#}
{#                {% endwith %}#}
{#            </li>#}
{##}
{#            {% get_solo 'configurations.SiteConfiguration' as config %}#}
{##}
{#            {% if request.user.bsn and config.show_cases %}#}
{#                <li class="primary-navigation__list-item">#}
{#                    {% link text=_('Mijn aanvragen') href='cases:open_cases' icon="inventory_2" icon_position="before" icon_outlined=True %}#}
{#                </li>#}
{#            {% endif %}#}
{#            {% if show_plans %}#}
{#            <li class="primary-navigation__list-item">#}
{#            {% link text=_('Samenwerken') href='collaborate:plan_list' icon="people" icon_outlined=True icon_position="before" %}#}
{#            {% with request.user.get_plan_contact_new_count as plan_count %}#}
{#                {% if plan_count %}#}
{#                    {% with "("|addstr:plan_count|addstr:")" as plan_count %}#}
{#                        {% link text=plan_count href='collaborate:plan_list' secondary=True %}#}
{#                    {% endwith %}#}
{#                {% endif %}#}
{#            {% endwith %}#}
{#            </li>#}
{#            {% endif %}#}
{#        {% endif %}#}
        {% if has_general_faq_questions %}
            <li class="primary-navigation__list-item">
                {% link text=_('FAQ') href='general_faq' icon="help_outline" icon_position="before" icon_outlined=True %}
            </li>
        {% endif %}
    </ul>
</nav>
