{% load i18n icon_tags link_tags %}

<nav class="primary-navigation">
    <ul class="primary-navigation__list">
        <li class="primary-navigation__list-item">
            {% trans "Home" as link_text %}
            {% url 'root' as link %}
            {% link text=link_text href=link icon="apps" icon_position="before" %}
        </li>
        <li class="primary-navigation__list-item">
            {% link text=_("Thema's") href='pdc:category_list' icon="description" icon_position="before" icon_outlined=True %}
            {% icon icon="expand_more" %}

            {% if categories %}
                <ul class="primary-navigation__list">
                    {% for category in categories %}
                        <li class="primary-navigation__list-item">
                            {% url 'pdc:category_detail' slug=category.slug as category_href %}
                            {% link text=category.name href=category_href %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% if request.user.is_authenticated %}
            <li class="primary-navigation__list-item">
                {% trans "Mijn profiel" as link_text %}
                {% url 'accounts:my_profile' as link %}
                {% link text=link_text href=link icon="inventory_2" icon_position="before" icon_outlined=True %}
            </li>
            <li class="primary-navigation__list-item">
                {% link text=_('Mijn berichten') href='accounts:inbox' icon="inbox" icon_position="before" %}
            </li>
        {% endif %}
    </ul>
</nav>
