.warning-header {
  display: flex;
  box-sizing: border-box;
  padding: var(--spacing-large);

  .warning-header__container {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: var(--container-width);
    }

    .warning-header__text {
      padding: var(--spacing-small);
    }

    *[class*='icon'],
    *[class*='Icon'] {
      max-width: var(--spacing-giant);
    }
  }
}
