{% load i18n link_tags %}

<table class="table">
    <thead class="table__heading">
        <tr>
            <td class="table__item">{% trans "Name" %}</td>
            <td class="table__item">{% trans "Status" %}</td>
            <td class="table__item">{% trans "Type" %}</td>
            <td class="table__item">{% trans "Is for" %}</td>
            <td class="table__item">{% trans "End date" %}</td>
            <td class="table__item">{% trans "File" %}</td>
        </tr>
    </thead>
    <tbody>
        {% for action in actions %}
            <tr>
                <td class="table__item">{{ action.name }}</td>
                <td class="table__item">{{ action.get_status_display }}</td>
                <td class="table__item">{{ action.get_type_display }}</td>
                <td class="table__item">{{ action.is_for.get_full_name }}</td>
                <td class="table__item">{{ action.end_date|default:"-" }}</td>
                <td class="table__item">{% if action.file %}{% link href=action.file.url icon="download" download=True %}{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>