.notification {
  background-color: var(--color-orange);
  padding: var(--spacing-extra-large);
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: var(--spacing-extra-large);
  color: var(--color-orange-dark);
  margin: var(--row-height) 0;
  position: relative;

  &__close {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);
    cursor: pointer;
  }

  .h2 {
    line-height: var(--font-size-heading-2);
    color: var(--color-orange-dark);
  }

  .p {
    color: var(--color-orange-dark);
  }

  .button {
    color: var(--color-white);
    background-color: var(--color-orange-dark);
  }
}
