.accessibility-header {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  background-color: var(--color-accent);
  box-sizing: border-box;
  padding: 0 $hm;

  &__modal {
    &--highlight {
      background-color: var(--color-accent-darker);
    }
  }

  /// List.

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__list-item {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  /// Link.

  .link {
    padding: 0 var(--spacing-large);
    color: var(--color-font-accent);
    line-height: var(--row-height);
    @media (max-width: 767px) {
      &:not(:focus):not(:hover) {
        font-size: 0;
      }
    }
  }
}
