.accessibility-header {
  display: none;
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  background-color: var(--color-accent);
  box-sizing: border-box;
  padding: 0 $hm;

  @media (min-width: 768px) {
    display: block;
  }

  &__modal {
    &--highlight {
      background-color: var(--color-accent-darker);
    }
  }

  /// List.

  &__list {
    display: flex;
    justify-content: space-between;
    height: var(--row-height);
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__list-item {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  /// Link.

  .link {
    padding: 0 var(--spacing-large);
    color: var(--color-font-accent);
    line-height: var(--row-height);
    @media (max-width: 767px) {
      &:not(:focus):not(:hover) {
        font-size: 0;
      }
    }

    &__text {
      line-height: var(--font-line-height-body-medium);
    }
  }

  .skip-link {
    position: absolute;
    top: -50px;
    transition: top 0.2s;

    &:focus {
      position: relative;
      top: 0;
    }
  }
}

// Accessibility header within different components
.accessibility-header__mobilenav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-extra-large);
  height: var(--mobile-xs-width);
  padding: 0 var(--spacing-large);
  margin: var(--spacing-extra-large) 0;

  .accessibility-header {
    display: block;
    background-color: var(--color-gray-lightest);
    padding: 0;

    &__list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: var(--spacing-extra-large);
    }

    .link {
      color: var(--oip-color-red-notification);
      font-size: var(--font-size-body);
      padding: 0;
      @media (max-width: 767px) {
        &:not(:focus):not(:hover) {
          font-size: var(--font-size-body);
        }
      }
    }
  }

  .spacer {
    border: 1px solid transparent;
    display: inline-block;
    width: 100%;
    height: var(--row-height);
  }
}

/* Default (desktop): Show filled icons */
.accessibility-header__list-item .material-icons::before {
  content: attr(data-icon-filled);
}

/* Mobile (max-width: 768px): Show outlined icons */
@media (max-width: 768px) {
  .accessibility-header__list-item .material-icons::before {
    content: attr(data-icon-outlined);
  }
}
