{% load i18n icon_tags link_tags button_tags %}

<aside class="anchor-menu {% if desktop %}anchor-menu--desktop{% else %}anchor-menu--mobile{% endif %}" aria-label="{% trans "Secundaire paginanavigatie" %}">
    <ul class="anchor-menu__list">
        {% if not desktop %}<h4 class="anchor-menu--mobile__title h4">{% trans "On this page:" %}</h4>{% endif %}
        {% for anchor in anchors %}
            <li class="anchor-menu__list-item">
                <a class="link" href="{{ anchor.0 }}">{{ anchor.1 }}</a>
            </li>
        {% endfor %}
        {{ contents }}
    <div class="anchor-menu__start-inquiry">
        {% if product.form %}
            {% button_row mobile=True %}
                {% button href=product.form_link text=_("Aanvraag starten") primary=True icon="arrow_forward" icon_position="before" %}
            {% endbutton_row %}
        {% elif product.link %}
            {% button_row mobile=True %}
                {% button href=product.link text=_("Aanvraag starten") primary=True icon="arrow_forward" icon_position="before" %}
            {% endbutton_row %}
        {% endif %}
    </div>
    </ul>
</aside>
