{% load i18n icon_tags %}

<aside class="anchor-menu {% if desktop %}anchor-menu--desktop{% else %}anchor-menu--mobile{% endif %}">
    <ul class="anchor-menu__list">
        {% for anchor in anchors %}
            <li class="anchor-menu__list-item">
                <a class="link" href="{{ anchor.0 }}">{{ anchor.1 }}</a>
            </li>
        {% endfor %}
        <li class="anchor-menu__list-item anchor-menu__list-item--top">
            <a class="link link--primary" href="#top">
                {% icon icon="arrow_upward" %}
                {% trans "Terug naar boven" %}
            </a>
        </li>
    </ul>
</aside>
