{% extends 'master.html' %}
{% load i18n grid_tags button_tags icon_tags %}

{% block content %}
    {% if contactmoment %}
        {% render_grid %}
            {% render_column span=12 %}
                <h1 class="utrecht-heading-1" id="title">{{ contactmoment.onderwerp }}</h1>
                {% include "components/Dashboard/Dashboard.html" with metrics=metrics only %}
            {% endrender_column %}
        {% endrender_grid %}

        {% render_grid %}
            {% render_column start=4 span=6 %}
                <section class="contactmoment">
                    <div>
                        <h2 class="contactmoment__heading">{% trans "Uw vraag" %}</h2>
                        <p class="contactmoment__text">{{ contactmoment.text }}</p>
                    </div>
                    <div>
                        <h2 class="contactmoment__heading">{% trans "Antwoord" %}</h2>
                        {% if contactmoment.antwoord %}
                            <p class="contactmoment__text">{{ contactmoment.antwoord }}</p>
                        {% else %}
                            <p class="contactmoment__text">{% trans "Nog geen antwoord beschijkbaar" %}</p>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{ origin.url }}" id="origin_link" class="button button--primary contactmoment__actions">
                            {% icon "arrow_backward" %}{{ origin.label }}
                        </a>
                    </div>
                    {% if destination %}
                        <div>
                            <a href="{{ destination.url }}" id="destination_link" class="button button--transparent contactmoment__actions">
                                <span>{{ destination.label }}</span>{% icon "arrow_forward" %}
                            </a>
                        </div>
                    {% endif %}
                </section>
            {% endrender_column %}
        {% endrender_grid %}

    {% else %}
        <h2 class="utrecht-heading-2">{% trans 'There is no available data at the moment.' %}</h2>
    {% endif %}
{% endblock content %}
