{% extends 'master.html' %}
{% load i18n anchor_menu_tags button_tags card_tags form_tags grid_tags icon_tags link_tags list_tags pagination_tags utils %}

{% block content %}
    <h1 class="utrecht-heading-1" id="contactmomenten">{{ page_title }} ({{ contactmomenten|length }})</h1>

    {# title + scroll down button #}
    <section class="contactmomenten__scrolldown">
        <div class="form-container">
            <div class="form-heading">
                <h2 class="h2">{% trans "Stel een vraag" %}</h2>
                <p class="p">
                {% blocktrans trimmed %}
                    Heeft u een vraag? Dan kunt u deze hier stellen.
                    Een van onze medewerkers beantwoord uw vraag z.s.m.
                {% endblocktrans %}
                </p>
            </div>
            <div class="button-row">
                {% button href="#question-form" text=_("Stel een vraag") title=_("Stel een vraag") primary=True icon="arrow_downward" icon_position="after" %}
            </div>
        </div>
    </section>

    {# grid with questions #}
    <div class="contactmomenten">
        {% if contactmomenten %}
            <h2 class="contactmomenten__title">{% trans "Eerder gestelde vragen" %}</h2>
        {% else %}
            <h2>{% trans "U heeft op dit moment nog geen vragen." %}</h2>
        {% endif %}

        {% render_grid %}
            {% for contactmoment in page_obj.object_list %}
                {% render_column start=forloop.counter_0|multiply:4 span=4 %}
                <div class="card card--compact card--stretch">
                    {% if contactmoment.new_answer_available %}
                        {% translate "Nieuw antwoord beschikbaar" as new_answer_text %}
                        {% include "components/StatusIndicator/StatusIndicator.html" with status_indicator="info" status_indicator_text=new_answer_text only %}
                    {% endif %}
                    <div class="card__body">
                        <a href="{{ contactmoment.url }}" class="contactmomenten__link">
                            <h2 class="card__heading-2">{{ contactmoment.onderwerp }}</h2>
                            {% render_list %}
                                <li class="list-item list-item--compact">
                                    {% with register_date=contactmoment.registered_date|default:"" %}
                                    <p class="card__caption card__text--small"><span>{% trans "Vraag ingediend op:" %}</span><span class="card__text--dark">{{ register_date|date }}</span></p>
                                    {% endwith %}
                                </li>
                                {% list_item contactmoment.text compact=True strong=False %}
                                {% list_item contactmoment.status caption=_("Status") compact=True strong=False %}
                                {% list_item contactmoment.identificatie caption=_("Vraag nummer") compact=True strong=False %}
                            {% endrender_list %}

                            <span class="link link--icon link--secondary" aria-label="{% trans "Bekijk vraag" %}" title="{% trans "Bekijk vraag" %}">
                                <span class="link__text">{% trans "Bekijk vraag" %}</span>
                                {% icon icon="east" icon_position="after" primary=True outlined=True %}
                            </span>
                        </a>
                    </div>
                </div>
                {% endrender_column %}
            {% endfor %}
        {% endrender_grid %}
    </div>

    {% if contactmomenten %}
        {% pagination page_obj=page_obj paginator=paginator request=request %}
    {% endif %}

    <section class="contactmomenten contactmomenten__contact-form">
        <div class="form-container">
            <div class="form-heading">
                <h2 class="h2">{% trans "Stel een vraag" %}</h2>
                <p class="p">
                {% blocktrans trimmed %}
                    Heeft u een vraag? Dan kunt u deze hier stellen.
                    Een van onze medewerkers beantwoord uw vraag z.s.m.
                {% endblocktrans %}
                </p>
            </div>
            <div>
                <form action="{% url 'cases:contactmoment_list' %}" method="POST" id="question-form" class="form contact-form">
                    {% csrf_token %}

                    {% input form.subject no_help=True icon="expand_more" %}
                    {% if form.phonenumber %}
                        {% input form.phonenumber no_help=True %}
                    {% endif %}
                    {% input form.question no_help=True %}

                    <div class="form__submit">
                        {% button_row %}
                            {% button text=_("Vraag versturen") icon="east" icon_position="after" icon_outlined=True id="submit_question" type="submit" disabled=True primary=True name="question_form_submit" %}
                        {% endbutton_row %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
