{% load i18n button_tags link_tags %}

<h2 class="h2" id="submissions">{{ page_title }} ({{ submissions|length }})</h2>

<table class="table">
    <thead class="table__heading">
        <tr>
            <td class="table__item">{% trans "Formulier" %}</td>
            <td class="table__item">{% trans "Laatste wijziging" %}</td>
            <td class="table__item">{% trans "Einde geldigheid" %}</td>
            <td class="table__item">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
            <tr>
                <th class="table__header">{% link href=submission.vervolg_link text=submission.naam blank=True %}</th>
                <td class="table__item table__item--no-lb">{{submission.datum_laatste_wijziging|date:"d-m-Y"}}</td>
                <td class="table__item table__item--no-lb">{{submission.eind_datum_geldigheid|date:"d-m-Y"}}</td>
                <td class="table__item">{% button text=submission.naam hide_text=True href=submission.vervolg_link icon="arrow_forward" icon_outlined=True transparent=True %}</td>
            </tr>
        {% empty %}
            <tr>
                <td class="table__item" colspan="4" >{% trans "Er zijn geen open aanvragen." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
