{% extends 'master.html' %}
{% load i18n icon_tags %}

<div id="cases-list-anchors-oob-mobile"></div>

{% block sidebar_content %}
    <div id="cases-list-anchors-oob-desktop"></div>
{% endblock sidebar_content %}


{% block content %}
    <h1 class="h1" id="title">{% trans "Mijn aanvragen" %}</h1>
    
    <div class="cases" id="cases-content"></div>
    
    <div class="loader-container" id="spinner-container">
        <div class="spinner" id="spinner-id" hx-get="{{ hxget }}" hx-trigger="load" hx-target="#cases-content">
            {% icon icon="cached" extra_classes="spinner-icon rotate" %}
        </div>
    </div>
{% endblock content %}
