{% load link_tags button_tags i18n grid_tags icon_tags list_tags pagination_tags utils %}

<h1 class="utrecht-heading-1" id="cases">{{ page_title }} ({{ paginator.count }})</h1>
<p class="utrecht-paragraph utrecht-paragraph--oip utrecht-paragraph--oip-title-text">{{ title_text }}</p>

{% if filter_form_enabled %}
<div class="filter-bar__backdrop" id="filterBarBackdrop">
    <div class="filter-bar" id="filterBar">
        <div class="filter-bar__mobile-controls">
            {% button icon="close" text=_("Sluiten") hide_text=True icon_outlined=True transparent=True extra_classes="show-controls" %}
            <div class="form__reset--mobile form__actions--fullwidth form__actions--reset">
                <button class="button button--primary button--transparent" type="button" name="" value="" title="Wis alle filters" aria-label="Wis alle filters" id="resetAllFilters">
                    Wis alle filters
                </button>
            </div>
        </div>
        <div class="filter-bar__mobile-button">
            <p class="utrecht-paragraph filter-bar__heading">Filters</p>
            {% button icon="filter_alt" text=_("Filters") icon_outlined=True transparent=True extra_classes="show-modal" %}
            <p class="utrecht-paragraph filter-bar__status-text">Status</p>
        </div>
        <form class="form filter-bar__form" method="GET" id="filter-form" novalidate>
            <span class="filter-bar__label">{% trans 'Filter op' %}:</span>
            {% include "components/FilterBar/MultiSelectListbox.html" with statusfrequencies=status_freqs %}
        </form>
    </div>
</div>
{% endif %}

<div class="card__grid">
{% render_grid %}
    {% if not cases %}
        <b>{% trans "U heeft op dit moment nog geen lopende aanvragen." %}</b>
    {% endif %}

    {% for case in cases %}
        {% render_column start=forloop.counter_0|multiply:4 span=4 %}

            {# open submissions ("openstaande aanvragen") #}
            {% if case.case_type == "OpenSubmission" %}

                <a href="{{ case.vervolg_link }}" class="card card card__description-card card--stretch">
                    <div class="card__body">

                        <h2 class="card__heading-2">{{ case.naam }}</h2>
                        {# Meaningful sequence for accessibility: any text belonging to a heading must be below the heading #}
                        {% include "components/StatusIndicator/StatusIndicator.html" with status_indicator=case.statustype_config.status_indicator status_indicator_text=case.statustype_config.status_indicator_text %}

                        {% render_list %}
                            <li class="list-item list-item--compact">
                                {% with date_modified=case.datum_laatste_wijziging|date %}
                                    <p class="card__caption card__text--small"><span>{% trans "Laatst gewijzigd op:" %}</span><span class="card__text--dark">{{ date_modified }}</span></p>
                                {% endwith %}
                            </li>
                            {% list_item text=_("Openstaande aanvraag") caption=_("Status") compact=True strong=False %}
                        {% endrender_list %}
                        <span class="link link--icon link--secondary">
                        <span class="link__text">{% trans "Aanvraag afronden" %}</span>
                        {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                    </span>
                    </div>
                </a>
            {# other aanvragen #}
            {% else %}
                <a href="{% url 'cases:case_detail' api_group_id=case.api_group.id  object_id=case.uuid %}" class="card card card__description-card card--stretch">
                    <div class="card__body">

                        <h2 class="card__heading-2">{{ case.description }}</h2>
                        {# Meaningful sequence for accessibility: any text belonging to a heading must be below the heading #}
                        {% include "components/StatusIndicator/StatusIndicator.html" with status_indicator=case.statustype_config.status_indicator status_indicator_text=case.statustype_config.status_indicator_text %}

                        {% render_list %}
                            <li class="list-item list-item--compact">
                                <p class="card__caption card__text--small"><span>{% trans "Aanvraag ingediend op:" %}</span><span class="card__text--dark">{{ case.start_date }}</span></p>
                            </li>
                            {% if case.current_status %}
                                {% list_item case.current_status caption=_("Status") compact=True strong=False %}
                            {% else %}
                                {% list_item "No status" caption=_("Status") compact=True strong=False %}
                            {% endif %}
                            {% list_item case.identification caption=_("Zaaknummer") compact=True strong=False %}
                        {% endrender_list %}

                        <span class="link link--icon link--secondary">
                        <span class="link__text">{{ case.statustype_config.case_link_text|default:"Bekijk aanvraag" }}</span>
                        {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                    </span>
                    </div>
                </a>
            {% endif %}

        {% endrender_column %}
    {% endfor %}
{% endrender_grid %}
</div>

{% if cases %}
    {% pagination page_obj=page_obj paginator=paginator request=request hxget=hxget hxtarget='#cases-content' %}
{% endif %}
