{% load i18n anchor_menu_tags grid_tags icon_tags list_tags pagination_tags utils %}

<div id="cases-list-anchors-oob-desktop" hx-swap-oob="true">
    {% anchor_menu anchors desktop=True %}
</div>

<h2 class="h2" id="cases">{{ page_title }} ({{ paginator.count }})</h2>
{% render_grid %}
    {% for case in cases %}
        {% render_column start=forloop.counter_0|multiply:4 span=4 %}
        <div class="card card--compact card--stretch">
            <div class="card__body">
                <h4 class="h4">{{ case.description }}</h4>
                {% render_list %}
                    <span class="case-list">
                    {% list_item case.current_status caption=_("Status") compact=True strong=False %}
                    {% list_item case.start_date caption=_("Ontvangstdatum") compact=True strong=False %}
                    {% list_item case.identificatie caption=_("Zaaknummer") compact=True strong=False %}
                    </span>
                {% endrender_list %}

                <a href="{% url 'cases:case_detail' object_id=case.uuid %}" class="link cases__link">
                    <span class="link__text link--secondary">{% trans "Bekijk aanvraag" %}</span>
                        <span class="link link--icon link--secondary" aria-label="{% trans "Bekijk aanvraag" %}" title="{% trans "Bekijk aanvraag" %}">
                        {% icon icon="arrow_forward" icon_position="after" primary=True outlined=True %}
                    </span>
                </a>
            </div>
        </div>
        {% endrender_column %}
    {% endfor %}
{% endrender_grid %}

{% pagination page_obj=page_obj paginator=paginator request=request hxget=hxget hxtarget='#cases-content' %}

