{% extends 'master.html' %}
{% load i18n button_tags anchor_menu_tags card_tags grid_tags icon_tags link_tags list_tags pagination_tags utils %}

{% block sidebar_content %}
    {% anchor_menu anchors=anchors desktop=True %}
{% endblock sidebar_content %}

{% block content %}
    <h1 class="h1" id="title">{% trans "Mijn aanvragen" %}</h1>
    
    <div class="cases" id="submissions-content"></div>
    
    <div class="loader-container" id="spinner-container">
        <div class="spinner" id="spinner-id" hx-get="{{ hxget }}" hx-trigger="load" hx-target="#submissions-content">
            <i class="fas fa-spinner fa-spin fa-lg"></i>
        </div>
    </div>
{% endblock content %}
