{% load i18n ssd_tags anchor_menu_tags card_tags dashboard_tags file_tags grid_tags table_tags solo_tags button_tags icon_tags notification_tags %}

{# Anchor menu-mobile #}
<div id="cases-status-anchors-oob-mobile" hx-swap-oob="true">
    {% anchor_menu anchors=anchors desktop=False %}
</div>

{# Messages #}
<div class="container container--no-margin" id="cases-status-messages-oob" hx-swap-oob="true">
    {% notifications messages %}
</div>

{% get_solo 'openzaak.OpenZaakConfig' as openzaak_config %}

{% if case %}
    {% render_grid %}
        {% render_column span=12 %}
            {# Title/dashboard. #}
            <h1 class="h1" id="title">{{ case.description }}</h1>
            {% case_dashboard case %}
        {% endrender_column %}
        {% render_column start=4 span=6 %}

            {#  Status history. #}
            {% if case.statuses %}
                <h2 class="h2" id="statuses">{% trans 'Status' %}</h2>

                <aside class="status-list" aria-label="{% trans "Status lijst" %}">
                    <ul class="status-list__list">
                        {% for status in case.statuses %}
                        {% comment %} {{status.status_indicator}} {{status.status_indicator_text}} {% endcomment %}
                        <li class="status-list__list-item status-list__list-item--info">
                            <div class="status-list__notification status-list__notification--info">
{#                                {{ case.statustype_config }}#}
                                <h3><a href="#" class="link toggle link--bold link--icon link--secondary">{{ status.label }}</a>{% icon icon="expand_more" icon_position="after" outlined=True %}</h3>
                                <div class="status-list__notification-content">
                                    <p class="p p--compact">Uw aanvraag kan pas verder in behandeling worden genomen nadat u de benodigde documenten hebt geüpload. Voeg de gegevens toe voor <strong>30 september 2020</strong>.</p>
                                    <p class="p p--compact">{{ status.date|date }}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {# {% if ... end-status %}#}
                        <li class="status-list__list-item">
                            <div class="status-list__notification">
                                {% icon icon="circle_outlined" icon_position="before" outlined=True %}
                                <h3><a href="#" class="link toggle link--bold link--icon link--secondary">Aanvraag afgerond</a>{% icon icon="expand_more" icon_position="after" outlined=True %}</h3>
                                <div class="status-list__notification-content">
                                    <p class="p p--compact">Aanvraag afgerond.</p>
                                </div>
                            </div>
                        </li>
                        {# {% endif %}#}
                    </ul>


                </aside>

            {% endif %}

            {#  Documents. #}
            {% if case.documents %}
                <h2 class="h2" id="documents">{% trans 'Documenten' %}</h2>
                {% case_document_list case.documents %}
            {% endif %}

            {% if case.internal_upload_enabled %}
                <h2 class="h2" id="documents">{% trans "Document uploaden" %}</h2>
                <h2 class="h2" id=>{% trans "Document uploaden" %}</h2>

                {% if case.case_type_document_upload_description %}
                <div class="card card--compact card--info">
                    <div class="card__body document-upload-description">
                        {% icon icon="info" icon_position="after" extra_classes="icon--info" outlined=True %}

                        <div class="document-upload-description__text">{{ case.case_type_document_upload_description|markdown|safe }}</div>
                    </div>
                </div>
                {% endif %}

                {% if case.case_type_config_description %}
                    <p class="p">{{ case.case_type_config_description }}</p>
                {% else %}
                    <p class="p">
                        {% blocktranslate with max_filesize=openzaak_config.max_upload_size allowed_extensions=case.allowed_file_extensions|join:', ' %}
                            Grootte max. {{ max_filesize }} MB, toegestane document formaten: {{ allowed_extensions }}.
                        {% endblocktranslate %}
                    </p>
                {% endif %}

                {#  Upload document form. #}
                <section id="form_upload" class="form__open-upload">
                    {% include 'pages/cases/document_form.html' %}
                </section>

            {% elif case.external_upload_enabled %}
                <h2 class="h2">{% trans "Document toevoegen" %}</h2>
                {% if case.case_type_config_description %}
                    <p class="p">{{ case.case_type_config_description }}</p>
                {% else %}
                    <p class="p">{% trans "By clicking the button below you can upload a document. This is an external link and you will be redirected to a different system." %}</p>
                {% endif %}
                {% button_row %}
                    {% button href=case.external_upload_url text=_("Document uploaden") title=_("Opens new window") primary=True icon="open_in_new" icon_position="after" %}
                {% endbutton_row %}
            {% endif %}

            {#  Contact moment form #}
            {% if case.contact_form_enabled %}
                <section id="cases-contact-form" class="form_contact">
                    <div id="cases-contact-form-content">
                        {% include 'pages/cases/contact_form.html' %}
                    </div>
                </section>
            {% endif %}

        {% endrender_column %}
    {% endrender_grid %}
{% else %}
    <h2 class="h2">{% trans 'There is no available data at the moment.' %}</h2>
{% endif %}
