{% extends 'master.html' %}
{% load i18n icon_tags %}

<div id="cases-status-anchors-oob-mobile"></div>

{% block notifications %}
    <div id="cases-status-messages-oob"></div>
{% endblock notifications %}

{% block sidebar_content %}
    <div id="cases-status-anchors-oob"></div>
{% endblock sidebar_content %}

{% block content %}
    <div class="cases__detail" id="cases-detail-content"><div>
    
    <div class="loader-container" id="spinner-container">
        <div class="spinner" id="spinner-id" hx-get="{{ hxget }}" hx-trigger="load" hx-target="#cases-detail-content">
            {% icon icon="cached" extra_classes="spinner-icon rotate" %}
        </div>
    </div>
{% endblock content %}
