.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;

  &--styled {
    list-style: disc;
    margin: 0 0 0 var(--spacing-extra-large);
    padding: 0;
    width: 100%;
  }
}

.search + .list {
  margin-top: var(--spacing-large);
}
