.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;

  .case-list,
  .contactmomenten-list .profile-list {
    text-decoration: none;
  }
}

.search + .list {
  margin-top: var(--spacing-large);
}
