.list-item {
  border-top: 1px solid var(--color-gray-lightest);
  border-bottom: 1px solid var(--color-gray-lightest);
  box-sizing: border-box;
  flex-basis: 100%;
  padding: var(--spacing-large);

  .p--muted {
    margin-top: 0 !important;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  &:focus-within,
  &--active {
    background-color: var(--color-gray-lightest);
  }

  & + & {
    border-top: none;
  }
}
