.list-item {
  border-top: 1px solid var(--color-gray-lightest);
  border-bottom: 1px solid var(--color-gray-lightest);
  box-sizing: border-box;
  flex-basis: 100%;
  padding: var(--spacing-large);

  &:focus-within,
  &--active {
    background-color: var(--color-gray-lightest);
  }

  &--compact {
    border-top: none;
    border-bottom: none;
    padding: 0.5em 0;
  }

  &--compact:first-child {
    padding-top: 0;
  }

  & &__caption {
    color: var(--color-gray-dark-900);
    font-size: var(--font-size-body-small);
    margin-top: 0;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .h4 {
    margin: 0;
  }

  .p + .p {
    margin-top: 0;
  }

  & + & {
    border-top: none;
  }
}
