{% extends 'master.html' %}
{% load i18n grid_tags %}

{% block content %}
    {% render_grid %}
        {% render_column span=9 %}
            <h1 class="h1" id="title">
                {% trans "Mijn uitkeringen" %}
            </h1>

            {#    *** STATIC tab panel template Start for all content on 1 page - contains two tabs/panels ***   #}
            <div class="tab--container">
                <div class="tabs">
                    <ul class="list tabs__headers">
                        <li class="list-item tab__header--item"><a href="#uitkeringsspecificaties" id="monthly" class="link tab__header">Maandspecificaties</a></li>
                    </ul>

                    <div class="tabs__body">
                        <div id="uitkeringsspecificaties" class="tab__content active">
                            <p>Selecteer de maand die u wilt downloaden. Let op: de huidige maand is pas vanaf de 25ste zichtbaar. Deze uitkeringsspecificatie is een momentopname van de aan u uitbetaalde uitkering. Aan deze specificatie kunt u geen rechten ontlenen.</p>
                            <ul>
                            {% for report in monthly_benefits %}
                                <li>
                                    <a href="{% url 'ssd:download_monthly_benefits' file_name=report %}">{{ report }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {#    *** STATIC tab panel template End ***   #}

        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
