{% extends 'master.html' %}
{% load i18n grid_tags %}

{% block content %}
    {% render_grid %}
        {% render_column span=9 %}
            <h1 class="h1" id="title">
                {% trans "Mijn uitkeringen" %}
            </h1>

            {#    *** STATIC tab panel template Start for all content on 1 page - contains two tabs/panels ***   #}
            <div class="tab--container">
                <div class="tabs">
                    <ul class="list tabs__headers">
                        <li class="list-item tab__header--item"><a href="#jaaropgaven" id="yearly" class="link tab__header">Jaaropgaven</a></li>
                    </ul>

                    <div class="tabs__body">
                        <div id="jaaropgaven" class="tab__content active">
                            <p>Dolor sit amet consectetur adipisicing elit. Recusandae sint nostrum laborum voluptatem est quod fugiat dolor odio aspernatur error, aperiam quibusdam distinctio, blanditiis eum sed natus, sequi ipsam modi panel.</p>
                            <ul>
                            {% for report in yearly_benefits %}
                                <li>
                                    <a href="{% url 'ssd:download_yearly_benefits' file_name=report %}" target="_blank" rel="noopener noreferrer">{{ report }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {#    *** STATIC tab panel template End ***   #}

        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
