{% extends 'master.html' %}
{% load i18n grid_tags dropdown_tags form_tags button_tags ssd_tags render_tags static %}

{% block mount_modules %} data-mount-modules='["sidenav"]'{% endblock %}

{% block react_modules %}
{# Including this script will allow the page to use the react component #}
<script
  type="module"
  src="{% static 'bundles/open_inwoner-react.js' %}"
></script>
{% endblock %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    {% render_grid %}
        {% render_column span=9 %}
            <h1 class="utrecht-heading-1" id="title">
                {{ page_title }}
            </h1>
            <p>
                {% blocktrans with mijn_uitkeringen_text=client.config.mijn_uitkeringen_text.html|safe %}
                    {{ mijn_uitkeringen_text }}
                {% endblocktrans %}
            <p>

            {% block report %}{% endblock report %}

        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
