{% extends 'master.html' %}
{% load i18n grid_tags form_tags button_tags icon_tags ssd_tags %}

{% block content %}
    {% render_grid %}
        {% render_column span=9 %}
            <h1 class="h1" id="title">
                {% trans "Mijn uitkeringen" %}
            </h1>
            <p>{% trans "Bekijk en download hier uw maandelijkse/jaarlijkse uitkeringsspecificaties om direct inzicht te krijgen in uw financiële situatie." %}</p>

            <div class="tab--container">
                <div class="tabs">
                    <ul class="list tabs__headers">
                        <li class="list-item tab__header--item"><a href="{% url 'profile:monthly_benefits_index' %}" id="yearly" class="link tab__header">{% trans "Maandspecificaties" %}</a></li>
                        <li class="list-item tab__header--item"><span id="yearly" class="link tab__header active">{% trans "Jaaropgaven" %}</span></li>
                    </ul>

										{% jaaropgave_enabled as enabled %}
										{% if enabled %}
                    <div class="tabs__body">
                        <div id="jaaropgaven" class="tab__content active">
                            <p>{% trans "Selecteer het jaar dat u wilt downloaden. Aan deze jaaropgaven kunt u geen rechten ontlenen." %}</p>

                            {% render_form form=form method="POST" id="yearlyreports-form" show_required=False submit_text=_('Download') %}
                                {% csrf_token %}
                                {% input form.report_date icon="expand_more" icon_position="after" icon_outlined=True %}
                                {% form_actions primary_text=_("Download") primary_icon="file_download" icon_position="before" extra_classes="ssd" %}
                            {% endrender_form %}

                            <div>
                            {% if report_date %}
                              {% blocktrans with time_period=report_date|date:"Y" %}
                                Geen uitkeringsspecificatie gevonden voor {{ time_period }}.
                              {% endblocktrans %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
										{% else %}
											<div>{% trans "Download of yearly reports not supported." %}</div>
										{% endif %}
                </div>
            </div>

        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
