.social {
    align-self: baseline;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    grid-column-gap: var(--spacing-large);
    grid-row-gap: var(--spacing-small);
    width: 0;

    .h4 {
        grid-column-end: span 4;
    }

    &__link {
        color: var(--color-gray-dark);
        font-family: var(--font-family-body);
        font-size: var(--font-size-body);
        line-height: var(--font-line-height-body);
    }

    &--primary &__link {
        color: var(--color-primary);
        font-size: 20px;
    }
}

.link-list + .social {
    margin-top: var(--spacing-large);
}
