{% extends 'master.html' %}
{% load i18n button_tags card_tags form_tags file_tags grid_tags string_tags %}

{% block content %}
    {% render_grid %}
        {% render_column span=9 %}
            <h1 class="h1">{{ form.instance.get_title }}</h1>

            {% if form.instance.get_description %}
                <p class="p">{{ form.instance.get_description }}</p>
                <br>
            {% endif %}

            <h4 class="h4">{{ form.instance.question }}</h4>

            {% if form.instance.help_text %}
                <p class="p p--compact">{{ form.instance.help_text }}</p>
            {% endif %}

            {% if form.instance.get_children %}
                {% firstof form.instance.parent.get_absolute_url as secondary_href %}
            {% else %}
                {% url 'questionnaire:reset' as secondary_href %}
            {% endif %}

            {% render_form auto_render=form.instance.get_children extra_classes='form--compact' form=form method='POST' submit_text=_('Volgende') secondary_href=secondary_href secondary_icon='arrow_backward' secondary_icon_position='before' secondary_text=_('Vorige') %}
                {% csrf_token %}

                {% if form.instance.content %}
                    {{ form.instance.content|markdown2html|safe }}
                {% endif %}

                {% if form.instance.questionnairestepfile_set.exists %}
                    <hr class="divider">
                    {% file_list files=form.instance.questionnairestepfile_set.all title=_("Bestanden") %}
                {% endif %}

                {% if form.instance.related_products.exists %}
                    <hr class="divider">
                    {% card_container products=form.instance.related_products.all small=True %}
                {% endif %}

                {% if not form.instance.get_children %}
                    {% form_actions primary=False secondary_href=secondary_href secondary_icon='arrow_backward' secondary_icon_position='before' secondary_text=_('Terug naar mijn profiel') %}
                {% endif %}
            {% endrender_form %}

        {% endrender_column %}
    {% endrender_grid %}
{% endblock %}
