{% extends 'master.html' %}
{% load i18n grid_tags button_tags icon_tags %}

{% block content %}
    {# Serialize the data as JSON so the Javascript snippet to compute days remaining can pick it up #}
    <script id="bericht-data-json" type="application/json">
        {
            "einddatumHandelingstermijn": "{{ bericht.einddatum_handelingstermijn.isoformat }}"
        }
    </script>

    {% if bericht %}
        {% render_grid %}
            {% render_column span=12 %}
                <h1 class="utrecht-heading-1" id="title">{{ bericht.onderwerp }}</h1>
                <aside class="bericht__dashboard dashboard" aria-label="{% trans "Dashboard" %}">
                    <ul class="dashboard__list">
                        <li class="dashboard__list-item">
                            <p class="utrecht-paragraph utrecht-paragraph--oip utrecht-paragraph--oip-compact">
                                <span class="dashboard__item-label">Ontvangstdatum:</span> {{ bericht.publicatiedatum }}</p>
                        </li>
                        <li class="dashboard__list-item">
                            <p class="utrecht-paragraph utrecht-paragraph--oip utrecht-paragraph--oip-compact">
                                <span class="dashboard__item-label">Bericht type: </span> {{ bericht.bericht_type }}</p>
                        </li>
                        <li class="dashboard__list-item">
                            <p class="utrecht-paragraph utrecht-paragraph--oip utrecht-paragraph--oip-compact handelingstermijn">
                                {# Icon only if deadline exists  #}
                                {% if bericht.einddatum_handelingstermijn %}
                                    {% icon icon="warning_amber" icon_position="after" extra_classes="icon--danger" outlined=True %}
                                {% endif %}
                                <span class="dashboard__item-label">
                                    <span> Einddatum: </span>
                                </span>
                                <span>{{ bericht.einddatum_handelingstermijn }}</span>
                                <span class="dashboard__item-label"><span id="remainingDays" class="utrecht-paragraph table__item--notification-danger"></span> <!-- Placeholder for remaining days --></span>
                            </p>
                        </li>
                    </ul>
                </aside>
            {% endrender_column %}
        {% endrender_grid %}

        {% render_grid %}
            {% render_column start=4 span=6 %}

                {# Handeling #}
                <section class="bericht__userfeed plugin userfeed">
                    <div class="card-container card-container--columns-1 plugin-card">
                        <a href="#handelingsperspectief" class="card card--status card--status--info ">
                            <div class="userfeed__marker userfeed__marker--info"></div>
                            <div class="card__body card__body--tabled">
                                <h2 class="utrecht-heading-3 userfeed__title">Actie</h2>
                                <p class="userfeed-card__description">
                                    {% if bericht.handelingsperspectief %}
                                        <span class="status">{{ bericht.handelingsperspectief }}</span>
                                    {% else %}
                                        <span class="status">{% trans "Geen verdere acties nodig. U hoeft niets te doen." %}</span>
                                    {% endif %}
                                </p>
                                <span class="button button--icon-before button--transparent">
                                   {% icon "east" %}
                                </span>
                            </div>
                        </a>
                    </div>
                </section>
                {# End of handelingsperspectief alert #}

                <section class="bericht">
                    <div>
                        <h3 class="utrecht-heading-2" id="title">{{ bericht.onderwerp }}</h3>
                        <p class="bericht__text">{{ bericht.bericht_tekst|linebreaks }}</p>
                    </div>

                    <div>
                        <a href="{% url 'berichten:list' %}" class="button button--primary bericht__actions" id="handelingsperspectief">
                            {% icon "arrow_backward" %}Terug naar mijn berichten
                        </a>
                    </div>
                    {% if destination %}
                        <div>
                            <a href="{{ destination.url }}" id="destination_link" class="button button--transparent bericht__actions">
                                <span>{{ destination.label }}</span>{% icon "arrow_forward" %}
                            </a>
                        </div>
                    {% endif %}
                    <br/>
                    <div>
                        <a href="{% url 'berichten:mark-bericht-unread' object_uuid=bericht.object_uuid %}" class="button">
                            {% icon "arrow_backward" %}Markeer dit bericht als ongeopend
                        </a>
                    </div>
                </section>

                {% if bericht.bijlages %}
                    <section class="bericht__bijlagen case-detail__documents">
                        <div class="heading-2__indicator">
                            <h2 class="utrecht-heading-2 " id="documents">Bijlagen</h2>
                        </div>
                        <div class="file-list">
                            <ul class="file-list__list">
                                {% for attachment in bericht.bijlages %}
                                    <li class="file-list__list-item">
                                        <aside class="file">
                                            <div class="file__container ">
                                                <div class="file__file">
                                                    <div class="file__symbol">
                                                        {% icon "insert_drive_file" outlined=True %}
                                                    </div>
                                                    <div class="file__data">
                                                        <span class="file__name">{{ attachment }} (PDF)</span>
                                                        <span class="file__date">{{ bericht.publicatiedatum }}</span>
                                                    </div>
                                                    <a href="https://www.maykinmedia.nl/media/filer_public/94/50/9450f9e9-70d1-4d00-99e4-08bc49fb3dc7/2194530_nl_2019.pdf" download="" class="link link--icon link--icon-position-before file__download link--primary file__download" aria-label="Download namefile" title="Download dit bestand" target="_blank">
                                                        {% icon "download" outlined=True %}
                                                    </a>
                                                </div>
                                            </div>
                                        </aside>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% else %}
                    <h2 class="utrecht-heading-2">{% trans 'Er zijn geen bijlagen bij dit bericht.' %}</h2>
                {% endif %}

            {% endrender_column %}
        {% endrender_grid %}

    {% else %}
        <h2 class="utrecht-heading-2">{% trans 'Dit bericht is momenteel niet beschikbaar.' %}</h2>
    {% endif %}
{% endblock content %}
