{% extends 'master.html' %}
{% load i18n button_tags card_tags map_tags utils icon_tags file_tags action_tags dropdown_tags anchor_menu_tags %}

{% block content %}

    <div class="berichtenlist">
        <h1 class="utrecht-heading-1" id="title">
            Mijn berichten
        </h1>
        <p class="utrecht-paragraph">Welkom in uw berichtencentrum. Hier vindt u een overzicht van uw notificaties.</p>

        <div class="berichtenlist__table">
            <table class="table">
                <thead class="table__heading">
                <tr>
                    <td class="table__item berichtenlist__table-item--wide">Onderwerp</td>
                    <td class="table__item">Einddatum</td>
                    <td class="table__item">Status</td>
                    <td class="table__item">Bericht type</td>
                </tr>
                </thead>
                <tbody>
                {% if not berichten %}
                    <b>{% trans "U heeft op dit moment nog geen berichten." %}</b>
                {% endif %}

                {% for bericht in berichten %}
                    <tr>
                        <td class="table__header berichtenlist__table-item--wide">
                            <a href="{{ bericht.object_uuid }}" class="link" aria-label="{{ bericht.berichtTekst }} " title="{{ bericht.berichtTekst }} ">
                                <span class="link__text {% if not bericht.geopend %}berichtenlist--unread{% endif %}">{{ bericht.onderwerp }}</span>
                            </a>
                        </td>
                        <td class="table__item table__item--no-lb">{{ bericht.publicatiedatum }}</td>
                        <td class="table__item">
                            <div class="table__item--notification-danger">
                                {% if bericht.geopend %}
                                    <span>V</span> Geopend
                                {% else %}
                                    <span>X</span> Niet geopend
                                {% endif %}
                            </div>
                        </td>
                        <td class="table__item">{{ bericht.bericht_type }}
                            <a href="{{ bericht.object_uuid }}">
                                <span class="button button--icon-before button--transparent button--secondary">
                                    <span aria-hidden="true" class="material-icons-outlined ">arrow_forward</span>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            {#        end service list#}
        </div>

    </div>
{% endblock %}
