.button {
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #248641;
  border: 1px solid #248641;
  padding: 8px 16px;
  color: #FFFFFF;
  font-family: "TheSans C5";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 300ms, background-color 300ms;

  &:hover {
    background-color: darken(#248641, 5);
    transform: translateY(-1px);
    border-color: darken(#248641, 5);
  }

  &--open {
    background-color: transparent;
    color: #248641;
    border-color: transparent;

    &:hover {
      background-color: transparent;
      color: darken(#248641, 5);
      border-color: darken(#248641, 5);
    }
  }
}
