.button {
  align-items: center;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-white);
  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  letter-spacing: 0;
  line-height: var(--font-line-height-body);
  padding: var(--spacing-medium) var(--spacing-large);
  text-align: center;
  text-decoration: none;
  transition: transform 300ms, background-color 300ms;

  &:focus,
  &:hover {
    filter: brightness(80%);
    transform: translateY(-1px);
  }

  &--icon#{&}--transparent {
    padding-left: 0;

    *[class*=icon],
    *[class*=Icon] {
      margin-right: var(--spacing-medium)
    }
  }

  *[class*=icon]:last-child,
  *[class*=Icon]:last-child {
    margin-left: var(--spacing-medium)
  }

  &--big {
    height: var(--row-height-big);

    @media (max-width: 767px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &--open {
    background-color: transparent;
    color: var(--color-primary);
    border-color: transparent;

    &:focus,
    &:hover {
      border-color: var(--color-primary);
    }
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-primary);
    border-color: transparent;
  }
}

.h4 + .button,
.p + .button {
  margin-top: var(--spacing-large)
}
