{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
    <p>
     <a href="{{ back_url }}" class="button">← {% translate 'Back' %}</a>
    </p>
<div id="content-main">

    <div class="module">
        <form method="post" id="config_check_form">
            {% csrf_token %}
            <fieldset class="module aligned">
                {% for field in form %}
                    <div class="form-row">
                        {{ field.errors }}
                        <div>
                            <label class="required" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}
                            {% if field.help_text %}
                                <div class="help">{{ field.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="{% translate 'Run Check' %}" class="button" name="_save">
            </div>
        </form>
    </div>

    {% if result %}
        <div class="results" style="margin-top: 20px;">
            <hr>
            <h2>{% translate 'Result' %}</h2>

            <div class="messagelist">
                <div class="{% if result.success %}success{% else %}error{% endif %}">
                    <strong>{% if result.success %}✅ Success{% else %}🛑 Failed{% endif %}</strong>:
                    {{ result.message }}
                </div>
            </div>

            {% if result.extra %}
                <h3>{% translate 'Technical Details' %}</h3>
                <pre>{{ result.extra|pprint }}</pre>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
