{% load i18n form_tags icon_tags button_tags dropdown_tags action_tags link_tags %}

{% render_form form=form method="GET" spaceless=True autosubmit=True form_action=form_action %}
<div class="actions">
    <div class="actions__filters">
        <div class="actions__filter-button">
            {% button text=_("Filter") type="button" bordered=True %}
        </div>
        <div class="actions__filter-container">
            <p class="p">{% trans "Filter op:" %}</p>
            {% date_field action_form.end_date no_label=True no_help=True icon="today" %}
            {% input action_form.is_for no_label=True no_help=True icon="person" %}
            {% input action_form.status no_label=True no_help=True icon="expand_more" %}
        </div>
    </div>
    <div class="actions__list">
        {% for action in actions %}
            <div class="actions__action">
                <div class="actions__actions">
                    {% button icon="file-pdf" text=_("Export to PDF") hide_text=True href="accounts:action_export" uuid=action.uuid icon_outlined=True transparent=True %}
                    {% if action|is_connected:request.user %}
                        {% dropdown icon="settings" %}
                            <div class="dropdown__item">
                                {% get_action_edit_url action=action plan=plan as action_url %}
                                {% button icon="edit" text=_("Bewerken") href=action_url icon_outlined=True transparent=True %}
                            </div>
                        {% enddropdown %}
                    {% endif %}
                </div>
                <div class="actions__label actions__label--big">
                    <div class="table__explain">{% trans "Actie" %}</div>
                    {{ action.name }}
                </div>
                <div class="actions__label">
                    <div class="table__explain">{% trans "Onderdeel van" %}</div>
                    {% if action.plan %}
                        {% link href=action.plan.get_absolute_url text=action.plan.title %}
                    {% endif %}
                </div>
                <div class="actions__label actions__label--big">
                    <div class="table__explain">{% trans "Aangemaakt door" %}</div>
                    {{ action.is_for.get_full_name }}
                </div>
                <div class="actions__label">
                    {% if action.file %}
                        <div class="table__explain">{% trans "Document" %}</div>
                        {% link href="accounts:action_download" text=action.file.name uuid=action.uuid %}
                    {% endif %}
                </div>
                <div class="actions__label">
                    <div class="table__explain">{% trans "Uitvoeren voor" %}</div>
                    {{ action.end_date }}
                </div>
                <div class="actions__label">
                    <div class="table__explain">{% trans "Toegevoegd op" %}</div>
                    {{ action.created_on }}
                </div>
                <div class="actions__label">
                    <div class="table__explain">
                        {% trans "Status" %}
                    </div>
                    {{ action.get_status_display }}
                </div>
            </div>
        {% empty %}
            <div class="table__item" colspan="4"><p class="p">{% trans "er zijn geen acties gevonden met de huidige filter of er zijn geen acties" %}</p></div>
        {% endfor %}
    </div>
</div>
{% endrender_form %}
