{% load i18n form_tags icon_tags button_tags %}

{% if actions %}
<table class="table table--spacious">
    <tr>
        <td class="table__item">Filter op:</td>
        <td class="table__item">{% date_field action_form.end_date no_label=True no_help=True icon="today" %}</td>
        <td class="table__item">{% input action_form.created_by no_label=True no_help=True icon="person" %}</td>
        <td class="table__item">{% input action_form.status no_label=True no_help=True icon="expand_more" %}</td>
    </tr>
    {% for action in actions %}
        <tr>
            <td class="table__item table__item--borderless" colspan="2">
                <div class="table__explain">Actie</div>
                {{ action.name }}&nbsp;
            </td>
            <td class="table__item table__item--borderless">
                <div class="table__explain">Door</div>
                {{ action.created_by.get_full_name }}&nbsp;
            </td>
            <td class="table__item table__item--borderless">
                <div class="table__explain">
                    Status
                    <div class="table__explain-icons">
                        {% button icon="input" href="accounts:action_edit" uuid=action.uuid icon_outlined=True transparent=True %}
                        {% button icon="settings" href="accounts:action_edit" uuid=action.uuid icon_outlined=True transparent=True %}
                    </div>
                </div>
                {{ action.get_status_display }}&nbsp;
            </td>
        </tr>
        <tr>
            <td class="table__item">
                <div class="table__explain">Type</div>
                {{ action.get_type_display }}&nbsp;
            </td>
            <td class="table__item">
                <div class="table__explain">Planning</div>
                {{ action.end_date }}&nbsp;
            </td>
            <td class="table__item">
                <div class="table__explain">Document</div>
                {{ action.file.name }}&nbsp;
            </td>
            <td class="table__item">
                <div class="table__explain">Toegevoegd op</div>
                {{ action.created_on }}&nbsp;
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p class="p">{% trans "Dit plan heeft nog geen acties" %}</p>
{% endif %}
