// Styling is mostly coming from @gemeente-denhaag/side-navigation/dist/index.css

:root {
  --denhaag-side-navigation-mobile-display: flex !important;
}

.side-navigation--oip {
  display: none;

  
  @media (min-width: 768px) {
    display: grid;
  }
}
