// Styling is mostly coming from @gemeente-denhaag/side-navigation/dist/index.css

:root {
  --denhaag-side-navigation-mobile-display: flex !important;
}

.side-navigation--oip {
  display: none;

  // Make sure that the default outline is visible if
  // --denhaag-focus-border is not defined.
  .denhaag-side-navigation__link--focus,
  .denhaag-side-navigation__link:focus-visible {
    outline: var(--denhaag-focus-border, revert);
  }

  @media (min-width: 768px) {
    display: grid;
  }
}
