.oip-theme {
  --utrecht-heading-1-color: var(--font-color-heading);
  --utrecht-heading-1-font-family: var(--font-family-heading);
  --utrecht-heading-1-line-height: var(--oi-margin-reset);
  --utrecht-heading-1-font-size: var(--oi-margin-reset);
  --utrecht-heading-1-weight: var(--font-weight-heading);

  --font-color-heading-1: var(--utrecht-heading-1-color);
  --font-family-heading-1: var(--utrecht-heading-1-font-family);
  --font-line-height-heading-1: var(--utrecht-heading-1-line-height);
  --font-size-heading-1: var(--utrecht-heading-1-font-size);
  --font-weight-heading-1: var(--utrecht-heading-1-weight);
}
