{% load icon_tags %}

<aside class="status-list">
    <ul class="status-list__list">
        {% for status_type in status_types %}
            {% if status_type.url in status_types_done %}
                <li class="status-list__list-item">
                    {% icon icon="task_alt" %}
                    <h4 class="h4">{{ status_type.omschrijving }}</h4>
                </li>
                {% if substatuses %}
                    {% for substatus in substatuses %}
                        <li class="status-list__list-item">
                            {% if substatus.status in statuses_urls %}
                                {% icon icon="circle" outlined=True %}
                                <p class="p p--compact">{{ substatus.tijdstip }}: {{ substatus.omschrijving }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% else %}
                <li class="status-list__list-item">
                    {% icon icon="circle" outlined=True %}
                    <h4 class="h4">{{ status_type.omschrijving }}</h4>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>
