{% extends 'master.html' %}
{% load i18n static form_tags card_tags link_tags grid_tags button_tags icon_tags %}

{% block content %}

    <h1 class="utrecht-heading-1">{% trans 'Log in met e-mail adres' %}</h1>

    {# Tab panels Start #}
    <div class="tab--container login-tab--container">
        <div class="tabs">
            <ul class="list tabs__headers">
                <li class="list-item tab__header--item"><a href="/accounts/login" class="link tab__header active">Particulier</a></li>
                <li class="list-item tab__header--item"><a href="/accounts/login-business" class="link tab__header">Zakelijk</a></li>
            </ul>
            {# Panel 1 #}
            <div class="tabs__body">
                <div id="particulier" class="tab__content">
                    {% render_grid %}
                        {% render_column start=4 span=5 %}
                            {% if login_allow_registration %}
                                {% render_card tinted=True compact=True %}
                                    {% render_form id="login-form" method="POST" form=form show_required=True %}
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ next }}"/>
                                        {% input form.username %}
                                        {% input form.password %}
                                        {% button text=_('Wachtwoord vergeten?') href='password_reset' secondary=True transparent=True align='right' %}
                                        {% form_actions primary_text=_("Inloggen") primary_icon="arrow_forward" secondary_href='django_registration_register' secondary_text=_('Registreer') secondary_icon='arrow_forward' single=True %}
                                    {% endrender_form %}
                                {% endrender_card %}
                            {% endif %}
                        {% endrender_column %}
                    {% endrender_grid %}
                </div>
                {# Panel 1 End #}
            </div>
        </div>
    </div>
    {# Tab panels End #}

{% endblock content %}
