{% extends 'master.html' %}
{% load i18n static logo_tags grid_tags card_tags form_tags link_tags button_tags %}


{% block header_image %}
    <img class="main-image" src="{{ hero_image_login }}" alt="Header image">
{% endblock header_image %}


{% block content %}
    {% render_grid %}
        {% render_column start=5 span=5 %}
            {% render_card %}
                <h1 class="h1">{% trans 'Welkom' %}</h1>
                {% if login_text %}<p class="p">{{ login_text }}</p>{% endif %}
                <br>

                    {% render_card direction='horizontal' tinted=True %}
                        <a href="{% url 'digid:login' %}" class="link digid-logo" aria-describedby="Digid logo" title="Digid logo">
                            <img class="digid-logo__image" src="{% static 'accounts/digid_logo.svg' %}" alt="Digid logo">
                        </a>
                        {% link bold=True href='digid:login' text=_('Inloggen met DigiD') secondary=True icon='arrow_forward' %}
                    {% endrender_card %}

                {% if login_allow_registration %}
                    {% render_card tinted=True %}
                        {% render_form id="login-form" method="POST" form=form %}
                            {% csrf_token %}
                            {% input form.username %}
                            {% input form.password %}
                            {% button text=_('Wachtwoord vergeten?') href='password_reset' secondary=True transparent=True align='right' %}
                            {% form_actions primary_text=_("Inloggen") primary_icon="arrow_forward" secondary_href='django_registration_register' secondary_text=_('Registreer') secondary_icon='arrow_forward' single=True %}
                        {% endrender_form %}
                    {% endrender_card %}
                {% endif %}
            {% endrender_card %}
        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
