{% extends 'master.html' %}
{% load i18n static logo_tags grid_tags card_tags form_tags link_tags button_tags solo_tags cms_tags %}


{% block header_image %}
    {% static_placeholder 'login_banner' %}
{% endblock header_image %}


{% block content %}
    <div class="login-grid">
    {% render_grid %}
        {% render_column start=5 span=5 %}
            {% render_card %}
                <h1 class="h1">{% trans 'Welkom' %}</h1>
                {% if login_text %}<p class="p">{{ login_text|linebreaksbr }}</p>{% endif %}
                <br>
		{% if settings.DIGID_ENABLED %}
                    {% render_card direction='horizontal' tinted=True %}
                        <a href="{% url 'digid:login' %}" class="link digid-logo">
                            <img class="digid-logo__image" src="{% static 'accounts/digid_logo.svg' %}" alt="DigiD inlogpagina">
                        </a>
                        {% url 'digid:login' as href %}
                        {% with href|addnexturl:next as href_with_next %}
                            {% link href=href_with_next text=_('Inloggen met DigiD') secondary=True icon='arrow_forward' extra_classes="link--digid" %}
                        {% endwith %}
                    {% endrender_card %}
		{% endif %}

        {% if settings.EHERKENNING_ENABLED %}
                    {% render_card direction='horizontal' tinted=True %}
                        <a href="{% url 'eherkenning:login' %}" class="link eherkenning-logo">
                            <img class="eherkenning-logo__image" src="{% static 'accounts/eherkenning.png' %}" height=40 alt="eHerkenning inlogpagina">
                        </a>
                        {% url 'eherkenning:login' as href %}
                        {% with href|addnexturl:next as href_with_next %}
                            {% link href=href_with_next text=_('Inloggen met eHerkenning') secondary=True icon='arrow_forward' extra_classes="link--eherkenning" %}
                        {% endwith %}
                    {% endrender_card %}
		{% endif %}

                {% get_solo 'mozilla_django_oidc_db.OpenIDConnectConfig' as oidc_config %}
                {% get_solo 'configurations.SiteConfiguration' as site_config %}
                {% if oidc_config.enabled and site_config.openid_enabled_for_regular_users %}
                    {% render_card tinted=True direction='horizontal' %}
                    {% if site_config.openid_connect_logo %}
                        <a href="{% url 'oidc_authentication_init' %}" class="link digid-logo">
                            <img class="digid-logo__image" src="{{ site_config.openid_connect_logo.url }}" alt="{{ site_config.openid_connect_logo.default_alt_text }}">
                        </a>
                    {% else %}
                        <div></div>
                    {% endif %}
                        {% url 'oidc_authentication_init' as href %}
                        {% with href|addnexturl:next as href_with_next %}
                            {% link text=site_config.openid_connect_login_text href=href_with_next secondary=True icon='arrow_forward' icon_position="after" %}
                        {% endwith %}
                    {% endrender_card %}
                {% endif %}

                {% if login_allow_registration %}
                    {% render_card tinted=True %}
                        {% render_form id="login-form" method="POST" form=form show_required=True %}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{next}}" />
                            {% input form.username %}
                            {% input form.password %}
                            {% button text=_('Wachtwoord vergeten?') href='password_reset' secondary=True transparent=True align='right' %}
                            {% form_actions primary_text=_("Inloggen") primary_icon="arrow_forward" secondary_href='django_registration_register' secondary_text=_('Registreer') secondary_icon='arrow_forward' single=True %}
                        {% endrender_form %}
                    {% endrender_card %}
                {% endif %}
            {% endrender_card %}
        {% endrender_column %}
    {% endrender_grid %}
    </div>
{% endblock content %}
