{% extends 'master.html' %}
{% load i18n utils button_tags string_tags pagination_tags helpers form_tags link_tags cms_tags static menu %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    <h1 class="utrecht-heading-1">{{ object.naam }}</h1>

    {% if object.omschrijving %}
        <p class="utrecht-paragraph">{{ object.omschrijving }}</p>
    {% endif %}

    {% if object.straat or object.huisnummer or object.postcode or object.plaats %}
        <section class="tabled tabled--flexible profile-section profile-section--bordered profile-section__notifications" id="profile-notifications">
            <div class="tabled__section">
                <header class="oip-header-group title">
                    <h2 class="utrecht-heading-2" id="notifications">Adres
                    </h2>
                    <div class="tabled__item--mobile-big">
                        &nbsp;
                    </div>
                </header>

            </div>
            {% if object.straat or object.huisnummer %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Straat en huisnummer</div>
                    <div class="tabled__item tabled__value">{{ object.straat }} {{ object.huisnummer }}</div>
                </div>
            {% endif %}
            {% if object.postcode or object.plaats %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Ontvang meldingen over</div>
                    <div class="tabled__item tabled__value">
                        <div class="item__option">{{ object.postcode }} {{ object.plaats }}</div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}


    {% if object.telefoonnummer or object.email or object.website %}
        <div class="contact-block">
            <h3 class="utrecht-heading-3" id="contact">{% trans "Contact" %}</h3>

            <div class="grid grid--compact">
                <div class="column column--start-1 column--span-12">
                    <h4 class="utrecht-heading-4">{{ object.naam }}</h4>
                </div>

                {% if object.telefoonnummer %}
                    <div class="column column--start-1 column--span-6">
                        <span class="utrecht-paragraph">{% trans "Telefoon" %}</span>
                    </div>
                    <div class="column column--start-7 column--span-6">
                        <a href="tel:{{ object.telefoonnummer }}" class="link link--secondary" aria-label="{{ object.telefoonnummer }}" title="{{ object.telefoonnummer }}">
                            <span class="link__text">{{ object.telefoonnummer }}</span>
                        </a>
                    </div>
                {% endif %}

                {% if object.email %}
                    <div class="column column--start-1 column--span-6">
                        <p class="utrecht-paragraph">{% trans "Email" %}</p>
                    </div>
                    <div class="column column--start-7 column--span-6">
                        <a href="mailto:{{ object.email }}" class="link link--secondary" aria-label="{{ object.email }}" title="{{ object.email }}">
                            <span class="link__text">{{ object.email }}</span>
                        </a>
                    </div>
                {% endif %}

                {% if object.website %}
                    <div class="column column--start-1 column--span-6">
                        <p class="utrecht-paragraph">{% trans "Website" %}</p>
                    </div>
                    <div class="column column--start-7 column--span-6">
                        <a href="{{ object.website }}" class="link link--secondary" aria-label="{{ object.website }}" title="{{ object.website }}" target="_blank" rel="noopener noreferrer">
                            <span class="link__text">{{ object.website }}</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
