{% extends 'master.html' %}
{% load i18n utils button_tags string_tags pagination_tags helpers form_tags link_tags cms_tags static menu %}

{% block sidebar_content %}
    {% include "components/Sidenav/Sidenav.html" %}
{% endblock %}

{% block content %}
    <h1 class="utrecht-heading-1">{{ object.locatie.naam }}</h1>

    {% if object.locatie.omschrijving %}
        <p class="utrecht-paragraph">{{ object.locatie.omschrijving }}</p>
    {% endif %}

    {% if object.locatie.straat or object.locatie.huisnummer or object.locatie.postcode or object.locatie.plaats %}
        <section class="tabled tabled--flexible profile-section profile-section--bordered profile-section__notifications" id="profile-notifications">
            <div class="tabled__section">
                <header class="oip-header-group title">
                    <h2 class="utrecht-heading-2" id="notifications">Adres
                    </h2>
                    <div class="tabled__item--mobile-big">
                        &nbsp;
                    </div>
                </header>

            </div>
            {% if object.locatie.straat or object.locatie.huisnummer %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Straat en huisnummer</div>
                    <div class="tabled__item tabled__value">{{ object.locatie.straat }} {{ object.locatie.huisnummer }}</div>
                </div>
            {% endif %}
            {% if object.locatie.postcode or object.locatie.plaats %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Ontvang meldingen over</div>
                    <div class="tabled__item tabled__value">
                        <div class="item__option">{{ object.locatie.postcode }} {{ object.locatie.plaats }}</div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}

    {% if object.locatie.telefoonnummer or object.locatie.email or object.locatie.website %}
        <section class="tabled tabled--flexible profile-section profile-section--bordered profile-section__notifications" id="profile-contact">
            <div class="tabled__section">
                <header class="oip-header-group title">
                    <h2 class="utrecht-heading-2" id="contact">Contactgegevens
                    </h2>
                    <div class="tabled__item--mobile-big">
                        &nbsp;
                    </div>
                </header>

            </div>
            {% if object.locatie.telefoonnummer %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Telefoon</div>
                    <div class="tabled__item tabled__value">{{ object.locatie.telefoonnummer }}</div>
                </div>
            {% endif %}
            {% if object.locatie.email %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Email</div>
                    <div class="tabled__item tabled__value">
                        <div class="item__option">{{ object.locatie.email }}</div>
                    </div>
                </div>
            {% endif %}
            {% if object.locatie.website %}
                <div class="tabled__row tabled__row--blank">
                    <div class="tabled__item tabled__key">Website</div>
                    <div class="tabled__item tabled__value">
                        <div class="item__option">{{ object.locatie.website }}</div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}


    {% if object.product_typen.results|length > 0 %}
    <section class="tabled tabled--flexible profile-section profile-section--bordered profile-section__notifications" id="profile-contact">
            <div class="tabled__section">
                <header class="oip-header-group title">
                    <h2 class="utrecht-heading-2" id="contact">Producttypen
                    </h2>
                    <div class="tabled__item--mobile-big">
                        &nbsp;
                    </div>
                </header>
            </div>
        <oip-card-grid columns="2">
            {% for producttype in object.product_typen.results %}
                <oip-card-tile
                    title="{{ producttype.naam|title }}"
                    identificatie="{{ producttype.uuid }}"
                    detail-url="/product-catalogus/product-typen/{{ producttype.uuid }}/"
                    code="{{ producttype.code }}"
                    keywords="{{ producttype.keywords|join:', ' }}"
                    toegestane-statussen="{{ producttype.toegestane_statussen|join:', ' }}"
                    gepubliceerd="{{ producttype.gepubliceerd|lower }}"
                    publicatie-start-datum="{{ producttype.publicatie_start_datum }}"
                ></oip-card-tile>
            {% endfor %}
        </oip-card-grid>
    {% endif %}
{% endblock content %}
