{% extends 'master.html' %}
{% load i18n l10n button_tags file_tags grid_tags icon_tags link_tags notification_tags utils render_tags anchor_menu_tags string_tags %}

{% block sidebar_content %}
    {% anchor_menu anchors=anchors desktop=True %}
        {% if object.product_type.links %}
            <li class="anchor-menu__list-item">
                {% with object.product_type.links.0 as first_link %}
                    {% button href=first_link.url size="big" text=_("Aanvraag starten") primary=True icon="arrow_forward" icon_position="before" %}
                {% endwith %}
            </li>
        {% endif %}
    {% endanchor_menu %}
{% endblock sidebar_content %}

{% block content %}

    <h1 class="utrecht-heading-1" id="title">
        {{ object.product_type.naam }}
        {% if request.user.is_staff %}
            {% button icon="edit" text=_("Bewerken in de Admin") hide_text=True href="admin:producten_catalogus_producttype_change" object_id=object.product_type.uuid %}
        {% endif %}
    </h1>

    {% if object.product_type.keywords %}
        <aside class="oip-tag-list" aria-label="{% trans "Tag lijst" %}">
            <ul class="oip-tag-list__list">
                {% for keyword in object.product_type.keywords %}
                    <li class="oip-tag-list__list-item">
                        <span class="oip-tag">{{ keyword }}</span>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}

    {% if object.product_type.samenvatting %}
        <p class="utrecht-paragraph utrecht-paragraph--oip utrecht-paragraph--oip-summary">{{ object.product_type.samenvatting|product_markdown }}</p>
    {% endif %}

    {% if object.voorwaarden %}
        <div class="product-info__section">
            <h2 class="utrecht-heading-3" id="voorwaarden">{% trans "Voorwaarden" %}</h2>
            <div class="utrecht-paragraph">{{ object.voorwaarden|product_markdown }}</div>
        </div>
    {% endif %}

    {% if object.actuele_prijs.actuele_prijs %}
        <div class="product-info__section">
            <h2 class="utrecht-heading-2" id="kosten">{% trans "Kosten" %}</h2>
            <dl class="kosten-list">
                {% for prijsoptie in object.actuele_prijs.actuele_prijs.prijsopties %}
                    <div class="kosten-item">
                        <dt>{{ prijsoptie.beschrijving|capfirst }}</dt>
                        <dd class="kosten-item__bedrag">&euro; {{ prijsoptie.bedrag }}</dd>
                    </div>
                {% endfor %}
            </dl>
        </div>
    {% endif %}

    {% if object.benodigdheden %}
        <div class="product-info__section">
            <h2 class="utrecht-heading-3" id="benodigdheden">{% trans "Wat heb je nodig?" %}</h2>
            <div class="utrecht-paragraph">{{ object.benodigdheden|product_markdown }}</div>
        </div>
    {% endif %}

    {% if object.product_type.links or object.product_type.bestanden or object.product_type.contacten or object.product_type.locaties or object.product_type.themas %}
        <hr class="divider">
    {% endif %}

    Voorwaarden: {{ object.voorwaarden|markdown|safe }}<br/>
    Benodigheden: {{ object.benodigheden|markdown|safe }}
    Actuele prijs: {{ actuele_prijs }}
{% endblock content %}
