:root {

  // Layout.

  --container-width: 1024px;
  --header-height: 187px;


  // Border.

  --border-image: linear-gradient(to right, var(--color-yellow-light), var(--color-yellow-dark), var(--color-yellow));
  --border-width: 2px;
  --border-radius: 3px;

  // Color.

  --color-black: #000;
  --color-blue: #1261a3;
  --color-gray: #7a7a7a;
  --color-gray-darkest: #2d2d2d;
  --color-gray-dark: #4b4b4b;
  --color-gray-light: #d2d2d2;
  --color-gray-lightest: #f1f1f1;
  --color-green: #248641;
  --color-red: #e5006c;
  --color-white: #fff;
  --color-yellow: #f8d62d;
  --color-yellow-dark: #cca000;
  --color-yellow-light: #fff7d1;

  --color-accent: var(--color-yellow-light);
  --color-body: var(--color-gray-dark);
  --color-border: var(--color-gray);
  --color-danger: var(--color-red);
  --color-primary: var(--color-green);
  --color-secondary: var(--color-blue);


  /// Font.

  --font-family-heading: 'TheMix C5';
  --font-color-heading: var(--color-black);

  --font-size-heading-1: 32px;
  --font-line-height-heading-1: 41px;

  --font-size-heading-3: 20px;
  --font-line-height-heading-3: 28px;
  --font-size-heading-4: 16px;
  --font-line-height-heading-4: 26px;

  --font-family-body: 'TheSans C5';
  --font-color-body: var(--color-gray-dark);
  --font-size-body: 16px;
  --font-line-height-body: 21px;

  --font-size-body-small: 12px;
  --font-line-height-body-small: 20px;


  /// Spacing.

  --row-height: 37px;
  --row-height-big: 48px;
  --gutter-width: 32px;

  --spacing-tiny: 2px;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-extra-large: 24px;
  --spacing-giant: 32px;
}

@font-face {
  font-family: 'TheMix C5';
  src: local('TheMix C5'), url('./fonts/TheMixC5/DesktopFonts/TheMixC5-5_Plain.otf') format('opentype');
}

@font-face {
  font-family: 'TheSans C5';
  src: local('TheSans C5'), url('./fonts/TheSansC5/DesktopFonts/TheSansC5-5_Plain.otf') format('opentype');
}

@font-face {
  font-family: 'TheSans C5';
  font-weight: bold;
  src: local('TheSans C5'), url('./fonts/TheSansC5/DesktopFonts/TheSansC5-7_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Open Dyslexic';
  src: local('TheSans C5'), url('./fonts/opendyslexic/OpenDyslexic-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Open Dyslexic';
  font-weight: bold;
  src: local('TheSans C5'), url('./fonts/opendyslexic/OpenDyslexic-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Open Dyslexic';
  font-style: italic;
  src: local('TheSans C5'), url('./fonts/opendyslexic/OpenDyslexic-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Open Dyslexic';
  font-weight: bold;
  font-style: italic;
  src: local('TheSans C5'), url('./fonts/opendyslexic/OpenDyslexic-Bold-Italic.otf') format('opentype');
}

body {
  margin: 0;
  //font-family: 'TheSans C5';
}
