body {
    margin: 0;
}

nav {
  background-color: rgba(0, 0, 0, .4);

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 20px;
    box-sizing: border-box;
  }
}
