:root {

  // Layout.

  --container-width: 1024px;
  --header-height: 150px;


  // Border.

  --border-image: linear-gradient(to right, var(--color-yellow-light), var(--color-yellow-dark), var(--color-yellow));
  --border-width: 2px;
  --border-radius: 3px;

  // Color.

  --color-black: #000;
  --color-blue: #1261A3;
  --color-gray: #7A7A7A;
  --color-gray-dark: #4b4b4b;
  --color-gray-light: #F1F1F1;
  --color-green: #248641;
  --color-red: #e5006c;
  --color-white: #fff;
  --color-yellow: #F8D62D;
  --color-yellow-dark: #CCA000;
  --color-yellow-light: #FFF7D1;

  --color-accent: var(--color-yellow-light);
  --color-body: var(--color-gray-dark);
  --color-border: var(--color-gray);
  --color-danger: var(--color-red);
  --color-primary: var(--color-green);
  --color-secondary: var(--color-blue);


  /// Font.

  --font-family-heading: 'TheMix C5';
  --font-color-heading: var(--color-black);

  --font-size-heading-1: 32px;
  --font-line-height-heading-1: 41px;

  --font-size-heading-4: 16px;
  --font-line-height-heading-4: 26px;

  --font-family-body: 'TheSans C5';
  --font-color-body: var(--color-gray-dark);
  --font-size-body: 16px;
  --font-line-height-body: 21px;

  --font-size-body-small: 12px;
  --font-line-height-body-small: 20px;


  /// Spacing.

  --row-height: 37px;
  --row-height-big: 48px;
  --gutter-width: 32px;

  --spacing-tiny: 2px;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-extra-large: 24px;
}

@font-face {
  font-family: 'TheMix C5';
  src: local('TheMix C5'), url('./fonts/TheMixC5/DesktopFonts/TheMixC5-5_Plain.otf') format('opentype');
}

@font-face {
  font-family: 'TheSans C5';
  src: local('TheSans C5'), url('./fonts/TheSansC5/DesktopFonts/TheSansC5-5_Plain.otf') format('opentype');
}

@font-face {
  font-family: 'TheSans C5';
  font-weight: bold;
  src: local('TheSans C5'), url('./fonts/TheSansC5/DesktopFonts/TheSansC5-7_Bold.otf') format('opentype');
}

body {
  margin: 0;
  //font-family: 'TheSans C5';
}
