.breadcrumbs {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    max-width: var(--container-width);
    padding: var(--spacing-large) max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  }

  &__list-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__list-item > *[class*=icon],
  &__list-item > *[class*=Icon] {
   margin: 0 var(--spacing-medium);
  }
}
