///
/// Header.
///

.header {
  $hm: max(calc((100vw - var(--container-width)) / 2), var(--spacing-large));
  $vm: var(--spacing-large);
  display: grid;
  grid-template-areas: "mtl  actns mtr"
                       "ml-1 logo  mr-1"
                       "nav  nav   nav"
                       "ml-2 bc    mr-2";
  grid-template-columns: $vm 1fr $vm;
  grid-template-rows: auto calc(var(--header-height) - var(--row-height)) auto auto;

  @media (min-width: 768px) {
    grid-template-areas: "ml-1 logo actns mr-1"
                         "nav  nav  nav   nav"
                         "ml-2 bc   bc    mr-2";
    grid-template-columns: $hm 1fr 1fr $hm;
    grid-template-rows: calc(var(--header-height) - var(--row-height)) auto auto;
    height: var(--header-height);
  }

  /// Layout.

  .logo {
    margin: var(--row-height) 0;
    grid-area: logo
  }

  &__actions {
    grid-area: actns;
  }

  .primary-navigation {
    grid-area: nav;
  }

  .breadcrumbs {
    grid-area: bc;
  }


  /// Actions.
  &__actions {
    align-items: center;
    display: flex;
    height: var(--row-height);
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: flex-end;
      margin: var(--row-height) 0;
    }

  }

  &__actions &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__actions &__list-item {
    display: inline;
    margin-left: var(--spacing-extra-large);
  }
}
