.product {
  h1 {
    color: #2D2D2D;
    font-family: "TheMix C5";
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 41px;
    margin: 0 0 12px;
  }

  h2 {
    color: #000000;
    font-family: "TheMix C5";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 32px;
  }

  p {
    color: #2D2D2D;
    font-family: "TheSans C5";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    margin: 32px 0;
  }

  img {
    max-width: 100%;
  }
}
