.count {
  background-color: var(--oip-color-info-light);
  border: 3px solid var(--oip-color-info, green);
  font-weight: bold;
  font-family: monospace;
  font-size: var(--oip-text-big-font-size, 2em);
  padding: 1em;
}
