{% load icon_tags %}
{%  if status_indicator_text %}
<div class="card__header {{ status_indicator }}">
    {% if status_indicator == "info" %}
        {% icon icon="info" icon_position="after" extra_classes="icon--"|add:status_indicator outlined=True %}
        <span class="card__status_indicator_text">{{status_indicator_text}}</span>
    {% elif status_indicator == "success" %}
        {% icon icon="check_circle" icon_position="after" extra_classes="icon--"|add:status_indicator outlined=True %}
        <span class="card__status_indicator_text">{{status_indicator_text}}</span>
    {% elif status_indicator == "failure" %}
        {% icon icon="cancel" icon_position="after" extra_classes="icon--"|add:status_indicator outlined=True %}
        <span class="card__status_indicator_text">{{status_indicator_text}}</span>
    {% elif status_indicator == "warning" %}
        {% icon icon="warning_amber" icon_position="after" extra_classes="icon--"|add:status_indicator outlined=True %}
        <span class="card__status_indicator_text">{{status_indicator_text}}</span>
    {% else %}
        {% icon icon="info" icon_position="after" extra_classes="icon--default" outlined=True %}
        <span class="card__status_indicator_text">{{status_indicator_text}}</span>
    {% endif %}
</div>
{% else %}
    <div class="card__header }}"></div>
{% endif %}
