.filter-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  border: 0 solid transparent;
  border-radius: var(--border-radius);
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.25);

  @media (min-width: 768px) {
    display: none;
  }

  &--show {
    display: flex;
  }

  &__initial {
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: left;

    // Active/selected filters
    &.active {
      color: var(--color-primary);

      .button--transparent {
        color: var(--color-primary);
      }

      > *[class*='icons'] {
        display: inline-block;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }

    .button--transparent {
      color: var(--color-gray-dark);
    }

    > *[class*='icons'] {
      display: none;
    }
  }

  &__dialog {
    background-color: var(--color-gray-lightest);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--row-height);
    height: 70vh;
    margin: 0 var(--spacing-tiny);
    padding: var(--spacing-large);
    position: fixed;
    top: 30vh;
    width: 100%;
    z-index: 1020;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    *[class*='icons'] {
      font-size: var(--font-size-icon-large);
      width: var(--font-size-icon-large);
      max-width: var(--font-size-icon-large);
    }

    .button--textless {
      padding: 0;
      height: fit-content;
    }

    .filter-modal__reset-button {
      font-weight: bold;
      height: 24px;
      padding: 0 var(--spacing-medium);
    }
  }

  &__heading {
    color: var(--color-black);
    display: block;
    font-size: var(--font-size-body-larger);
    font-weight: 700;
    margin: 0;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
  }
}
