.filter {
  border-top: 1px solid var(--color-gray);
  user-select: none;
  margin: 0;
  padding: var(--spacing-large) 0;

  @media (min-width: 768px) {
    padding: var(--spacing-extra-large) 0;
  }

  &__container:last-of-type & {
    border-bottom: 1px solid var(--color-gray);
  }

  &__reset {
    display: flex;
    justify-content: flex-end;

    .button {
      height: fit-content;
      padding: 0;
      margin-bottom: 0.75rem; // 12px
      margin-top: 1.125rem; // 18px
    }
  }

  &__list {
    padding-top: var(--spacing-large);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-large);

    @media (min-width: 768px) {
      padding-top: var(--spacing-extra-large);
      padding-bottom: 0;
    }

    .checkbox .checkbox__label {
      cursor: pointer;
    }
  }

  &__title {
    color: var(--color-gray-dark);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-4);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 24px;
  }

  &__counter {
    color: var(--color-tinted-mute);
  }
}

.filters {
  &--desktop {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &--mobile {
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }
}