.case-detail {
  box-sizing: border-box;

  &__documents {
    .heading-2__indicator {
      display: flex;
      flex-direction: row;

      // breaking-text fix
      @media (min-width: 315px) {
        display: grid;
        grid-template-columns: 232px 10px;
      }

      @media (min-width: 440px) {
        display: flex;
        flex-direction: row;
      }

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 232px 10px;
      }

      @media (min-width: 840px) {
        display: flex;
        flex-direction: row;
      }
    }

    .h2.indicator {
      display: inline;
      font-size: var(--font-size-heading-2);
      margin-bottom: var(--spacing-extra-large);
    }
  }

  .documents-upload__h3 {
    margin: var(--spacing-extra-large) 0;
  }

  .document-upload {
    &-notification {
      .notifications {
        position: static;

        .notification {
          margin-bottom: var(--spacing-extra-large);
        }
      }
    }
  }

  /// cards on case detail
  .card {
    margin-bottom: var(--spacing-extra-large);

    &__body {
      &.document-upload-description {
        display: flex;
        column-gap: var(--spacing-medium);
      }
    }
  }

  .case__grid .grid {
    gap: 0;
  }

  #document-upload {
    color: var(--color-gray-dark);
    display: block;
    padding: 0 0 var(--row-height) 0;

    .button--primary[type='submit'] {
      justify-content: center;
      width: 100%;

      &:disabled {
        @extend .button--disabled;
        background-color: var(--color-gray);
        border-color: var(--color-gray);
        color: var(--color-gray-dark-900);
        cursor: default;
        font-weight: bold;
        justify-content: center;
        pointer-events: none;
        width: 100%;
      }
    }

    &:invalid [type='submit'] {
      @extend .button--disabled;
      background-color: var(--color-gray);
      border-color: var(--color-gray);
      color: var(--color-gray-dark-900);
      cursor: default;
      font-weight: bold;
      justify-content: center;
      pointer-events: none;
      width: 100%;
    }

    .file-list,
    .form__actions--fullwidth {
      display: block;
      margin: 0;

      &-selection__h4 {
        color: var(--font-color-heading-4);
        font-family: var(--font-family-heading-4);
        font-size: var(--font-size-heading-4);
        font-weight: var(--font-weight-heading-4);
        line-height: var(--font-line-height-heading-4);
      }
    }

    /// Make required asterisk visible for this component
    .label__label--required {
      color: var(--color-red);
      padding-left: var(--spacing-tiny);
      //make asterisks invisible by default, only make them visible if component has the caption
      display: inline;
    }
  }

  #toggle-hide-elements {
    padding-left: 0;
  }

  #cases-contact-form-content > h2 {
    margin-top: var(--spacing-extra-large);
  }

  .contactmomenten {
    margin: 0;
  }

  .textarea {
    height: var(--header-height);
    width: 100%;
  }
}
