.cases {
  margin-top: var(--spacing-giant);

  /// cards on cases page
  .card {
    .cases__link {
      text-decoration: none;
    }
  }

  a:hover {
    cursor: pointer;
  }

  &__title_text {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-extra-large);
  }

  &__detail {
    box-sizing: border-box;
  }

  /// cards with statuses

  .card__header {
    display: flex;
    background-color: var(--color-info-lighter);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    color: var(--color-info-darker);

    .card__status_indicator_text {
      padding: var(--spacing-medium);
    }

    [class*='icons'] {
      margin: var(--spacing-small) var(--spacing-medium) 0 var(--spacing-medium);
    }

    &.success {
      display: flex;
      background-color: var(--color-success-lighter);
      color: var(--color-success);
    }

    &.info {
      display: flex;
      background-color: var(--color-info-lighter);
      color: var(--color-info-darker);
    }

    &.warning {
      display: flex;
      background-color: var(--color-danger-lightest);
      color: var(--color-danger-darker);
    }

    &.failure {
      display: flex;
      background-color: var(--color-error-lighter);
      color: var(--color-error-darker);
    }
  }
}

#document-upload {
  /// Make required asterisk visible for this component
  .label__label--required {
    color: var(--color-red);
    padding-left: var(--spacing-tiny);
    //make asterisks invisible by default, only make them visible if component has the caption
    display: inline;
  }
}

//.document-upload-description {
//  display: flex;
//}

#cases-contact-form-content > h2 {
  margin-top: var(--spacing-large);
}
