.cases {
  position: relative;

  /// cards on cases list
  .card {
    &__body {
      display: flex;
      flex-direction: column;
      padding: 0;

      .list:last-of-type {
        padding-bottom: 0;
        @media (min-width: 500px) {
          padding-bottom: calc(2 * var(--card-spacing-vertical));
        }
      }

      // Meaningful sequence for accessibility
      .card__heading-2 {
        order: 2;
        padding: var(--card-spacing-vertical) var(--card-spacing-horizontal) 0
          var(--card-spacing-horizontal);
      }

      .card__header {
        order: 1;
      }

      .list {
        box-sizing: border-box;
        order: 3;
        padding: 0 var(--card-spacing-horizontal);
      }

      .link--secondary {
        order: 4;
        padding: 0 var(--card-spacing-horizontal);
      }
    }

    &--stretch .list + .link:first-of-type:last-of-type {
      padding-bottom: var(--card-spacing-vertical);

      @media (min-width: 500px) {
        padding-bottom: 0;
        position: absolute;
      }
    }
  }

  a:hover {
    cursor: pointer;
  }

  > .utrecht-paragraph--oip-title-text {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-giant);
  }

  &.cases__spinner--hide {
    display: none;
  }
}
