.cases {
  /// cards on cases list
  .card {
    .cases__link {
      text-decoration: none;
    }
  }

  a:hover {
    cursor: pointer;
  }

  &__title_text {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-extra-large);
  }
}
