.cases__detail {
  /// cards on case detail
  .card {
    margin-bottom: var(--spacing-extra-large);
    &__body {
      &.document-upload-description {
        display: flex;
        column-gap: var(--spacing-medium);
      }
    }
  }

  .case__grid .grid {
    gap: 0;
  }

  #document-upload {
    color: var(--color-gray-dark);
    gap: 0;
    padding: 0 0 var(--row-height-giant) 0;

    &:invalid [type='submit'] {
      @extend .button--disabled;
      background-color: var(--color-gray);
      border-color: var(--color-gray);
      color: var(--color-gray-90);
      cursor: default;
      font-weight: bold;
      justify-content: center;
      pointer-events: none;
      width: 100%;

      @media (min-width: 768px) {
        width: initial;
      }
    }

    .file-list,
    .form__actions {
      display: block;
      margin: 0;

      @media (min-width: 768px) {
        display: grid;
      }
    }

    .p--upload-info {
      text-align: center;

      &.p--upload-help {
        display: none;

        &.error {
          color: var(--color-gray-dark);
          display: block;
          margin-top: var(--spacing-medium);
        }
      }
    }

    /// Make required asterisk visible for this component
    .label__label--required {
      color: var(--color-red);
      padding-left: var(--spacing-tiny);
      //make asterisks invisible by default, only make them visible if component has the caption
      display: inline;
    }
  }

  #cases-contact-form-content > h2 {
    margin-top: var(--spacing-large);
  }

  .case-contact-form {
    .button[type='submit']:disabled,
    .button--primary.button--disabled {
      background-color: var(--color-gray) !important;
      border-color: var(--color-gray) !important;
      color: var(--color-white);
      cursor: default;
      pointer-events: none;
    }
  }
}
