.case-detail {
  box-sizing: border-box;

  &__documents {
    .heading-2__indicator {
      display: flex;
      flex-direction: row;
      margin-bottom: var(--spacing-extra-large);

      // breaking-text fix
      @media (min-width: 315px) {
        display: grid;
        grid-template-columns: 232px 10px;
      }

      @media (min-width: 440px) {
        display: flex;
        flex-direction: row;
      }

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 232px 10px;
      }

      @media (min-width: 840px) {
        display: flex;
        flex-direction: row;
      }
    }

    .nl-heading--level-2.indicator {
      display: inline;
      font-size: var(--font-size-heading-2);
    }
  }

  .documents-upload__h3 {
    margin: var(--spacing-extra-large) 0;
  }

  .document-upload {
    &-notification {
      .notifications {
        position: static;

        .notification {
          margin-bottom: var(--spacing-extra-large);
        }
      }
    }
  }

  /// cards on case detail
  .card {
    margin-bottom: var(--spacing-extra-large);

    &__body {
      &.document-upload-description {
        display: flex;
        column-gap: var(--spacing-medium);
      }
    }
  }

  .case__grid .grid {
    gap: 0;
  }

  [id='toggle-hide-elements'] {
    padding-left: 0;
  }

  [id='cases-contact-form-content'] > .nl-heading--level-2 {
    margin-top: var(--spacing-extra-large);
  }

  .contactmomenten {
    margin: 0;
  }

  .textarea {
    height: var(--header-height);
    width: 100%;
  }
}
