.product-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: var(--spacing-extra-large);

  .product-links__title {
    color: #000000;
    font-family: var(--font-family-heading);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0 0 var(--spacing-small);
  }

  .product-links__link {
    color: #1261A3;
    font-family: var(--font-family-body);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
  }

  .product-links__icon {
    width: 16px;
    height: 16px;
  }
}
