.social-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: var(--spacing-extra-large);

  .social-links__title {
    color: #000000;
    font-family: "TheMix C5";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0 0 var(--spacing-small);
  }

  .social-links__container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);
  }

  .social-links__link {
    color: #7A7A7A;
    font-family: "TheSans C5";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
  }

  .social-links__icon {
    width: 22px;
    height: 22px;
  }
}
