.map {
  &__leaflet {
    height: 500px;
  }

  &--small &__leaflet {
    height: 100px;
  }

  &--admin {
    display: inline-block;
    width: calc(40em + 16px);
  }
}

.p + .map {
  margin-top: var(--spacing-large);
}

.leaflet-content-name {
  & > .utrecht-heading-4 {
    margin: 0;
  }
}

.leaflet-content-details {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-small);
  flex-wrap: wrap;
}
