.map {
  .h4 {
    margin-bottom: var(--spacing-large);
  }

  &__leaflet {
    height: 500px;
  }

  &--small &__leaflet {
    height: 100px;
  }

  &--admin {
    display: inline-block;
    width: calc(40em + 16px);
  }
}

.p + .map {
  margin-top: var(--spacing-large);
}

.leaflet-content-name {
  & > h4 {
    margin: 0 !important;
  }
}

.leaflet-content-details {
  display: flex;
  row-gap: var(--spacing-small);
  flex-wrap: wrap;
}
