.map {
  &__leaflet {
    height: 500px;
  }

  &--small &__leaflet {
    height: 100px;
  }

  &--admin {
    display: inline-block;
    width: calc(40em + 16px);
  }
}

.utrecht-paragraph + .map {
  margin-top: var(--spacing-large);
}

.leaflet-content-name {
  & > .utrecht-heading-4 {
    margin: 0;
  }
}

.leaflet-content-details {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-small);
  flex-wrap: wrap;

  &.container--no-margin {
    margin-top: var(--spacing-small);

    & > .utrecht-paragraph {
      margin: 0 !important;
    }

    /// leaflet reset
    .link {
      text-decoration: underline;
    }
  }
}

///
/// Legacy styling
///

.p + .map {
  margin-top: var(--spacing-large);
}
