// global
.yearly-report {
  p {
    font-size: 12px;
  }

  h1,
  h2 {
    font-size: 20px !important;
  }
}

.dashed {
  list-style-type: '- ';
}

// containers
.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.flex-box.heading {
  width: 45%;
  line-height: 5px;
  font-size: 11px;
  text-align: left;
}
.flex-container.extra-margin-top {
  margin-top: 3em;
}

// heading/title
.address {
  margin-top: 1.5em;
}

.logo {
  max-width: 175px;
  padding-top: 8px;
}

// tables
.table-fixed {
  table-layout: fixed;
}
.yearly-report__table tr:last-child {
  border-bottom: none;
}
.yearly-report__table th {
  text-align: center;
  font-size: 11px;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.yearly-report__table td {
  border: 1px solid black;
  text-align: center;
}
td:empty {
  visibility: hidden;
}

// styling for table rows with uneven col width
.table-extra-col td:not(:nth-child(5)) {
  width: 23%;
}
.table-extra-col td:last-child {
  width: 8%;
}

// section + subsection
.section .heading {
  font-size: 14px;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.subsection-heading {
  font-size: 12px;
}
.subsection > p {
  margin-top: 0.5em;
  font-size: 11px;
}

.extra-margin {
  margin-top: 1.5em;
}
