.yearly-report {
  box-sizing: border-box;

  .header {
    min-height: 50px;
    margin-bottom: 1em;

    .yearly-report__logo {
      max-width: 180px;
      max-height: 50px;
      margin: 0.7em 0 0 0;
      padding: 0;
    }
  }

  .yearly-report__p,
  .yearly-report__td {
    font-size: 13px;
  }

  .yearly-report__td {
    padding: 0.4em;
  }

  .yearly-report__p.inhoudingsplichtige {
    font-weight: bold;
  }

  .h1,
  .h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  // containers
  .header.flex-container,
  .flex-container__address {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: left;

    .yearly-report__p {
      font-size: 11px;
    }
  }

  .flex-box.heading {
    width: 33%;
    line-height: 5px;
    font-size: 11px;
    text-align: left;

    &.address,
    &.heading__logo {
      width: 25%;
    }
  }

  // tables
  .table-fixed {
    table-layout: fixed;
  }

  .table-fixed .yearly-report__td:not(:first-child):not(:last-child) {
    width: 23%;
  }
  .table-fixed .yearly-report__td:last-child {
    width: 31%;
  }

  .yearly-report__th {
    padding: 0.3em;
    font-weight: normal;
    vertical-align: bottom;
  }

  .yearly-report__td {
    font-size: 11px !important;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
  }

  .yearly-report__table .yearly-report__tr:last-child {
    border-bottom: none;
  }

  .yearly-report__table .yearly-report__th {
    text-align: center;
    font-size: 11px;
    padding-top: 2em;
    padding-bottom: 0.5em;
  }

  .yearly-report__table:empty {
    visibility: hidden;
  }

  // styling for table rows with uneven col width
  .table-extra-col .yearly-report__td:not(:nth-child(5)) {
    width: 23%;
  }

  .table-extra-col .yearly-report__td:last-child {
    width: 8%;
  }

  // section + subsection
  .section .heading {
    font-size: 15px;
    padding-bottom: 0.5em;
  }

  .subsection-heading {
    font-size: 12px;
  }

  .subsection > p {
    font-size: 11px;
  }

  .extra-margin {
    margin-top: 1.1em;
  }

  // typography
  .section__participatiewet .heading {
    margin-top: 0.2em;
    text-transform: uppercase;

    .h2 {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .section__toelichting .subsection {
    line-height: 1.6;
    font-size: 11px;

    h1,
    h2 {
      font-size: 12px;
    }
    h1 {
      text-transform: uppercase;
    }
  }
}
