// global
:root {
  --benefits-grey: #e1e1e1;
  --benefits-light-grey: #f0f0f0;
  --benefits-lightest-grey: #f5f5f5;
}

.monthly-report {
  box-sizing: border-box;

  .header {
    min-height: 50px;
  }

  .monthly-report__p {
    font-size: 11px;
  }

  .header.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .h1 {
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }

  .flex-box.heading {
    &.left {
      width: 66%;
    }
  }

  .heading__logo {
    text-align: right;

    .monthly-report__logo {
      max-width: 175px;
      max-height: 50px;
      margin: 0.7em 0 0 0;
      padding: 0;
    }
  }

  .monthly-report__table {
    width: 100%;
  }
  .monthly-report__table .monthly-report__tr:nth-child(even) {
    background-color: var(--benefits-light-grey);
  }
  .monthly-report__table .monthly-report__tr:nth-child(odd) {
    background-color: var(--benefits-lightest-grey);
  }
  .monthly-report__table .monthly-report__td:first-child {
    background-color: var(--benefits-grey);
    width: 30%;
  }

  .monthly-report__td {
    font-size: 10px;
    padding: 0.3em;
  }

  // table: details
  #monthly-report__table-details .monthly-report__td {
    width: 24%;
  }
  #monthly-report__table-details .monthly-report__td:first-child {
    width: 30%;
  }

  // table: inkomstenkorting
  #monthly-report__table-inkomstenkorting .monthly-report__td:first-child {
    width: 30%;
  }
  #monthly-report__table-inkomstenkorting .monthly-report__td:nth-child(2) {
    width: 4%;
  }
  #monthly-report__table-inkomstenkorting .monthly-report__td:nth-child(3) {
    width: 10%;
  }

  .right {
    text-align: right;
  }

  .section {
    font-size: 12px;
  }

  .section-title {
    font-size: 10px;
    font-weight: bold;
    padding: 15px 0 5px 0;
  }

  .extra-margin {
    margin-top: 2em;
  }

  // Tables in specific sections

  .section__benefitdetails .monthly-report__table {
    .monthly-report__tr:first-child {
      background-color: var(--benefits-grey);
    }
  }

  .section__inkomstenkorting .monthly-report__table {
    .monthly-report__tr,
    .monthly-report__td {
      background-color: var(--benefits-lightest-grey);
    }
  }
}
