.monthly-report {
  p {
    font-size: 11px;
  }

  & &__logo {
    max-width: 175px;
    padding-left: 5em;
  }
}

.monthly-report__table {
  width: 100%;
}
.monthly-report__table tr:nth-child(even) {
  background-color: #f5f4f3;
}
.monthly-report__table tr:nth-child(odd) {
  background-color: #efeeed;
}
.monthly-report__table td:first-child {
  width: 17em;
}

.header {
  display: inline-block;

  h1,
  h2 {
    font-size: 20px !important;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}

.section {
  font-size: 12px;
}
.section-title {
  font-size: 13px;
  font-weight: bold;
  padding: 15px 0 5px 0;
}
