{% load ssd_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Maandspecificatie {{ uitkeringsspecificatie.periode.value }}</title>
</head>
<body>
<div class="monthly-report">
    <!-- HEADER -->
    <header class="flex-container extra-margin-top">
			<div class="flex-box heading">
        <h1 class="h3">Maandspecificatie {{ uitkeringsspecificatie.periode.value }}</h1>
			</div>
			<div class="flex-box heading">
				<img class="monthly-report__logo" src="{{ logo.url }}">
      </div>
    </header>
    <!-- Uitkeringsinstantie -->
    <br>
    <div class="section-title">Uitkeringsinstantie</div>
    <div class="section">
        <table class="monthly-report__table">
            {% for key, detail in uitkeringsinstantie.items %}
                <tr>
                    <td>{{ detail.key }}</td>
                    <td>{{ detail.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- Client -->
    <div class="section-title">Client</div>
    <div class="section">
        <table class="monthly-report__table">
            {% for key, detail in client.items %}
                <tr>
                    <td>{{ detail.key }}</td>
                    <td>{{ detail.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- Uitkeringsspecificatie -->
    <div class="section-title">Uitkeringsspecificatie</div>
    <div class="section">
        <table class="monthly-report__table">
            {% for key, detail in uitkeringsspecificatie.items %}
                <tr>
                    <td>{{ detail.key }}</td>
                    <td>{{ detail.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- Details -->
    <div class="section-title">Details</div>
    <div class="section">
        <table class="monthly-report__table">
            <col style="width: 28%;"/>
            <col style="width: 24%;"/>
            <col style="width: 24%;"/>
            <col style="width: 24%;"/>
            <tr>
                <td>Omschrijving</td>
                <td>Basis (€)</td>
                <td>Plus (€)</td>
                <td>Min (€)</td>
            </tr>
            {% for key, detail in details.items %}
                <tr>
                    <td>{{ detail.key }}</td>
                    <td>{% get_detail_value_for_column detail "base" %}</td>
                    <td>{% get_detail_value_for_column detail "plus" %}</td>
                    <td>{% get_detail_value_for_column detail "minus" %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- Inkomstenkorting -->
    <div class="section-title">Inkomstenkorting</div>
    <div class="section">
        <table class="monthly-report__table">
            <col style="width: 28%;"/>
            <col style="width: 4%;"/>
            <col style="width: 10%;"/>
            {% for key, detail in inkomstenkorting.items %}
                <tr>
                    <td>{{ detail.key }}</td>
                    <td>€</td>
                    <td>{{ detail.value }}</td>
                    <td>{{ detail.sign }}</td>
                </tr>
                {% if forloop.counter|divisibleby:2 %}
                    <tr style="">
                        <td style="height:15px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
		<br>
		<div class="section">
			Op de 25e van de maand krijgt u het bedrag ad. € {{ details.uit_te_betalen_bedrag.value }} uitbetaald.
		</div>
</div>
</body>
</html>
