.search-results {
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    .grid {
      gap: var(--spacing-large);
    }
  }

  &__title-small {
    color: var(--color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    letter-spacing: 0;
    line-height: var(--font-line-height-body);
    font-weight: normal;
    margin: var(--spacing-extra-large) 0 var(--row-height) 0;
  }

  &__item {
    color: var(--color-black);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    letter-spacing: 0;
    line-height: var(--font-line-height-body);
    text-decoration: none;

    .utrecht-heading-3.search-results__item-title {
      margin: 0 0 var(--spacing-large) 0;
    }

    .utrecht-paragraph {
      margin: 0;
    }
  }

  .link {
    padding-top: var(--card-spacing);
  }

  &--no-results {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: var(--color-info-lighter);
    color: var(--color-info-darker);

    &-column {
      padding: var(--spacing-extra-large) var(--spacing-extra-large) 0
        var(--spacing-extra-large);

      .search-results__title {
        color: var(--color-info-darker);
        margin: 0;
      }

      .ul {
        margin-block-start: var(--spacing-giant);
        margin-inline-start: 11px;
        padding-inline-start: 0;
      }

      .utrecht-paragraph,
      .ul .li {
        color: var(--color-info-darker);
      }

      *[class*='icons'] {
        margin-top: var(--spacing-small);
      }

      &:first-child {
        @media (min-width: 768px) {
          padding: var(--spacing-extra-large) 0 var(--spacing-extra-large)
            var(--spacing-extra-large);
        }
      }

      &:last-child {
        padding-top: var(--spacing-medium);
        @media (min-width: 768px) {
          padding-top: var(--spacing-extra-large);
        }
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}
