@import '~@utrecht/skip-link-css/dist/index.css';

.utrecht-skip-link {
  text-decoration: none;

  &:focus,
  &:focus-visible {
    z-index: var(--utrecht-skip-link-z-index);
  }

  &--visible-on-focus {
    left: 100%;

    &:focus,
    &:focus-visible {
      left: initial;
      text-decoration: none;
    }
  }

  .skip-link__text {
    margin-right: var(--spacing-large);
    text-decoration: var(--utrecht-skip-link-focus-text-decoration);
  }
}
