.card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #D2D2D2;
    border-radius: 3px;

    &__img{
        width: 100%;
    }

    &__title{
        padding: 1rem;
        text-align: center;
        margin: 0;
    }

}
