.card-list {
  display: grid;
  grid-template-columns: repeat(var(--columns, 2), 1fr);
  gap: 32px;
  box-sizing: border-box;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title{
    padding: 1rem;
    text-align: center;
    margin: 0;
    color: #000000;
    font-family: var(--font-family-heading);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    width: 100%;
    box-sizing: border-box;
  }
}
