{% extends 'master.html' %}
{% load i18n form_tags grid_tags %}


{% block content %}
<h1 class="h1">
    {% trans "Creeer actie" %}
</h1>

{% render_form form=form method="POST" enctype="multipart/form-data" %}
    {% csrf_token %}
    {% input form.name no_help=True %}
    {% input form.description no_help=True %}
    {% render_grid %}
        {% input form.status no_help=True %}
        {% date_field form.end_date no_help=True %}
    {% endrender_grid %}
    {% render_grid %}
        {% input form.is_for no_help=True %}
        {% input form.file no_help=True %}
    {% endrender_grid %}
    {% input form.goal no_help=True %}

    {% form_actions primary_text=_("Actie opslaan") %}
{% endrender_form %}
{% endblock content %}
