{% extends 'master.html' %}
{% load i18n button_tags link_tags icon_tags pagination_tags %}


{% block content %}
<h1 class="h1" id="title">
    {% trans "Mijn acties" %}
    {% button href="accounts:action_create" text=_("Nieuw actie toevoegen") icon="date_range" primary=True %}
</h1>

<table class="table">
    <thead class="table__heading">
        <tr>
            <td class="table__item">{% trans "Omschrijving" %}</td>
            <td class="table__item">{% trans "Datum" %}</td>
            <td class="table__item">{% trans "Status" %}</td>
            <td class="table__item">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for action in action_list %}
            <tr>
                <th class="table__header">{{ action.name }}</th>
                <td class="table__item">{{ action.created_on }}</td>
                <td class="table__item">{{ action.get_status_display }}</td>
                <td class="table__item table__item--right">{% button icon="settings" href="accounts:action_edit" uuid=action.uuid icon_outlined=True transparent=True %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% pagination page_obj=page_obj paginator=paginator request=request href="accounts:my_profile" text=_("Terug naar mijn profiel") %}
{% endblock content %}
