{% load i18n button_tags card_tags utils icon_tags %}
{% if request.user.is_authenticated %}
    <section class="plugin plugin__plans">
        <header class="oip-header-group">
            <h2 class="nl-heading nl-heading--level-2">{% trans 'Samenwerken' %}</h2>
            {% button href="collaborate:plan_list" text=_("Naar samenwerken") transparent=True icon="arrow_forward" icon_position="after" %}
        </header>
        {% if plans %}
        <div class="plans-cards card-container card-container--columns-4">
            {% for plan in plans %}
                {% render_card image_object_fit="cover" href=plan.get_absolute_url %}
                <div class="card__content">
                    <h3 class="nl-heading nl-heading--level-3 card__heading-3 plan-list">{{ plan.title }}</h3>
                    <nl-paragraph>{{ plan.goal|truncatewords:20 }}</nl-paragraph>
                    <nl-paragraph>{{ plan.description|truncatewords:20 }}</nl-paragraph>
                    <span class="spacer"></span>
                    <span class="button button--icon-before button--transparent">
                    {% icon icon="arrow_forward" outlined=True %}
                    </span>
                </div>
                {% endrender_card %}
            {% endfor %}
        </div>
        {% else %}
            <nl-paragraph>{{ configurable_text.plans_page.plans_no_plans_message }}</nl-paragraph>
        {% endif %}
    </section>
{% endif %}
