/* Tags: general styles for all templates */

table, th, td, img {
    border: 0;
    border-spacing: 0;
    padding: 0;
}

th {
    font-weight: bold;
    padding: 18px 20px 18px 20px;
    text-align: left;
}

p {
    padding: 0;
    margin: 0;
}

.heading-font, h1, h2, h3, h4 {
    color: #000000;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

table, .table-mail {
    /* --color-gray-dark */
    background-color: #ffffff;
    border-spacing: 0;
    border-collapse: collapse;
    color: #4B4B4B;
    font-family: Lato, Helvetica, sans-serif;
    line-height: 24px;
}

td, .td-mail {
    /* --color-gray-dark */
    color: #4B4B4B;
    font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 24px;
}

/* Class styles for differing elements */

.td-mail__bg-danger .td-mail__bg-white a {
    color: #704000;
}

.td-mail__bg-info .td-mail__bg-white a, .td-mail__bg-info a, .td__info-link a {
    color: #2566A7;
}

.td__logo-mail {
    text-align: center;
    padding-top: 16px;
}

.img__logo-mail {
    width: auto;
    max-height: 55px;
    max-width: 600px;
}

.mail__icon {
    border-right: 5px solid #FFFFFF;
}

.td-mail h1 {
    font-size: 20px;
}

.td-mail h2 {
    font-size: 18px;
}

.td-mail.align-top {
    vertical-align: top;
}

td.align-center {
    vertical-align: middle;
}

.tr-mail.border-top .td-mail {
    border-top: 1px solid #d2d2d2;
}

.td-mail.spacer-bottom {
    border-bottom: 1px solid #d2d2d2;
    padding-top: 60px;
}

.td-mail--accent {
    height: 24px;
}

.td-mail__bg-info {
    background-color: #B3D9EB;
}

.td-mail__bg-danger {
    background-color: #FFEDDF;
}

.td-mail__bg-white {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #704000;
    display: inline-block;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    width: 100%;
    -webkit-text-size-adjust: none;
}

.td__padding-top {
    padding-top: 24px;
}

.td__padding-right {
    padding-right: 24px;
}

.td__padding-bottom {
    padding-bottom: 24px;
}

.td__padding-left {
    padding-left: 24px;
}

.td__padding-all {
    padding: 20px 24px 20px 24px;
}

.td__padding-zero {
    padding: 0;
}

.spacing__extra {
    height: 20px;
}

.button--primary {
    border: 1px solid #0065BD;
    border-radius: 6px;
    color: #ffffff;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 44px;
    margin-top: 24px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    -webkit-text-size-adjust: none;
}

/* Theme-colors and other mail-template colors */

.text-color__info {
    color: #2566A7;
}

.text-color__danger {
    color: #704000;
}

.text-color__gray-900 {
    /* --color-gray-dark-900 */
    color: #676767;
}

.text-color__small-gray-900 {
    color: #676767;
    font-size: 14px;
}

