.button-radio {
  &__input {
    display: none;

    &:checked ~ .button-radio__button {
      color: var(--color-primary);
    }
  }

  &__button {
    border: 1px solid #d2d2d2;
    border-left: 0;
    background-color: #f1f1f1;
    color: #7a7a7a;
    display: inline-block;
    padding: 12px;
  }

  &:first-child {
    .button-radio__button {
      border-left: 1px solid #d2d2d2;
    }
  }
}
