.button-radio {
  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:focus ~ .button-radio__button {
      outline: var(--focus-border-width) var(--focus-border-style)
        var(--color-primary-lighter);
    }

    &:checked ~ .button-radio__button {
      color: var(--color-primary);
      cursor: default;
    }

    &#negative {
      &:checked ~ .button-radio__button {
        background-color: var(--color-error-lightest);
        border: var(--border-width-thin) solid var(--color-error-darker);
        color: var(--color-error-darker);
        cursor: default;
        outline: 1px solid var(--color-primary-lighter);
      }
    }

    &#positive {
      &:checked ~ .button-radio__button {
        background-color: var(--color-success-lighter);
        border: var(--border-width-thin) solid var(--color-success);
        color: var(--color-success);
        cursor: default;
        outline: 1px solid var(--color-primary-lighter);
      }
    }
  }

  &__button {
    align-items: center;
    border: var(--border-width-thin) solid var(--color-gray-dark-900);
    background-color: var(--color-white);
    color: var(--font-color-body);
    border-radius: var(--border-radius);
    display: flex;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium) var(--spacing-extra-large);
    cursor: pointer;

    &[for='negative'] {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &[for='positive'] {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  *[class*='icons'],
  *[class*='Icons'] {
    font-size: var(--font-size-body);
  }
}
