//input[type='radio'] {
/* TODO: to fix for default styles */
//  opacity: 0;
//  position: absolute;
//  z-index: -1;
//}

.button-radio {
  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:focus ~ .button-radio__button {
      outline: 2px solid var(--color-info);
    }

    &:checked ~ .button-radio__button {
      color: var(--color-primary);
      cursor: default;
    }
    &#negative {
      &:checked ~ .button-radio__button {
        color: #cf1c08;
        cursor: default;
      }
    }
    &#positive {
      &:checked ~ .button-radio__button {
        color: var(--color-green-dark);
        cursor: default;
      }
    }
  }

  &__button {
    border: var(--border-width-thin) solid var(--color-gray-light);
    border-left: 0;
    background-color: var(--color-gray-lightest);
    color: var(--color-gray-lighter);
    display: inline-block;
    padding: 12px;
    cursor: pointer;

    &[for='negative'] {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &[for='positive'] {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  &:first-child {
    .button-radio__button {
      border-left: 1px solid #d2d2d2;
    }
  }
}
