.checkbox {
  .checkbox__input {
    display: none;
  }

  .checkbox__label {
    color: var(--font-color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-body);
    margin: 0;
    padding-left: 32px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: ' ';
      display: inline-block;
      padding: 0 2px;
      box-sizing: border-box;
      width: 22px;
      height: 22px;
      border: 1px solid #4b4b4b;
      border-radius: 1px;  // Yes.
      background-color: #ffffff;
    }
  }

  .checkbox__input:checked ~ .checkbox__label:before {
    background-color: var(--color-secondary);
    color: var(--color-font-secondary);
    font-family: 'Material Icons';
    content: '\e876';
  }
}
