#document-upload {
  gap: var(--spacing-tiny);

  .button[type='submit']:disabled {
    background-color: var(--color-gray) !important;
    border-color: var(--color-gray) !important;
    color: var(--color-white);
    pointer-events: none;
    cursor: default;
  }

  .form__control.upload .form__submit {
    *[class*='icon'],
    .button {
      position: initial;
      margin-top: 2em;
    }
  }

  .inputfile-group {
    display: block;

    .label,
    .close {
      display: block;
    }
  }

  .form__control__info {
    display: none;

    &--active {
      display: block;
    }
  }

  //Codepen
  .upload__selector {
    padding: var(--spacing-giant);
    border: 1px var(--color-gray) solid;
    text-align: center;
  }

  #fileList {
    padding: 0;
  }

  .file-item {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    background-color: white;
    border: 1px solid #d3d3d3;
    margin-bottom: 20px;
    padding-top: var(--spacing-large);
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 80px;
    justify-content: space-between;

    [class*='icon'] {
      position: static;
      transform: none;
    }

    .file--uppercase {
      text-transform: uppercase;
    }
  }

  .file-material-icon {
    color: grey;
  }

  .file-item.error-message {
    background-color: LavenderBlush;
    color: deeppink;
    border: 2px solid red;
    margin: 2px;
    padding: 9px;
  }

  .error-message {
    background-color: lightpink;
  }

  .file-item.error-message .file-material-icon {
    color: deeppink;
  }

  .file-name {
    display: inline-block;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
  }

  .file-size {
    font-style: italic;
    min-width: 150px;
  }

  #id_file {
    font-family: 'Verdana', sans-serif;
  }
  #id_file {
    background-color: #9fbddf;
    height: 2em;
    border: 1px solid #007acc;
    border-radius: 6px;
  }
  //end codepen
}

/// File-input site wide
input[type='file'] {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-mute);
  border-radius: var(--border-radius);
  display: inline-block;
  filter: saturate(70%);
  min-width: 100%;
  max-width: var(--form-width);
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    min-width: var(--form-width);
  }
}

/// File-input button site wide
input[type='file']::file-selector-button {
  color: var(--color-white);
  background-color: var(--color-primary);
  text-transform: uppercase;
  border: 1px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
  height: var(--row-height);
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 12px 0 12px;
  margin: 0 12px 0 0;
  width: 150px;

  @media (min-width: 768px) {
    width: 200px;
  }
}

.button-row .upload-button--disabled {
  background-color: var(--color-gray) !important;
  border-color: var(--color-gray) !important;
}

.form__open-upload {
  .file-type__select {
    max-width: var(--mobile-xs-width);
  }
  .form__control > .label *[class*='icon'] {
    top: 69%;
  }

  .input-file {
    display: inline-block;

    *[class*='icons'] {
      position: static;
      color: black;
      transform: none;
    }

    /// Hidden file-input for cases
    .inputfile {
      display: inline-block;
      margin-top: var(--spacing-medium);
      min-width: 200px;
      height: var(--row-height);
      opacity: 0;
      overflow: hidden;
      z-index: 200;
    }

    .inputfile + .label,
    .inputfile + .label__label {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 0;
      padding: var(--spacing-medium) var(--spacing-large) var(--spacing-medium)
        calc(3 * (var(--spacing-extra-large)));
      font-size: var(--font-size-body);
      color: var(--color-font-primary);
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: var(--border-radius);
      min-width: 202px;
      z-index: -1;
    }

    .inputfile:focus + .label__label,
    .inputfile.has-focus + .label__label,
    .inputfile:hover + .label__label,
    .inputfile + .label__label:hover,
    .inputfile:focus + .label,
    .inputfile.has-focus + .label,
    .inputfile:hover + .label,
    .inputfile + .label:hover {
      background-color: var(--color-primary-darker);
      top: 4px;
      transition: all 0.3s, background-color 0.3s;
    }

    .inputfile + .label__label *[class*='icons'],
    .inputfile + .label *[class*='icons'] {
      width: 1.3em;
      vertical-align: middle;
      color: white;
      margin-left: var(--spacing-medium);
    }

    .inputfile + .label__label {
      cursor: pointer; /* "hand" cursor */
    }

    .inputfile:focus + .label,
    .inputfile:focus-visible + .label,
    .inputfile:focus + .label__label,
    .inputfile:focus-visible + .label__label {
      outline: var(--border-width) solid var(--color-secondary);
      outline: -webkit-focus-ring-color auto 5px;
    }
  }

  .drive {
    display: block;

    &.error {
      display: none;
    }
  }

  .close .button--transparent {
    color: var(--color-red);

    &.error {
      display: none;
    }
  }

  .info-container {
    display: none;
  }

  .fieldset-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 80px;
    padding-top: var(--spacing-large);
    margin-bottom: 20px;

    .fieldset__content {
      color: var(--color-mute);
      width: 200px;

      .upload-info {
        display: inline-block;
        font-family: var(--font-family-body);
        font-size: var(--font-size-body);
        color: var(--color-mute);
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &__name {
          color: var(--font-color-body);
          font-weight: bold;
        }

        &__error {
          display: none;
          position: relative;

          & *[class*='icon'] {
            position: absolute;
            top: var(--spacing-small);
            right: -100px;
            color: var(--color-primary);
          }

          &.error {
            color: var(--font-color-body);
            font-weight: bold;
            font-size: 19px;
            line-height: var(--spacing-giant);
            display: block;
            margin-left: calc(-1 * (var(--spacing-large)));
            overflow: initial;
          }
        }
      }
    }
  }

  .notifications__errors {
    margin: 1.5em var(--spacing-small) 0 0;
  }
}
