.file-input {
  .card {
    &:first-child {
      text-align: center;
      position: relative;
    }

    .label .input-button > .button {
      padding-bottom: var(--spacing-medium);
      position: static;
    }
  }

  &--drag-active .card:first-child {
    background-color: var(--color-gray-lightest);
  }

  .card__body {
    box-sizing: border-box;
    padding: var(--row-height);
  }

  [class*='icon'] {
    pointer-events: none;
    position: static !important;
    transform: none !important;
  }

  &--drag-active .button {
    pointer-events: none;
  }

  &__input {
    left: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: var(--row-height-giant);
  }

  .input-button {
    display: inline-block;

    &--selected {
      //display: none; TODO: toggle this with JS
      cursor: pointer;
    }
  }

  > .p {
    margin: calc(0.5 * var(--gutter-width)) 0;
    display: block;
    text-align: center;
  }

  .h4 {
    margin-top: var(--gutter-width);
    margin-bottom: calc(0.5 * var(--gutter-width));
  }
}
