.file-input {
  .card {
    &:first-child {
      text-align: center;
      position: relative;
    }
  }

  &--drag-active .card:first-child {
    background-color: var(--color-gray-lightest);
    border-style: dashed;
  }

  &--drag-active .card__body,
  .card:first-child [class*='icon'] {
    pointer-events: none;
  }

  .card__body {
    box-sizing: border-box;
    padding: var(--row-height);

    .button--borderless {
      display: flex;
      gap: var(--spacing-medium);
      color: var(--color-primary);
      font-weight: bold;

      [class*='icon'] {
        color: var(--color-primary);
        font-size: var(--font-size-body);
        position: static !important;
        transform: none !important;
        height: var(--font-size-body);
      }

      &[hidden] {
        display: none;
      }
    }
  }

  [class*='icon'] {
    color: var(--color-gray-dark);
    pointer-events: none;
    position: static !important;
    transform: none !important;
    height: 30px;
  }

  .notifications {
    .notification--warning {
      [class*='icon'] {
        color: var(--notification-color-text);
      }
    }
  }

  .link--primary [class*='icon'] {
    color: var(--color-primary);
  }

  &__input {
    left: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: var(--row-height-giant);
  }

  > .p {
    margin: calc(0.5 * var(--gutter-width)) 0;
    display: block;
    text-align: center;
  }

  .h4 {
    margin-top: var(--spacing-large);
    margin-bottom: calc(0.5 * var(--spacing-large));
  }

  & .file-list {
    margin-bottom: var(--spacing-large) !important;

    // upload-error styles
    .file__file.error {
      border-color: var(--color-red-notification);

      .p {
        color: var(--color-gray-dark-900);
      }

      [class*='icon'] {
        color: var(--color-gray-light);
      }

      .link [class*='icon'] {
        color: var(--color-red-notification);
      }
    }

    .error {
      color: var(--color-red-notification);
      display: flex;
      align-items: normal;
      gap: var(--spacing-small);
      justify-content: flex-start;

      [class*='icon'] {
        color: var(--color-red-notification);
      }
    }

    .p--small {
      margin-top: var(--spacing-small);
      margin-bottom: var(--spacing-small);

      &.error {
        [class*='icon'] {
          color: var(--color-red-notification);
          font-size: var(--font-size-body);
          margin-top: 2px;
        }
      }
    }
  }
}
