.form {
  box-sizing: border-box;
  display: grid;
  gap: var(--spacing-small);
  padding: var(--gutter-width) 0;
  position: relative;

  @media (min-width: 768px) {
    gap: var(--spacing-large);
  }

  &#{&}--align-end {
    align-items: end;
  }

  &--compact {
    gap: 0;
  }

  &--hidden {
    display: none;
  }

  &--horizontal {
    .form__control > .label {
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
    }
  }

  &--flex {
    .form__actions {
      display: flex;
      gap: var(--spacing-medium);
    }
  }

  /// Columns.

  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      &--columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }

      &--columns-#{$i} &__actions {
        grid-column-start: 1;
        grid-column-end: $i + 1;
      }

      &--columns-#{$i} .notifications {
        grid-column-end: span $i;
      }
    }
  }

  /// Errors.

  > .notifications {
    padding: 0;
    position: static;
  }

  > .notifications .notification {
    margin: 0;
  }

  /// Control.

  &__control > .label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .notifications {
      &__errors .notification *[class*='icon'] {
        position: static;
        transform: translateY(-5px);
      }
    }
  }
  &__control
    .label
    .notifications__errors
    .notification--warning
    *[class*='icon'] {
    position: static;
    transform: translateY(-5px);
  }

  &__control > .label .p:last-child {
    font-size: var(--font-size-body-small);
  }

  &__control > .label .p.p--compact {
    font-size: var(--font-size-body);
  }

  &__control > .label .input,
  &__control > .label .input[type='file'] {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: 360px) {
    &__control > .label .input,
    &__control > .label .input[type='file'] {
      max-width: var(--form-width);
    }
  }

  .filter__container &__control > .label .input,
  .filter__container &__control > .label .input[type='file'],
  .form--search &__control > .label .input,
  &.form__registration .form__control .label .input {
    width: 100%;
    max-width: 100%;
  }

  /// Registration -start.

  &__control > .label ul {
    padding-left: var(--card-spacing);
  }

  &__control > .label ul *:not(.button) {
    padding-right: var(--card-spacing);
    width: fit-content;
  }

  /// Registration -end.

  &__control > .label .material-icons-outlined {
    pointer-events: none;
  }

  &__grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
  }

  &__stack {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border: 0;
    margin: 0;
    padding: 0;

    legend {
      opacity: 0;
      height: 0;
    }
  }

  /// Required fields

  .caption__content {
    display: block;
    color: var(--color-mute);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-style: italic;
    .label__label--required {
      vertical-align: sub;
    }
  }

  .label__label--required {
    font-size: var(--font-size-body-large);
    color: var(--color-red);
    padding-left: var(--spacing-tiny);
    vertical-align: sub;
    //make asterisks invisible by default, only make them visible if component has the caption
    display: none;
  }

  /// Actions.
  &__actions {
    display: grid;
    grid-template-areas: 'secondary spacing primary';
    grid-template-columns: auto 1fr auto;
    gap: var(--gutter-width);
    margin-top: 28px;

    &--single {
      gap: 0;
      margin-top: 0;
    }
  }

  &__actions .button--secondary:last-child {
    grid-area: secondary;
  }

  &__actions > * {
    grid-area: secondary;
  }

  &__actions > *:last-child {
    grid-area: primary;
  }

  &--inline {
    grid-template-columns: 1fr auto;
    align-items: start;

    .form__actions {
      grid-column-start: auto;
      grid-column-end: auto;
      padding: 0;
      gap: 0;
      margin: 0;
    }
  }

  &--spaceless {
    padding: 0;
    gap: var(--spacing-small);
  }

  &__control {
    position: relative;

    *[class*='icon'],
    *[class*='Icon'] {
      width: auto !important;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    .notification > *[class*='icon'],
    .notification > *[class*='Icon'] {
      width: auto !important;
      position: absolute;
      right: var(--spacing-small);
      top: var(--spacing-large);
    }
  }

  /// specific inner forms

  &.select-grid > .form__control > .form__grid-box {
    grid-template-columns: 1fr;

    @media screen and (min-width: 500px) and (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 768px) and (max-width: 904px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 905px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/// Specific forms

.search__mobile,
.header__submenu {
  .form {
    // tablet sizes
    @media screen and (min-width: 360px) and (max-width: 767px) {
      &__control > .label .input {
        max-width: 100%;
      }
    }
  }
}
