.form {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--gutter-width);
  padding: var(--gutter-width) 0;

  /// Columns.

  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      &--columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  /// Control.

  &__control > .label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__control > .label * {
    margin-top: var(--spacing-medium);
  }

  &__control > .label *:not(.button) {
    width: 100%;
  }


  /// Actions.
  &__actions {
    display: grid;
    grid-template-areas: 'secondary spacing primary';
    grid-template-columns: auto 1fr auto;
    grid-gap: var(--gutter-width);
  }

  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      &--columns-#{$i} &__actions {
        grid-column-start: 1;
        grid-column-end: $i + 1;
      }
    }
  }

  &__actions > * {
    grid-area: secondary;
  }

  &__actions > *:last-child {
    grid-area: primary;
  }

  &--inline {
    grid-template-columns: 1fr auto;
    align-items: end;

    .form__actions {
      grid-column-start: auto;
      grid-column-end: auto;
      padding: 0;
      grid-gap: 0;
    }
  }
}
