.input {
  /// Resets.
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /// Border.
  border: 1px solid var(--color-mute);
  border-radius: var(--border-radius);

  /// Dimensions.
  box-sizing: border-box;
  height: var(--row-height);
  margin: 0;
  padding: var(--spacing-medium) var(--spacing-large);

  /// font.
  color: var(--font-color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--color-white);

  &.input--bordered {
    border: 1px solid var(--color-mute);
  }

  &:disabled {
    background-color: var(--color-gray-lightest);
    color: var(--color-gray-lighter);
  }
}

textarea.input {
  height: auto;
}
