.select {
  /// Resets.
  /// RESET AND SET CHEVRON BACKGROUND IMAGE
  //appearance: none;
  //-moz-appearance: none;
  //-webkit-appearance: none;

  /// Border.
  border: 1px solid var(--color-mute);
  border-radius: var(--border-radius);

  /// Dimensions.
  box-sizing: border-box;
  height: var(--row-height);
  margin: 0;
  padding: var(--spacing-medium) var(--spacing-large);

  /// font.
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);

  &,
  &.input {
    // cross-browser styling
    &:required:invalid {
      color: var(--color-mute);
    }
    // Windows only
    option,
    option:checked {
      color: var(--font-color-body);
    }
  }
}

// add defaults
select {
  &:required:invalid {
    color: var(--color-mute);
  }
  // Windows only
  option,
  option:checked {
    color: var(--font-color-body);
  }
}
