.autocomplete {
  border: 1px solid var(--color-mute);
  border-radius: var(--border-radius);

  &__item {
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-large);
    color: var(--font-color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
  }

  &__item:hover {
    background: var(--color-gray-light);
  }
}