{% extends "master.html" %}
{% load i18n static form_tags grid_tags button_tags card_tags button_tags %}

{% block content %}
    {% render_grid %}
        {% render_column start=4 span=6 %}
            <h1 class="h1" id="title">{% trans "Log in" %}</h1>
            <form method="POST" id="eherkenning-branch-form" class="form">
                {% csrf_token %}
                {% if form.branch_number.errors %}
                    {% errors errors=form.branch_number.errors %}
                {% endif %}

                <ul class="choice-list choice-list--single">
                    {# first only show option to select entire company in separate list-item #}
                    <p><strong>{% trans "Log in namens alle vestigingen" %}</strong></p>
                    {% with entire_company=company_branches.0 %}
                        <li class="choice-list__item">
                            <label class="choice-list__label">
                                <input type="radio" id="entire-company" name="branch_number" value="" class="choice-list__radio">
                                <div class="choice-list__content">
                                    <h2 class="choice-list__heading">{{ entire_company.naam }}</h2>
                                </div>
                            </label>
                        </li>
                    {% endwith %}

                    {% if company_branches|slice:"1:" %}
                        {# only show multiple VESTIGINGEN #}
                        <p><strong>{% trans "Of selecteer de vestiging waarmee u wilt inloggen" %}</strong></p>
                        {% for branch in company_branches|slice:"1:" %}
                            {% with company_id=branch.vestigingsnummer %}
                                <li class="choice-list__item">
                                    <label class="choice-list__label">
                                        <input type="radio" id="branch-{{ company_id }}" name="branch_number" value="{{ company_id }}" class="choice-list__radio">
                                        <div class="choice-list__content">
                                            <h2 class="choice-list__heading">{{ branch.naam }}</h2>
                                            {% if company_id %}
                                                <p class="choice-list__p">{% trans "Vestiging" %}: {{ company_id }}{% if branch.type == "hoofdvestiging" %} ({% trans "Hoofdvestiging" %}){% endif %}</p>
                                            {% endif %}
                                            {% if branch.adres.binnenlandsAdres.straatnaam %}
                                                <p class="choice-list__p">{{ branch.adres.binnenlandsAdres.straatnaam }}</p>
                                            {% endif %}
                                            {% if branch.adres.binnenlandsAdres.plaats %}
                                                <p class="choice-list__p">{{ branch.adres.binnenlandsAdres.plaats}}</p>
                                            {% endif %}
                                        </div>
                                    </label>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </ul>

                <div class="form__actions form__actions--fullwidth">
                    {% button_row %}
                        {% button primary=True name="submit" text=_('Ga door') icon="east" icon_position="after" icon_outlined=True %}
                    {% endbutton_row %}
                </div>
            </form>

        {% endrender_column %}
    {% endrender_grid %}
{% endblock content %}
