.oip-home-plugin-card {
  // Some values below (like 'cursor') are advised to not be put inside design-tokens
  cursor: pointer;
  border: var(--oip-plugin-card-border-width)
    var(--oip-plugin-card-border-style) var(--oip-plugin-card-border-color);
  box-sizing: border-box;
  position: relative;
  background-color: var(--oip-plugin-card-background-color);
  border-radius: var(--oip-plugin-card-border-radius);
  box-shadow: var(--oip-plugin-card-box-shadow);
  color: var(--oip-plugin-card-color);
  font-family: 'Body', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
  inline-size: var(--oip-plugin-card-inline-size);
  max-inline-size: var(--oip-plugin-card-max-inline-size);
  row-gap: var(--oip-plugin-card-row-gap);
  min-width: 100%;
  text-decoration: none;

  &__content {
    display: flex;
    gap: var(--oip-plugin-card-content-gap);
    padding: var(--oip-plugin-card-content-padding-block-start)
      var(--oip-plugin-card-content-padding-block-end);
    width: 100%;
    align-items: flex-end;
    // Give minimal spacing on desktop for Openstaande Formulieren
    @media (min-width: 768px) {
      min-height: 70px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--oip-plugin-card-content-gap);
    justify-content: space-between;
    font-family: 'Body', sans-serif;
    width: 100%;
    height: 100%;
    color: var(--oip-plugin-card-heading-color);

    nl-paragraph {
      color: inherit;
      font-weight: 700;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .utrecht-heading-2 {
      font-size: 20px;
      margin-block: 0;
    }
  }

  .material-icons-outlined {
    color: var(--color-primary);
    height: auto;
    padding: 0;
  }
}
