@use '@nl-design-system-candidate/paragraph-css/paragraph.scss';

.nl-paragraph {
  // custom values same as in legacy styles

  &--oip {
    // Takes style values from our own design-tokens NPM package
    margin-block-start: 0;
    margin-block-end: 0;

    // Extensions of the nl-paragraph component with OIP-specific styles.
    &-muted {
      color: var(--oip-nl-paragraph-muted-color);
    }

    &-centered {
      text-align: var(--oip-utrecht-paragraph-centered-text-align);
    }

    &-compact {
      margin-block-start: var(
        --oip-utrecht-paragraph-compact-margin-block-start
      );
      margin-block-end: var(--oip-utrecht-paragraph-compact-margin-block-end);
    }
  }
}
