.file {
  &__container {
    &--recent {
      border-left: var(--border-width-thin) solid var(--color-red);
    }
  }

  &__file {
    align-items: center;
    border: var(--border-width-thin) solid var(--color-gray);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
  }

  &__symbol {
    display: flex;
    align-items: center;
    background-color: var(--color-gray-lightest);
    padding: var(--spacing-large) 0;
    margin: 0;
    box-sizing: content-box;

    align-self: stretch;

    *[class*='icon'],
    *[class*='Icon'] {
      padding: var(--spacing-large);
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
  }

  &__data > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__file .link,
  &__file .p {
    padding: var(--spacing-large);
    box-sizing: border-box;
  }

  &__file .p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--spacing-extra-large);
  }

  &__file .link__text {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__file .dropdown {
    padding-right: var(--spacing-large);

    .dropdown__content {
      margin-right: var(--spacing-large);
    }
  }

  &__file + .p {
    margin-top: var(--spacing-small);
  }

  &__file--recent {
    color: var(--color-red);
    font-size: var(--font-size-body-extra-small);
    vertical-align: middle;
  }

  &__date {
    font-size: var(--font-size-body-extra-small);
  }
}
