.file {
  &__file {
    align-items: center;
    border: 1px solid var(--color-mute-deco);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
  }

  &__file > *[class*='icon']:first-child,
  &__file > *[class*='Icon']:first-child {
    background-color: var(--color-gray-light);
    padding: var(--spacing-large);
    box-sizing: content-box;
  }

  &__file .link,
  &__file .p {
    padding: var(--spacing-large);
    box-sizing: border-box;
  }

  &__file .p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__file .link__text {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__file .dropdown {
    padding-right: var(--spacing-large);
  }

  &__file + .p {
    margin-top: var(--spacing-small);
  }
}
