.file {
  align-items: center;
  border: 1px solid var(--color-mute);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;

  > *[class*='icon']:first-child,
  > *[class*='Icon']:first-child {
    background-color: var(--color-gray-light);
    padding: var(--spacing-large);
    box-sizing: content-box;
  }

  .link,
  .p {
    padding: var(--spacing-large);
    box-sizing: border-box;
  }

  .p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link__text {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}
