.file-list {
  margin-bottom: var(--row-height);

  .utrecht-heading-1 {
    &--bottom {
      margin-bottom: calc(var(--row-height) / 2) !important;
    }
  }

  .utrecht-heading-4 {
    margin-bottom: var(--spacing-large);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: var(--spacing-medium);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__heading {
    display: flex;
  }
}

///
/// Contextual
///

.file-list + .utrecht-heading-2,
.file-list + .utrecht-paragraph {
  margin-top: var(--spacing-large);
}

.utrecht-heading-2 + .file-list {
  margin-top: var(--spacing-extra-large);
}

///
/// Legacy styling
///

.file-list + .h2,
.file-list + .p {
  margin-top: var(--spacing-large);
}
