.button-row {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  margin: var(--spacing-medium) 0;
  flex-direction: row;

  &--right {
    flex-direction: row-reverse;
    justify-content: end;
  }

  &--mobile-only {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
