/*
 Project/app specific overrides, coupled to the data model.

 Generic overrides should go in _admin_theme.scss
 */
@import './_vars';

/**
 * DJANGO ADMIN INDEX
 */
body {
  --djai-tab-bg: #{$color-primary}; // no fallback to default admin vars
  --djai-tab-bg--active: #{$color-secondary};
  --djai-tab-bg--hover: #{$color-primary-dark};
  --djai-tab-fg--active: #{$color-primary};
  --djai-dropdown-bg--active: var(--color-primary);
  --djai-dropdown-bg--hover: #{$color-primary};
}

$djai-padding: 40px;
$djai-padding--mobile: 15px;
$djai-padding--tablet: 30px;
$djai-border-width: 8px;

.djai-dropdown-menu {
  // use full width on mobile & tablet
  width: 100%;

  & &__drop {
    min-width: 250px !important;
  }

  // remove the header padding on mobile and tablet
  @at-root #header {
    padding-bottom: 0 !important;

    // overwrite admin '#header a:link' rule which is otherwise more specific
    .djai-dropdown-menu .djai-dropdown-menu__item--active:link,
    .djai-dropdown-menu .djai-dropdown-menu__item--active:visited {
      color: var(--djai-tab-fg--active);

      &:hover {
        color: var(--djai-tab-fg--hover);
      }
    }
  }

  /* Override for wider filer dropzone Taiga #359 */
  .js-filer-dropzone {
    min-width: 600px !important;
  }

  @at-root body.login #header {
    padding-bottom: 15px !important;
  }
}

/**
 * DJANGO-BETTER-ADMIN-ARRAYFIELD
 * Some elements are marked as !important because the style is loaded after
 * this theme.
 */
.dynamic-array-widget {
  button {
    background: $color_primary !important;
    color: $color_lightest !important;
    &:hover {
      background: $color_primary_dark !important;
      /* border: 2px solid $color_dark !important; */
    }

    /* Substitute theme style above with icon. Solves translation string as well. */
    &.add-array-item {
      background: url('../img/admin/plus-square-regular.svg') 0 0/14px 14px
        no-repeat !important;
      width: 14px;
      line-height: 16px;
      text-indent: -9999px;
      white-space: nowrap;
      margin: 0 0 5px 170px;
      display: block;

      &:focus {
        outline-width: 0;
      }
    }
  }

  /* Substitute with icon */
  .remove {
    background: url('../img/admin/trash-alt-regular.svg') 0 0/14px 14px
      no-repeat;
    width: 14px;
    line-height: 16px;

    .inline-deletelink {
      display: none;
    }
  }

  .array-item {
    input {
      width: $input-field-size;
    }
  }
}
